<h2 mat-dialog-title>View SMS Credit Allocation</h2>


<mat-dialog-content class="mat-typography">

    <app-view-info [userDetails] = "viewInfoData" *ngIf = "showView"></app-view-info> 
    <form [formGroup]="smsCreditAllocation" *ngIf = "!showView">
        <div class="row">
            <div class="col-4 pb-0">
                <div class="form-group">
                    <div class="form-group">
                        <label for="smsQuotaMetrix">{{labels.smsQuotaMatrix}}</label>
                        <app-vf-custom-select formControlName="smsApprover" [values]="smsQuotaMatrix" [isDirty]="isDirty" [isRequired]="'SMS quota metrix is mandatory'">
                        </app-vf-custom-select>
                    </div>
                    <!-- <app-custom-input formControlName="smsQuotaMetrix" [labelName]="labels.smsQuotaMetrix"
                        [id]="'smsQuotaMetrix'" [maxLength]="labels?.validationData.name.maxLength"
                        [isDirty]="isDirty">
                    </app-custom-input> -->
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="creditDate">{{labels.dateOfRequest}}</label>
                    <mat-form-field [ngClass]="{'inp-date':propertyFlag}" floatLabel  =  "never">
                        <input matInput [matDatepicker]="picker3" formControlName="dateOfRequest" (keyup)="detectDateKeyAction($event,'dateOfRequest')" required>
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                        <mat-placeholder>Choose The Date</mat-placeholder>
                    </mat-form-field>

                    <div class="date-picker-error" *ngIf="
              isDirty &&
              smsCreditAllocation.get('dateOfRequest').errors?.required
            ">
                                    Please Select Date
                                </div>

                </div>
            </div>

            <div class="col-4 pb-0">
                <div class="form-group">
                    <app-custom-input formControlName="totalCredit" 
                      [labelName]="labels.credit" [id]="'credit'" 
                      placeHolder =  "Enter the Credit"
                      [type]="'number'" 
                      [maxLength]="labels?.validationData.userName.maxLength" 
                      [isDirty]="isDirty" 
                      [isRequired]="'Credit is mandatory'" 
                      [mandatoryField]="true"
                      [isDisabledInp] = "showCredit">
                    </app-custom-input>
                    <div *ngIf="smsCreditAllocation.get('totalCredit').errors?.pattern" class="error-feedback">
                        <div>
                            {{'Please Enter Digits'}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4 pb-0">
                <div class="form-group">
                    <app-custom-input formControlName="usedCredit" 
                     [labelName]="labels.smsTraffic" [id]="'smstraffic'" 
                     placeHolder =  "Enter the SMS Traffic"
                     [type]="'number'" 
                     [maxLength]="labels?.validationData.smsTraffic.maxLength" 
                     [isDirty]="isDirty" 
                     [isRequired]="'SMS traffic is mandatory'" 
                     [mandatoryField]="true">
                    </app-custom-input>
                </div>
            </div>

            <div class="col-4 pb-0">
                <div class="form-group">
                    <app-custom-input formControlName="balanceCredit" 
                     [labelName]="labels.availableCredit" [id]="'availableCredit'" 
                     placeHolder =  "Enter the Available Credit"
                     [type]="'number'" 
                     [maxLength]="labels?.validationData.availableCredit.maxLength" 
                     [isDirty]="isDirty" 
                     [isRequired]="'Available credit is mandatory'" 
                     [mandatoryField]="true"
                     [isDisabledInp]="true">
                    </app-custom-input>
                </div>
            </div>
           
            <div class="col-4">
                <div class="form-group">
                    <label for="status">{{labels.status}}</label>
                    <app-vf-custom-select formControlName="status" [values]="statusList" [isDirty]="isDirty" [isRequired]="'Status is mandatory'" [isDisabled]="true">
                    </app-vf-custom-select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <app-custom-input formControlName="onApprovalOf" 
                     [labelName]="labels.onApprovalOf" [id]="'onApprovalOf'" 
                     placeHolder =  "Enter the Email"
                     [maxLength]="labels?.validationData.userName.maxLength"  
                     [isRequired]="'OnApproval is mandatory'" 
                     [mandatoryField]="true" 
                     [isDirty]="isDirty">
                    </app-custom-input>
                </div>
            </div>
            <!-- <div class="col-4">
                <div class="form-group">
                    <app-custom-input formControlName="remark" 
                     [labelName]="labels.remark" [id]="'remark'" 
                     placeHolder =  "Enter the Remark"
                     [maxLength]="labels?.validationData.userName.maxLength" 
                     [isDirty]="isDirty" 
                     [mandatoryField]="true"  
                     [isRequired]="'Remark is mandatory'">
                    </app-custom-input>
                </div>
            </div> -->
            <div class="col-4">
                <div class="form-group">
                    <app-custom-input formControlName="approvedBy" 
                     [labelName]="labels.statusChangedBy" [id]="'statusChangedBy'" 
                     placeHolder =  "Enter the Name"
                     [maxLength]="labels?.validationData.userName.maxLength" 
                     [isDirty]="isDirty" 
                     [isDisabledInp]="isDisabledInp">
                    </app-custom-input>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <app-custom-input formControlName="timeStamp" 
                    [labelName]="labels.timeStamp" [id]="'timeStamp'" 
                    placeHolder =  "Enter the Time"
                    [maxLength]="labels?.validationData.name.maxLength" 
                    [isDirty]="isDirty" 
                    [isDisabledInp]="isDisabledInp" 
                    [isDisabledInp]="propertyFlag">
                    </app-custom-input>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="remark">{{labels.remark}}</label>
                    <textarea class="remark" maxlength="3000" formControlName='remark' id="remark" placeHolder =  "Enter the Remark" required></textarea>
                    <div class="date-picker-error" *ngIf="
              isDirty &&
              smsCreditAllocation.get('remark').errors?.required
            ">
                                    Please Enter Remark
                                </div>
            
                </div>
            </div>
            
        </div>

    </form>

    <div class="row pt-3 pb-3 m-0" style="padding-top: 2rem !important;">
        <ng-container *ngIf="isWrite">
        <button class="btn btn-primary" type="submit" (click)="onSubmit()" *ngIf="!showView">Submit</button>
        <button class="btn btn-primary" type="submit" (click)="onEdit()" *ngIf="showView">Edit</button>
    </ng-container>
        <button mat-button (click)="closeDialog()" cdkFocusInitial>Close</button>
    </div>
</mat-dialog-content>



<app-data-saved-modal *ngIf="showDataSaveModal" [showSavedModal]="showDataSaveModal" [data]="dataValue" (yes)="saveYes()" (cancel)="saveCancel()"></app-data-saved-modal>