<div class="log">
    <div class="col-md-6 login shadow-lg p-4">

        <form class="col-md-12" [formGroup] = "form">
            <div class="logo_header text-center mb-4">
                <a class="logo_nic p-0"><img src="assets/images/nic_logo_login_1.png" class="nic_logo"></a>
            </div>
            <div class="col-md-10 mx-auto">
                <div class="col-md-10 mx-auto">
                    <label>Create New Password</label>
                </div>
                <div class="form-group mb-3">
                    <!-- <label for="exampleInputEmail1">Email address</label> -->
                    <input type="password" class="form-control" formControlName = "newPassword" id="newPasswordId" (input)="checkPattern($event)" aria-describedby="emailHelp" placeholder="New Password" required>
                    <!-- <small id="emailHelp" class="form-text text-muted">Enter Valid Email</small> -->
                      <!-- <small *ngIf = "password.errors.pattern" class="form-text text-muted">Password must contain atleast 6 characters with atleast one symbol and one numeric</small> -->

                      <div class="reset-password-error"  *ngIf="newValidPattern">
                    Password must contain atleast 6 characters with atleast one symbol and one numeric
                  </div>


                     
                     
                </div>
                <div class="form-group mb-3">
                    <!-- <label for="exampleInputEmail1">Email address</label> -->
                    <input type="password" class="form-control" formControlName = "confirmPassword"  id="confirmPasswordId" (input)="checkPattern($event)"  aria-describedby="confirmHelp" placeholder="Confirm Password">
                    <!-- <small id="emailHelp" class="form-text text-muted">Enter Valid Email</small> -->

                    <div class="reset-password-error"  *ngIf="confirmValidPattern">
                      Password must contain atleast 6 characters with atleast one symbol and one numeric
                    </div>


                </div>
                <mat-error class="mrg-lft" *ngIf="isError">
                  {{errorMsg}}
                </mat-error>
                <div class="col-md-12 d-flex justify-content-center mt-3">
                    <button type="submit" (click)="onSubmit()" matRipple class="col-md-4 btn btn-primary mouse-pointer">Submit</button>
                </div>

               
            </div>
        </form>
    </div>
</div>



<!-- <div class="container">
    
       Outer Row
      <div class="row justify-content-center">
    
        <div class="col-lg-8 mx-auto">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
            </div>
            <form class="user">
              <div class="form-group">
                <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter user Name...">
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox small">
                  <input type="checkbox" class="custom-control-input" id="customCheck">
                  <label class="custom-control-label" for="customCheck">Remember Me</label>
    </div>
</div>
<a routerLink="/users/Dashboard" class="btn btn-primary btn-user btn-block">
                Login
              </a>
</form>
</div>
</div> -->