.panel-title {
    margin-top: 6px;
}
.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    margin-left: -12px;
    -webkit-animation-name: cdk-text-field-autofill-end;
    animation-name: cdk-text-field-autofill-end;
    height: 32px;
    margin-top: -6px;
    width: 258;
    outline: none;
    border: none;
}
input.mat-chip-input{
    width: 260px;
}
.searching{
    margin-top: 1.1vw;
  }
  .topbar .navbar-search {
	width: 25rem
}

.topbar .navbar-search input {
	font-size: .85rem;
	height: auto;
}

table {
    width: 100%;
}

//Angular material Expandable tabel stylings
tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.form-group {
    font-size: 15px;
    color: black;
}

.proforma-invoice {
    margin-top: 32px;
    overflow-x: hidden;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

//   label{
//     display: inline-block;
//     margin-bottom: 0.5rem;
//     color: #858796 !important;
//     font-size:16px !important;
//     height:48px !important;
// }

th {
    font-size: 16px;
    font-weight: 500;
    background-color: #0e4d92;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f5f4f4;
}

.dis-block {
    display: block;
  }