<div class="row">

    
    <div class="col-4">
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
        </div>
          <label style="margin-bottom: 0px;
          margin-left: 10px;">Prakash</label>

       
    </div>
    </div>

  

      <div class="col-4">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Email Address</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">technical@nic.in</label>
  
         
      </div>
      </div>

      <div class="col-4">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Department</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">Ministory of Minority Affairs</label>
  
         
      </div>
      </div>


      <div class="col-4">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Designation</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">Officer</label>
  
         
      </div>
      </div>


      <div class="col-4">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Employee Code</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">23232</label>
  
         
      </div>
      </div>

      <div class="col-4">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Mobile Number</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">919867655433</label>
  
         
      </div>
      </div>

      <div class="col-4">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Telephone Number(Office)</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">+0442276644</label>
  
         
      </div>
      </div>

      <div class="col-4">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Official Address</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">address1 address2 address3</label>
  
         
      </div>
      </div>

      <div class="col-4">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">City</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">Chennai</label>
  
         
      </div>
      </div>

      <div class="col-4">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">State</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">Tamilnadu</label>
  
         
      </div>
      </div>


      <div class="col-4">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Pincode</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">600028</label>
  
         
      </div>
      </div>

      <div class="col-4">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Remark</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">Address Changed</label>
  
         
      </div>
      </div>

</div>