<div class="row">

    
    <div class="col-3">
      <!-- <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
        </div>
          <label style="margin-bottom: 0px;
          margin-left: 10px;">Prakash</label>

       
    </div> -->
    <label for="">Name</label><br>
    <span>Prakash</span>
    </div>

  

      <div class="col-3">
        <!-- <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Email Address</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">technical@nic.in</label>
  
         
      </div> -->

      <label for="">Email Address</label><br>
      <span>technical@nic.in</span>
      </div>

      <div class="col-3">
        <!-- <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Department</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">Ministory of Minority Affairs</label>
  
         
      </div> -->
      <label>Department</label><br>
      <span>Ministory of Minority Affairs</span>
      </div>


      <div class="col-3">
        <!-- <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Designation</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">Officer</label>
  
         
      </div> -->
      <label for="">Designation</label><br>
      <span>Officer</span>
      </div>


      <div class="col-3">
        <!-- <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Employee Code</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">23232</label>
  
         
      </div> -->
        <label for="">Employee Code</label><br>
        <span>23232</span>
      </div>

      <div class="col-3">
        <!-- <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Mobile Number</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">919867655433</label>
  
         
      </div> -->
      <label for="">Mobile Number</label><br>
      <span>919867655433</span>
      </div>

      <div class="col-3">
        <!-- <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Telephone Number(Office)</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">+0442276644</label>
  
         
      </div> -->
      <label>Telephone Number</label><br>
      <span>+0442276644</span>
      </div>

      <div class="col-3">
        <!-- <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Official Address</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">address1 address2 address3</label>
  
         
      </div> -->
      <label for="">Official Address</label><br>
      <span>Address1 Address2 Address3</span>
      </div>

      <div class="col-3">
        <!-- <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">City</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">Chennai</label>
  
         
      </div> -->
      <label for="">City</label><br>
      <span>Chennai</span>
      </div>

      <div class="col-3">
        <!-- <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">State</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">Tamilnadu</label>
  
         
      </div> -->
      <label for="">State</label><br>
      <span>Tamil Nadu</span>
      </div>


      <div class="col-3">
        <!-- <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Pincode</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">600028</label>
  
         
      </div> -->
      <label for="">PinCode</label><br>
      <span>60028</span>
      </div>

      <div class="col-3">
        <!-- <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Remark</span>
          </div>
            <label style="margin-bottom: 0px;
            margin-left: 10px;">Address Changed</label>
  
         
      </div> -->
      <label>Remark</label><br>
      <span>Address Changed</span>
      </div>

</div>