.mat-dialog-content {
    line-height: 40px !important;
    font-size: 18px !important;
}


::ng-deep.mat-checkbox-layout {
    padding-right: 60px !important;
}


mat-card.mat-card {
    margin-bottom: 8px;
    background: #0e4d92;
    color: #ffff;
}

.mat-dialog-container  {
    max-height: 300% !important;
    height: 115% !important;
}