<div class="main">
    <mat-tab-group>
        <h3><mat-tab label="User Info"><app-user-info [userObj] = "flag"></app-user-info></mat-tab></h3>
        <mat-tab label="Proforma Invoice"><app-process-details [userObj] = "flag"></app-process-details></mat-tab>
        <mat-tab label="Purchase Order"><app-purchase-order [userObj] = "flag"></app-purchase-order></mat-tab>
        <mat-tab label="Tax Invoice"><app-tax-invoice [userObj] = "flag"></app-tax-invoice></mat-tab>
      </mat-tab-group>

</div>