

<div class="proforma-invoice">
<form>
  <div class="row">
      <div class="col-1">
          <div class="form-group">
              <label for="invoiceNumber">Invoice Number</label>
              <input type="email" class="form-control" id="invoiceNumber" aria-describedby="invoiceNumberHelp">
              <small id="invoiceNumberHelp" class="form-text text-muted"></small>
            </div>
      </div>
      <div class="col-1">
          <div class="form-group">
              <label for="invoiceDate">Invoice Date</label>
              <input type="date" class="form-control" id="invoiceDate" aria-describedby="invoiceDateHelp">
              <small id="invoiceDateHelp" class="form-text text-muted"></small>
            </div>
      </div>
      <div class="col-1">
          <div class="form-group">
              <label for="exampleInputEmail1">Project Number</label>
              <input type="projectNumber" class="form-control" id="projectNumber" aria-describedby="projectNumberHelp">
              <small id="projectNumberHelp" class="form-text text-muted"></small>
            </div>
      </div>
      
      <div class="col-1">
        <div class="form-group">
            <label for="poNumber">PO Number</label>
            <input type="email" class="form-control" id="poNumber" aria-describedby="poNumberHelp">
            <small id="poNumberHelp" class="form-text text-muted"></small>
          </div>
          <!-- <div class="form-group">
            <label for="poNumber">PO Number</label>
            <select 
                name="poNumber" 
                id="poNumber" 
                class="form-control">
                <option>Rejected</option>
                <option>Approved</option>
                <option>Pending</option>
                <option>Rejected</option>
                <option>OnHold</option>
            </select>
        </div> -->
    </div>
    <div class="col-1">
      <div class="form-group">
          <label for="poDate">PO Date</label>
          <input type="date" class="form-control" id="poDate" aria-describedby="poDateHelp">
          <small id="poDateHelp" class="form-text text-muted"></small>
        </div>
  </div>
  <div class="col-1">
      <div class="form-group">
          <label for="Fromperiod">From Period</label>
          <input type="date" class="form-control" id="Fromperiod" aria-describedby="FromperiodHelp">
          <small id="FromperiodHelp" class="form-text text-muted"></small>
        </div>
  </div>
  <div class="col-1">
    <div class="form-group">
        <label for="Toperiod">To Period</label>
        <input type="date" class="form-control" id="Toperiod" aria-describedby="ToperiodHelp">
        <small id="ToperiodHelp" class="form-text text-muted"></small>
      </div>
</div>
    <div class="col-1">
        <div class="form-group">
            <label for="piAmount">PI Amount</label>
            <input type="number" class="form-control" id="piAmount" aria-describedby="piAmountHelp">
            <small id="piAmountHelp" class="form-text text-muted"></small>
          </div>
    </div>
    <div class="col-1">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
    </div>
    <div class="col-1">
        <!-- <div class="form-group">
            <label for="piStatus">PI Status</label>
            <input type="text" class="form-control" id="piStatus" aria-describedby="piStatusHelp">
            <small id="piStatusHelp" class="form-text text-muted"></small>
          </div> -->
          <div class="form-group">
            <label for="piStatus">PO Number</label>
            <select 
                name="piStatus" 
                id="piStatus" 
                class="form-control">
                <option>Rejected</option>
                <option>Approved</option>
                <option>Pending</option>
                <option>Rejected</option>
                <option>OnHold</option>
            </select>
        </div>
    </div>
    
    <div class="col-1">
      <!-- <div class="form-group">
          <label for="payMentStatus">Payment Status</label>
          <input type="text" class="form-control" id="payMentStatus" aria-describedby="payMentStatusHelp">
          <small id="payMentStatusHelp" class="form-text text-muted"></small>
        </div> -->
        <div class="form-group">
            <label for="payMentStatus">Payment Status</label>
            <select 
                name="payMentStatus" 
                id="payMentStatus" 
                class="form-control">
                <option>Received</option>
                <option>Pending</option>
                <option>On hold</option>
            </select>
        </div>
        
  </div>
  <div class="col-1">
      <div class="form-group">
          <label for="remark">Remark</label>
          <input type="email" class="form-control" id="remark" aria-describedby="remarkHelp">
          <small id="remarkHelp" class="form-text text-muted"></small>
        </div>
  </div>
  <div class="col-1">
    <div class="form-group">
      <label>Pdf Upload</label> <input type="file" class = "input-group" name="imagefile" accept="image/jpeg, image/png">
    </div>
  </div>
  </div>


  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>