<div class="col-md-10 main">
    <div class="proforma-invoice">
       

        <app-account-header [title]="'Proforma Invoice'" [accountName]="accountName" [status]="status" [user]="'invoice'"></app-account-header>



        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header matRipple collapsedHeight="40px" expandedHeight="43px">
                    <mat-panel-title>
                        <mat-icon style="padding-right: 30px !important;">add_circle</mat-icon> Add New Proforma Invoice
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="form">


                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">

                                <app-custom-input formControlName="accountName" 
                                 [labelName]="labels.accountName" [id]="'accountName'" 
                                 placeHolder =  "Enter the Account Name"
                                 [isRequired]="'Account Name is Mandatory'" 
                                 [maxLength]="labels?.validationData.userName.maxLength" 
                                 [type]="labels?.validationData.userName.type" 
                                 [isDirty]="isDirty"
                                 isDisabledInp = 'true'>
                                </app-custom-input>

                                <!-- <app-custom-input formControlName="invoiceNumber" [labelName]="labels.proformaIN" [id]="'invoiceNumber'" [isRequired]="'Invoice number is Mandatory'" [maxLength]="labels?.validationData.proformaIN.maxLength" [isDirty]="isDirty">

                    </app-custom-input> -->

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <!-- <label for="invoiceDate">Invoice Date</label>
                  

                    <mat-form-field>
                      <input matInput [matDatepicker]="picker1" formControlName="invoiceDate" required>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                    <div class="date-picker-error"  *ngIf="
                      isDirty &&
                      form.get('invoiceDate').errors?.required
                    ">
                        Please select date
                  </div> -->

                                <app-custom-input formControlName="invoiceNumber" 
                                    [labelName]="labels.proformaIN" [id]="'invoiceNumber'" 
                                    placeHolder = "Enter the Proforma Invoice Number"
                                    [isRequired]="'Invoice Number is Mandatory'" 
                                    [maxLength]="labels?.validationData.proformaIN.maxLength" 
                                    [type]="labels?.validationData.proformaIN.type"
                                    [isDirty]="isDirty">
                                </app-custom-input>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">


                                <app-custom-input formControlName="refNumber" 
                                  [labelName]="labels.refNo" [id]="'refNo'" 
                                  placeHolder =  "Enter the Reference Number"
                                  [isRequired]="'Reference Number is Mandatory'" 
                                  [maxLength]="labels?.validationData.refNo.maxLength" 
                                  [type]="labels?.validationData.refNo.type" 
                                  [isDirty]="isDirty">

                                </app-custom-input>


                            </div>
                        </div>

                        <div class="col-4">

                            <div class="form-group">

                                <app-custom-input formControlName="piOwner" 
                                    [labelName]="labels.piOwner" [id]="'piOwner'" 
                                    placeHolder =  "Enter the Proforma Invoice Owner"
                                    [isRequired]="'Owner is Mandatory'" 
                                    [maxLength]="labels?.validationData.piOwner.maxLength" 
                                    [type]="labels?.validationData.piOwner.type" 
                                    [isDirty]="isDirty">

                                </app-custom-input>



                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <!-- <label for="poDate">PO Date</label>
               
                <mat-form-field>
                  <input matInput [matDatepicker]="picker2" formControlName="poDate" required>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <div class="date-picker-error"  *ngIf="
                isDirty &&
                form.get('poDate').errors?.required
              ">
                  Please select date
            </div> -->

                                <app-custom-input formControlName="piAmount" 
                                   [labelName]="labels.piAmount" [id]="'piAmount'" 
                                   placeHolder =  "Enter the Amount"
                                   [isRequired]="'Amount is Mandatory'" 
                                   [maxLength]="labels?.validationData.piAmount.maxLength" 
                                   [type]="labels?.validationData.piAmount.type" 
                                   [isDirty]="isDirty">

                                </app-custom-input>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">

                                <app-custom-input formControlName="piTraffic" 
                                [labelName]="labels.piTraffic" [id]="'piTraffic'" 
                                placeHolder =  "Enter the Traffic"
                                [isRequired]="'Traffic is Mandatory'" 
                                [maxLength]="labels?.validationData.piTraffic.maxLength" 
                                [type]="labels?.validationData.piTraffic.type" 
                                [isDirty]="isDirty">

                                </app-custom-input>


                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">


                                <label for="dateFor">{{labels?.date}}</label>
                                <!-- <input type="date" class="form-control" id="dateFor" aria-describedby="dateHelp">
                    <small id="dateHelp" class="form-text text-muted"></small> -->

                                <mat-form-field floatLabel  =  "never">
                                    <input #dateFeild matInput required formControlName="date" [matDatepicker]="picker1" (keyup)="detectDateKeyAction($event,'date')" >
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                    <mat-placeholder>Select Date</mat-placeholder>
                                </mat-form-field>
                                <div class="date-picker-error" *ngIf="isDirty && form.get('date').errors?.required">
                                    Please Select Date
                                </div>



                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">


                                <!-- <label for="nicsiManager">NICSI Manager</label> -->

                                <!-- <app-vf-custom-select formControlName="nicsiManager" [values]="nicsiData"
            [isRequired]="'Please Select NICSI Manager'" [isDirty]="isDirty"></app-vf-custom-select> -->

                                <app-custom-input formControlName="nicsiManager" 
                                   [labelName]="labels.nicsiManager" [id]="'nicsiManager'" 
                                   placeHolder =  "Enter the NICSI Manager"
                                   [isRequired]="'NICSI Manager is Mandatory'" 
                                   [maxLength]="labels?.validationData.nicsiManager.maxLength" 
                                   [type]="labels?.validationData.nicsiManager.type"
                                   [isDirty]="isDirty">

                                </app-custom-input>

                                <!-- [maxLength]="labels?.validationData.nicsiManager.maxLength" [type]="labels?.validationData.nicsiManager.type"  -->
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="Fromperiod">Start Date</label>

                                <mat-form-field floatLabel  =  "never">
                                    <input matInput [matDatepicker]="picker3" formControlName="startDate" [max]="form.get('endDate').value" (keyup)="detectDateKeyAction($event,'startDate')" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                    <mat-placeholder>Select Start Date</mat-placeholder>
                                </mat-form-field>

                                <div class="date-picker-error" *ngIf="
                isDirty &&
                form.get('startDate').errors?.required
              ">
                                    Please Select Date
                                </div>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="Toperiod">End Date</label>

                                <mat-form-field floatLabel  =  "never">
                                    <input matInput [matDatepicker]="picker4" [min]="form.get('startDate').value" formControlName="endDate" (keyup)="detectDateKeyAction($event,'endDate')" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                    <mat-datepicker #picker4></mat-datepicker>
                                    <mat-placeholder>Select End Date</mat-placeholder>
                                </mat-form-field>

                                <div class="date-picker-error" *ngIf="
              isDirty &&
              form.get('endDate').errors?.required
            ">
                                    Please Select Date
                                </div>

                            </div>
                        </div>


                        <div class="col-4">

                            <div class="form-group">
                                <label for="piStatus" style="margin-bottom: -1em">PI Status</label>

                                <app-vf-custom-select formControlName="piStatus" [values]="piStatusData" [isRequired]="'Please Select PI Status'" [isDirty]="isDirty"></app-vf-custom-select>

                            </div>
                        </div>

                        <div class="col-4">

                            <div class="form-group">
                                <label for="payMentStatus" style="margin-bottom: -1em">Payment Status</label>

                                <app-vf-custom-select formControlName="paymentStatus" [values]="paymentStatusData" [isRequired]="'Please Select Payment Status'" [isDirty]="isDirty">
                                </app-vf-custom-select>

                            </div>

                        </div>
                        <!-- <div class="col-4">
                            <div class="form-group">
                                <app-custom-input formControlName="remark" 
                                   [labelName]="labels.remark" [id]="'remark'" 
                                   placeHolder =  "Enter the Remark"
                                   [isRequired]="'Remark is Mandatory'" 
                                   [maxLength]="labels?.validationData.userName.maxLength" 
                                   [isDirty]="isDirty" 
                                   [isDisabledInp]="propertyFlag">
                                </app-custom-input>
                            </div>
                        </div> -->

                        <div class="col-4">
                            <div class="form-group">
                                <label class="mb-0" for="remarks">{{labels.remark}}</label>
                                <textarea class="form-control mb-3" maxlength="3000" style="height: 56px;" placeholder="Enter the Remark" formControlName = 'remark' id="remarks" rows="3"></textarea>
                                    <div class="date-picker-error" *ngIf="isDirty && form.controls['remark'].errors?.required">
                                        Please Enter Remark
                                    </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="poBillable" class="mb-0">Upload Document</label>
                                <input type="file" class="form-control upload-choose-pad" formControlName = "importFile" id="poBillable" aria-describedby="poBillableHelp" (change) = "uploadFile($event.target.files)">
                                <small id="poBillableHelp" class="form-text text-muted"></small>
                            </div>
                        </div>
                    </div>



                    <div class="row pt-3 pb-3 m-0">

                        <div class="col-10">

                            <button class="btn btn-primary btn-lg pb-4" style="float: left;" (click)="createProformaInvoice()">Submit</button>

                        </div>

                       <div class="col-1" style="float: left;">
                        <button class="btn btn-primary btn-lg ml-3 pb-4" (click)="back()">Back</button>

                       </div>

                       <div class="col-1" style="float: left;">
                        <button class="btn btn-primary btn-lg ml-3 pb-4" (click)="next()">Next</button>

                       </div>

                    </div>
                </form>

            </mat-expansion-panel>
        </mat-accordion>

        <mat-card>
            <form [formGroup]="searchForm">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="dateFor" class="" style="visibility:hidden;">From Date</label>
                            <mat-form-field>
                                <mat-label>Search...</mat-label>
                                <input matInput type="text" formControlName="searchData">
                                <button mat-button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>search</mat-icon>
              </button>
                            </mat-form-field>


                        </div>
                    </div>


                    <div class="col-3">
                        <div class="form-group">


                            <label for="dateFor" style="visibility:hidden;">From Date</label>

                            <mat-form-field>
                                <mat-label>From Date</mat-label>
                                <input matInput [matDatepicker]="picker6" formControlName="searchFrom" (keyup)="detectDateKeyAction($event,'searchFrom')">
                                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                <mat-datepicker #picker6></mat-datepicker>
                            </mat-form-field>

                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">


                            <label for="dateFor" style="visibility:hidden;">To Date</label>

                            <mat-form-field>
                                <mat-label>To Date</mat-label>
                                <input matInput [min]="searchForm.get('searchFrom').value" [matDatepicker]="picker7" formControlName="searchTo" (keyup)="detectDateKeyAction($event,'searchTo')">
                                <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                                <mat-datepicker #picker7></mat-datepicker>
                            </mat-form-field>

                        </div>
                    </div>

                    <div class="row m-0 col-3">
                        <div class="col-md-3 form-group">

                            <div class="row mt-4 pt-2">
                                <button class="btn btn-primary" type="submit" (click)="onSearch()">Apply</button>
                            </div>

                        </div>

                        <div class="col-md-3 form-group">

                            <div class="row mt-4 pt-2">
                                <button class="btn btn-primary" type="submit" (click)="clear()">Clear</button>
                            </div>

                        </div>

                        <div class="col-md-6 form-group">

                            <div class="row mt-4 pt-2">
    
                                <button (click) = "getDownloadXls()" class="btn btn-primary download" type="button">Export as CSV</button>
    
    
                            </div>
    
                        </div>


                    </div>




                </div>
            </form>
        </mat-card>


        <!--Material Table-->

        <!-- <button class="btn btn-primary download download-pad"  (click)="getDownloadXls()" type="button">Export as CSV</button> -->

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="custom-table">

                <ng-container matColumnDef="InvoiceNo">
                    <th mat-header-cell *matHeaderCellDef class="pl-0">Proforma Invoice No </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> {{element.piNumber}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="accountName">
                    <th mat-header-cell *matHeaderCellDef> Account Name </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> {{element.AccountName}} </td>
                </ng-container>

                <ng-container matColumnDef="projectNumber">
                    <th mat-header-cell *matHeaderCellDef> Project Number </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> {{element.projectNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="piAmt">
                    <th mat-header-cell *matHeaderCellDef> PI Amount </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> {{element.piAmount}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> 
                        <button mat-button matTooltip = "View and Edit"  (click)="OnEdit(element)" class="background-none">
                            <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                        </button> 
                    </td>
                </ng-container>

                <ng-container matColumnDef="reminder">
                    <th mat-header-cell *matHeaderCellDef> Reminder </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> 
                        <button mat-button matTooltip = "Send Remainder" (click)="sendReminder(element)" class="background-none">
                            <i class="fa fa-paper-plane fa-lg mr-2" aria-hidden="true"></i>
                        </button> 
                    </td>
                </ng-container>

                <ng-container matColumnDef="Escalation">
                    <th mat-header-cell *matHeaderCellDef class="pr-0"> Escalation </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> 
                        <button matTooltip = "Send Escalation" mat-button (click)="sendEscalation(element)" class="background-none">
                        <!-- <i class="fa fa-exclamation-circle mr-2" aria-hidden="true"></i> -->
                        <!-- <span class="material-icons">
                            report
                            </span> -->
                            <mat-icon>
                                report
                            </mat-icon>
                    </button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

           
            <mat-paginator class="font-paginator"  
                 [hidePageSize]= "true" 
                 [pageSize]="pageSize"
                 [length] = "length"
                 (page) = getServerData($event)
                 showFirstLastButtons>
            </mat-paginator>
        </div>
        <!--Material Table End-->
        <div class="m-5"></div>
    </div>

</div>

<app-email-modal [showModal]="showEmailModal" *ngIf="showEmailModal" [data]="modalData" (okay)="onOkay()" (cancel)="onCancel()"></app-email-modal>


<app-data-saved-modal *ngIf="showDataSaveModal" [showSavedModal]="showDataSaveModal" [data]="dataValue" (yes)="showDataSaveModal = !showDataSaveModal"></app-data-saved-modal>