
<div class="col-md-10 main"> 
<div class="proforma-invoice">
  <h1 class="h3 mb-1 mt-1 text-gray-800 mb-3" matRipple style="font-family: arial;">Proforma Invoice
  
    <div style="text-align: right;color:grey;font-size:20px">
      <span>
        <span style="color: #0d4d92;">Account Name:</span> 
        <span>{{ accountName || 'arul.auth'}}</span></span>
        
        <span style="padding:10px;">
          
          <span style="color: #0d4d92;"> Status: </span> 
          <span>{{ status || 'Active'}}</span>
        </span>
    </div>
  </h1>

 
 
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header matRipple>
        <mat-panel-title>
         <mat-icon>add_circle</mat-icon> Add New Proforma Invoice
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="form">
        

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    
                    <app-custom-input formControlName="accountName" 
                    [labelName]="labels.accountName" 
                    [id]="'accountName'" 
                    [isRequired]="'Account name is mandatory'" 
                    [maxLength]="labels?.validationData.userName.maxLength" 
                    [type]="labels?.validationData.userName.type" 
                    [isDirty]="isDirty">
                    </app-custom-input>

                    <!-- <app-custom-input formControlName="invoiceNumber" [labelName]="labels.proformaIN" [id]="'invoiceNumber'" [isRequired]="'Invoice number is mandatory'" [maxLength]="labels?.validationData.proformaIN.maxLength" [isDirty]="isDirty">

                    </app-custom-input> -->

                  </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                     <!-- <label for="invoiceDate">Invoice Date</label>
                  

                    <mat-form-field>
                      <input matInput [matDatepicker]="picker1" formControlName="invoiceDate" required>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                    <div class="date-picker-error"  *ngIf="
                      isDirty &&
                      form.get('invoiceDate').errors?.required
                    ">
                        Please select date
                  </div> -->

                  <app-custom-input formControlName="invoiceNumber" 
                  [labelName]="labels.proformaIN" 
                  [id]="'invoiceNumber'" 
                  [isRequired]="'Invoice number is mandatory'" 
                  [maxLength]="labels?.validationData.proformaIN.maxLength" 
                  [type]="labels?.validationData.proformaIN.type" 
                  [isDirty]="isDirty">
                  </app-custom-input>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                   

                    <app-custom-input formControlName="refNumber" 
                    [labelName]="labels.refNo" 
                    [id]="'refNo'" 
                    [isRequired]="'Reference number is mandatory'" 
                    [maxLength]="labels?.validationData.refNo.maxLength" 
                    [type]="labels?.validationData.refNo.type" 
                    [isDirty]="isDirty">

                    </app-custom-input>


                  </div>
            </div>
            
            <div class="col-4">
             
                 <div class="form-group">
                  
                  <app-custom-input formControlName="piOwner" 
                  [labelName]="labels.piOwner" 
                  [id]="'piOwner'" 
                  [isRequired]="'Owner is mandatory'" 
                  [maxLength]="labels?.validationData.piOwner.maxLength" 
                  [type]="labels?.validationData.piOwner.type" 
                  [isDirty]="isDirty">

                  </app-custom-input>


                 
              </div> 
          </div>
          <div class="col-4">
            <div class="form-group">
                <!-- <label for="poDate">PO Date</label>
               
                <mat-form-field>
                  <input matInput [matDatepicker]="picker2" formControlName="poDate" required>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <div class="date-picker-error"  *ngIf="
                isDirty &&
                form.get('poDate').errors?.required
              ">
                  Please select date
            </div> -->

            <app-custom-input formControlName="piAmount" 
            [labelName]="labels.piAmount" 
            [id]="'piAmount'" 
            [isRequired]="'Amount is mandatory'" 
            [maxLength]="labels?.validationData.piAmount.maxLength" 
            [type]="labels?.validationData.piAmount.type" 
            [isDirty]="isDirty">

            </app-custom-input>

              </div>
        </div>
        <div class="col-4">
          <div class="form-group">

            <app-custom-input formControlName="piTraffic" 
            [labelName]="labels.piTraffic" 
            [id]="'piTraffic'" 
            [isRequired]="'Traffic is mandatory'" 
            [maxLength]="labels?.validationData.piTraffic.maxLength" 
            [type]="labels?.validationData.piTraffic.type" 
            [isDirty]="isDirty">

            </app-custom-input>


          </div>
        </div>
        <div class="col-4">
          <div class="form-group">

           
            <label for="dateFor">{{labels?.date}}</label>
            <!-- <input type="date" class="form-control" id="dateFor" aria-describedby="dateHelp">
                    <small id="dateHelp" class="form-text text-muted"></small> -->

            <mat-form-field>
              <input matInput required formControlName="date" 
              [matDatepicker]="picker1">
              <mat-datepicker-toggle matSuffix [for]="picker1" 
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <div class="date-picker-error"  *ngIf="
            isDirty &&
            form.get('date').errors?.required
          ">
              Please select date
        </div>



          </div>
        </div>
        <div class="col-4">
          <div class="form-group">


            <!-- <label for="nicsiManager">NICSI Manager</label> -->
                 
            <!-- <app-vf-custom-select formControlName="nicsiManager" [values]="nicsiData"
            [isRequired]="'Please Select NICSI Manager'" [isDirty]="isDirty"></app-vf-custom-select> -->

            <app-custom-input formControlName="nicsiManager" [labelName]="labels.nicsiManager" [id]="'nicsiManager'" [isRequired]="'NICSI Manager is mandatory'" [maxLength]="labels?.validationData.nicsiManager.maxLength" [type]="labels?.validationData.nicsiManager.type" [isDirty]="isDirty">

            </app-custom-input>

            <!-- [maxLength]="labels?.validationData.nicsiManager.maxLength" [type]="labels?.validationData.nicsiManager.type"  -->
          </div>
        </div>
        <div class="col-4">
            <div class="form-group">
               <label for="Fromperiod">Start Date</label>
                
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" 
                  formControlName="startDate" 
                  [max]= "form.get('endDate').value" required>
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>

                <div class="date-picker-error"  *ngIf="
                isDirty &&
                form.get('startDate').errors?.required
              ">
                  Please select date
            </div>

              </div>
        </div>
        <div class="col-4">
          <div class="form-group">
               <label for="Toperiod">End Date</label>
            
              <mat-form-field>
                <input matInput [matDatepicker]="picker4" [min]= "form.get('startDate').value" formControlName="endDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>

              <div class="date-picker-error"  *ngIf="
              isDirty &&
              form.get('endDate').errors?.required
            ">
                Please select date
          </div>
              
            </div>
      </div>
         
         
          <div class="col-4">
             
                <div class="form-group">
                  <label for="piStatus">PI Status</label>
                 
                  <app-vf-custom-select formControlName="piStatus" [values]="piStatusData"
                  [isRequired]="'Please Select PI Status'" [isDirty]="isDirty"></app-vf-custom-select>

              </div>
          </div>
          
          <div class="col-4">
           
              <div class="form-group">
                  <label for="payMentStatus">Payment Status</label>
                 
                  <app-vf-custom-select formControlName="paymentStatus" 
                  [values]="paymentStatusData"
                  [isRequired]="'Please Select Payment Status'" 
                  [isDirty]="isDirty">
                </app-vf-custom-select>

              </div>
              
        </div>
      
        <div class="col-4">
          <div class="form-group">
              <label for="poBillable">Upload Document</label>
              <input type="file" class="form-control upload-choose-pad" id="poBillable" aria-describedby="poBillableHelp">
              <small id="poBillableHelp" class="form-text text-muted"></small>
            </div>
      </div>
        </div>
      
      
        
        <div class="row pt-3 pb-3 m-0">
          <button  class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>
        </div> 
      </form>
      
    </mat-expansion-panel>
  </mat-accordion>

  <mat-card>
   <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-3">
          <div class="form-group searching">

            <mat-form-field class="example-form-field p-0">
              <mat-label>Search...</mat-label>
              <input matInput type="text" formControlName="searchData">
              <button mat-button  matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          

            </div>
        </div>


        <div class="col-3">
          <div class="form-group">

           
            <label for="dateFor">From Date</label>
            
            <mat-form-field>
              <input matInput 
              [matDatepicker]="picker6" formControlName="searchFrom">
              <mat-datepicker-toggle matSuffix [for]="picker6" 
              ></mat-datepicker-toggle>
              <mat-datepicker #picker6></mat-datepicker>
            </mat-form-field>
            
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">

           
            <label for="dateFor">To Date</label>
            
            <mat-form-field>
              <input matInput  
              [matDatepicker]="picker7" formControlName="searchTo">
              <mat-datepicker-toggle matSuffix [for]="picker7" 
              ></mat-datepicker-toggle>
              <mat-datepicker #picker7></mat-datepicker>
            </mat-form-field>
            
          </div>
        </div>

        <div class="col-2">
          <div class="form-group">

            <div class="row pt-3 pb-3 m-0">
              <button  class="btn btn-primary" type="submit" (click)="onSearch()">Apply</button>
              </div>
              
        </div> 

      </div>

      <div class="col-1" style="margin-left:-8vw">
        <div class="form-group">

          <div class="row pt-3 pb-3 m-0">
            <button  class="btn btn-primary" type="submit" (click)="clear()">Clear</button>
            </div>
            
      </div> 

    </div>

        
    </div>
  </form>
  </mat-card>
   

<!--Material Table-->



<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class=" ">

    <ng-container matColumnDef="InvoiceNo">
      <th mat-header-cell *matHeaderCellDef>Proforma Invoice No </th>
      <td mat-cell *matCellDef="let element" class="value-bold"> {{element.invoiceNo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="accountName">
      <th mat-header-cell *matHeaderCellDef> Account Name </th>
      <td mat-cell *matCellDef="let element" class="value-bold"> {{element.accountName}} </td>
    </ng-container>

    <ng-container matColumnDef="projectNumber">
      <th mat-header-cell *matHeaderCellDef> Project Number </th>
      <td mat-cell *matCellDef="let element" class="value-bold"> {{element.projectNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="piAmt">
      <th mat-header-cell *matHeaderCellDef> PI Amount </th>
      <td mat-cell *matCellDef="let element" class="value-bold"> {{element.piAmt}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="value-bold"> <button (click) = "OnEdit(element)">View/Edit</button> </td>
    </ng-container>

    <ng-container matColumnDef="remainder">
      <th mat-header-cell *matHeaderCellDef> Remainder </th>
      <td mat-cell *matCellDef="let element" class="value-bold"> <button>Send</button> </td>
    </ng-container>

    <ng-container matColumnDef="Reminder">
      <th mat-header-cell *matHeaderCellDef> Reminder </th>
      <td mat-cell *matCellDef="let element" class="value-bold"> <button mat-button>Send Reminder</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="font-paginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<!--Material Table End-->
<div class="m-5"></div>
</div>

</div>