.text-gray-800 {
    color: #5a5c69!important;
}

.mb-0,
.my-0 {
    margin-bottom: 0!important;
}

.h3 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: 'FontAwesome';
}

table {
    width: 100%;
}

th {
    font-size: 16px;
    font-weight: 500;
    background-color: #0e4d92;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f5f4f4;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-group {
    font-size: 15px;
    color: black;
}

.panel-title {
    padding-top: 7px;
    padding-left: 10px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.auto-mrg-top {
    margin-top: 1vw;
}

.download-pad {
    margin: 1vw 2vw;
}

.mrg-lft {
    margin: 2vw;
}

 ::ng-deep .mat-select-value {
    font-size: 15px !important;
}

 ::ng-deep .mat-option-text {
    font-size: 15px !important;
}

 ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 10px !important;
}

mat-form-field {
    margin-top: -0.4vw;
}

.mat-paginator {
    display: block;
    margin-bottom: 50px !important;
}

::ng-deep .mat-form-field-flex {
    margin-top: -24px !important;
}


::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0 13px 0px !important;
  }
  
  th.mat-header-cell {
    flex: 0 16% !important;
    width: 16% !important;
    line-height: 20px !important;
    text-align: center;
  }
  
  td.mat-cell {
    line-height: 24px !important;
    text-align: center;
    flex: 0 16% !important;
    width: 16% !important;
    line-height: 20px !important;
  }