.form-group{
    font-size: 15px;
    color: black;
}

.tax-invoice{
    
        margin-top: 32px;
        overflow-x: hidden;
}

th{
  font-size: 16px;
  font-weight: 500;
  background-color: #0e4d92;
    color: #fff;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out}
  //   label{
  //     display: inline-block;
  //     margin-bottom: 0.5rem;
  //     color: #858796 !important;
  //     font-size:16px !important;
  //     height:67px !important;
  // }
  // button.btn.btn-primary {
  //   background-color: #4268d6 !important;
  //   border: 1px solid #4268d6!important;
  // }

  table {
    width: 100%;
  }
  tr:nth-child(even) {background-color:#f5f4f4;}

  .material-icons{
    padding-right: 32px;
  }
  
  .mat-expansion-panel-header {
    line-height: 24px;
    margin-bottom: 10px;
    background-color: #dfdfdf !important;
    font-weight: 500 !important;
  }
  
  .mat-expansion-panel-header:hover #mat-expansion-panel-header-0 {
  
    background-color: #dfdfdf !important;
  }

  .upload-choose-pad{
    padding:3px;
  }

  ::ng-deep .mat-select-value {
    font-size: 15px !important;
  }

  ::ng-deep .mat-option-text {
    font-size: 15px !important;
  }

  mat-form-field{
    margin-top: -0.4vw;
}
