.form-group{
    font-size: 15px;
    color: black;
}

.tax-invoice{
    
        margin-top: 32px;
        overflow-x: hidden;
}

th{
  font-size: 16px;
  font-weight: 500;
  color: #0e4d92;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out}
  //   label{
  //     display: inline-block;
  //     margin-bottom: 0.5rem;
  //     color: #858796 !important;
  //     font-size:16px !important;
  //     height:67px !important;
  // }
  // button.btn.btn-primary {
  //   background-color: #4268d6 !important;
  //   border: 1px solid #4268d6!important;
  // }

  table {
    width: 100%;
  }
  tr:nth-child(even) {background-color:#f5f4f4;}