<div class="col-md-10 main">
    <div class="tax-invoice">

        <app-account-header [title]="'Tax Invoice'" [accountName]="accountName" [status]="status" [user]="'invoice'"></app-account-header>


        <!--Mat Expansion Panel -->
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header matRipple>
                    <mat-panel-title>
                        <mat-icon style="padding-right: 30px !important;">add_circle</mat-icon> Add New Tax Invoice
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form (submit)="taxInForm()" [formGroup]="taxInvoiceForm">

                    <div class="row">

                        <div class="col-4">
                            <div class="form-group">
                                <app-custom-input formControlName="userName" [isRequired]="'UserName is Mandatory'" [labelName]="labels.userName" [maxLength]="labels?.validationData?.userName?.maxLength" [type]="labels?.validationData?.userName?.type" [isDirty]="isDirty">
                                </app-custom-input>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <app-custom-input formControlName="projectNo" [isRequired]="'Project Number is Mandatory'" [labelName]="labels.projectNo" [maxLength]="labels?.validationData?.projectNo?.maxLength" [isDirty]="isDirty">
                                </app-custom-input>
                                <div *ngIf="taxInvoiceForm.get('projectNo').errors?.pattern" class="error-feedback">
                                    <div>
                                        {{'Please Enter Digits'}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <app-custom-input formControlName="poNumber" [isRequired]="'PO Number is Mandatory'" [labelName]="labels?.poNumber" [maxLength]="labels?.validationData?.poNumber?.maxLength" [type]="labels?.validationData?.poNumber?.type" [isDirty]="isDirty">
                                </app-custom-input>

                            </div>
                        </div>




                        <div class="col-4">
                            <div class="form-group">
                                <label for="InvoiceDate">{{labels?.poDate}}</label>

                                <mat-form-field>
                                    <input matInput formControlName="poDate" required [matDatepicker]="poDateId" (keyup)="detectDateKeyAction($event,'poDate')">
                                    <mat-datepicker-toggle matSuffix [for]="poDateId"></mat-datepicker-toggle>
                                    <mat-datepicker #poDateId></mat-datepicker>
                                </mat-form-field>
                                <div class="date-picker-error" *ngIf="
                isDirty &&
                taxInvoiceForm.get('poDate').errors?.required
              ">
                                    Please Select PO Date
                                </div>
                            </div>
                        </div>


                        <!-- <div class="col-4">
            <div class="form-group">
                <app-custom-input formControlName="projectNo" 
                [isRequired]="'Project Number is Mandatory'" 
                [labelName]="labels?.projectNo" 
                [maxLength]="labels?.validationData?.projectNo?.maxLength"
                [isDirty]="isDirty">
                </app-custom-input> 
              </div>
        </div> -->



                        <div class="col-4">
                            <div class="form-group">
                                <label for="fromDate">{{labels?.fromDate}}</label>
                                <mat-form-field>
                                    <input matInput formControlName="fromDate" required [matDatepicker]="fromDateId" (keyup)="detectDateKeyAction($event,'fromDate')">
                                    <mat-datepicker-toggle matSuffix [for]="fromDateId"></mat-datepicker-toggle>
                                    <mat-datepicker #fromDateId></mat-datepicker>
                                </mat-form-field>
                                <div class="date-picker-error" *ngIf="
      isDirty &&
      taxInvoiceForm.get('fromDate').errors?.required
    ">
                                    Please Select From Date
                                </div>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="toDate">{{labels?.toDate}}</label>
                                <mat-form-field>
                                    <input matInput formControlName="toDate" required [matDatepicker]="toDateId" [min]="taxInvoiceForm.get('toDate').value" (keyup)="detectDateKeyAction($event,'toDate')">
                                    <mat-datepicker-toggle matSuffix [for]="toDateId"></mat-datepicker-toggle>
                                    <mat-datepicker #toDateId></mat-datepicker>
                                </mat-form-field>
                                <div class="date-picker-error" *ngIf="isDirty && taxInvoiceForm.get('toDate').errors?.required">
                                    Please Select To Date
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <app-custom-input formControlName="poBillable" [isRequired]="'Billable Amount is Mandatory'" [labelName]="labels?.poBillable" [type]="labels?.validationData?.poBillable.type" [maxLength]="labels?.validationData?.poBillable.maxLength" [isDirty]="isDirty">
                                </app-custom-input>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <app-custom-input formControlName="invoiceAmount" [isRequired]="'Invoice Amount is Mandatory'" [labelName]="labels?.invoiceAmount" [type]="labels?.validationData?.invoiceAmount?.type" [maxLength]="labels?.validationData?.invoiceAmount?.maxLength" [isDirty]="isDirty">
                                </app-custom-input>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <app-custom-input formControlName="taxIN" [isRequired]="'Tax Invoice Number is Mandatory'" [labelName]="labels?.taxIN" [maxLength]="labels?.validationData?.taxIN?.maxLength" [type]="labels?.validationData?.taxIN?.type" [isDirty]="isDirty">
                                </app-custom-input>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="dateFor">{{labels?.submittedDate}}</label>

                                <mat-form-field>
                                    <input matInput required formControlName="submittedOn" [matDatepicker]="sumbittedDatePicker" (keyup)="detectDateKeyAction($event,'submittedOn')">
                                    <mat-datepicker-toggle matSuffix [for]="sumbittedDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #sumbittedDatePicker></mat-datepicker>
                                </mat-form-field>
                                <div class="date-picker-error" *ngIf="
    isDirty &&
    taxInvoiceForm.get('submittedOn').errors?.required
  ">
                                    Please Select Date
                                </div>

                            </div>
                        </div>


                        <div class="col-4">
                            <div class="form-group">
                                <label for="">{{labels?.invoiceStatus}}</label>
                                <app-vf-custom-select formControlName="invoiceAmountPaid" [values]="invoiceStatusList" [isRequired]="'Please Select the Invoice Status'" [isDirty]="isDirty"></app-vf-custom-select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <app-custom-input formControlName="invoiceAmountPaid" [isRequired]="'Invoice Amount Paid is Mandatory'" [labelName]="labels?.invoiceAmountPaid" [maxLength]="labels?.validationData?.invoiceAmountPaid.maxLength" [type]="labels?.validationData?.invoiceAmountPaid.type"
                                    [isDirty]="isDirty"></app-custom-input>
                            </div>
                        </div>


                        <div class="col-4">
                            <div class="form-group">
                                <app-custom-input formControlName="tds" [isRequired]="'TDS is Required'" [labelName]="labels?.tds" [maxLength]="labels?.validationData?.tds.maxLength" [type]="labels?.validationData?.tds.type" [isDirty]="isDirty">
                                </app-custom-input>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <app-custom-input formControlName="penalty" [isRequired]="'Penalty is Mandatory'" [labelName]="labels?.penalty" [maxLength]="labels?.validationData?.penalty.maxLength" [type]="labels?.validationData?.penalty.type" [isDirty]="isDirty">
                                </app-custom-input>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <app-custom-input formControlName="shortPay" [isRequired]="'Short Pay is Mandatory'" [labelName]="labels?.shortPay" [maxLength]="labels?.validationData?.shortPay.maxLength" [type]="labels?.validationData?.shortPay.type" [isDirty]="isDirty">
                                </app-custom-input>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="paymentStatus">{{labels.paymentStatus}}</label>
                                <app-vf-custom-select formControlName="paymentStatus" [values]="paymentStatus" [isRequired]="'Please Select Payment Status'" [isDirty]="isDirty"></app-vf-custom-select>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <app-custom-input formControlName="remark" [labelName]="labels.remark" [id]="'remark'" [isRequired]="'Remark is Mandatory'" [maxLength]="labels?.validationData.userName.maxLength" [isDirty]="isDirty" [isDisabledInp]="propertyFlag">
                                </app-custom-input>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="documentUpload">{{labels?.uploadDoc}}</label>
                                <input type="file" class="form-control upload-choose-pad" formControlName="uploadDoc" id="documentUpload">
                                <small id="poBillableHelp" class="form-text text-muted"></small>
                            </div>
                        </div>
                    </div>

                    <!--Second Row-->

                    <div class="row">

                    </div>
                    <!--Second Row End-->
                    <div class="row pt-3 pb-3 m-0">
                       

                        <div class="col-11">

                            <button class="btn btn-primary" style="float:left" type="submit">Send Email</button>
                        </div>

                       <div class="col-1" style="float: left;">
                        <button class="btn btn-primary ml-3" (click)="back()">Back</button>

                       </div>

                       
                    </div>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
        <!--Mat Expand  Panel End-->
        <mat-card>
            <form [formGroup]="searchForm">
             <div class="row">
               <div class="col-3">
                   <div class="form-group">
                    <label for="dateFor" class="" style="visibility:hidden;">From Date</label>
                     <mat-form-field>
                       <mat-label>Search...</mat-label>
                       <input matInput type="text" formControlName="searchData">
                       <button mat-button  matSuffix mat-icon-button aria-label="Clear">
                         <mat-icon>search</mat-icon>
                       </button>
                     </mat-form-field>
                   
         
                     </div>
                 </div>
         
         
                 <div class="col-3">
                   <div class="form-group">
         
                    
                     <label for="dateFor">From Date</label>
                     
                     <mat-form-field>
                       <input matInput 
                       [matDatepicker]="picker6" formControlName="searchFrom" (keyup)="detectDateKeyAction($event,'searchFrom')">
                       <mat-datepicker-toggle matSuffix [for]="picker6" 
                       ></mat-datepicker-toggle>
                       <mat-datepicker #picker6></mat-datepicker>
                     </mat-form-field>
                     
                   </div>
                 </div>
         
                 <div class="col-3">
                   <div class="form-group">
         
                    
                     <label for="dateFor">To Date</label>
                     
                     <mat-form-field>
                       <input matInput  [min]="searchForm.get('searchFrom').value"
                       [matDatepicker]="picker7" formControlName="searchTo" (keyup)="detectDateKeyAction($event,'searchTo')">
                       <mat-datepicker-toggle matSuffix [for]="picker7" 
                       ></mat-datepicker-toggle>
                       <mat-datepicker #picker7></mat-datepicker>
                     </mat-form-field>
                     
                   </div>
                 </div>
         
                 <div class="row m-0 col-3">
                    <div class="col-md-3 form-group">

                        <div class="row mt-4 pt-2">
                            <button class="btn btn-primary" type="submit" (click)="onSearch()">Apply</button>
                        </div>

                    </div>

                    <div class="col-md-3 form-group">

                        <div class="row mt-4 pt-2">
                            <button class="btn btn-primary" type="submit" (click)="clear()">Clear</button>
                        </div>

                    </div>

                    <div class="col-md-6 form-group">

                        <div class="row mt-4 pt-2">

                            <button (click) = "getDownloadXls()" class="btn btn-primary download" type="button">Export as CSV</button>


                        </div>

                    </div>


                </div>
         
                 
             </div>
           </form>
           </mat-card>

        <!-- <button class="btn btn-primary download download-pad" (click)="getDownloadXls()" type="submit">Export as CSV</button> -->


        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="InvoiceNo">
                    <th mat-header-cell *matHeaderCellDef>Tax Invoice No </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> {{element.invoiceNo}} </td>
                </ng-container>

                <ng-container matColumnDef="projectNo">
                    <th mat-header-cell *matHeaderCellDef> Project No </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> {{element.projectNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="piAmt">
                    <th mat-header-cell *matHeaderCellDef> Tax Invoice Amount </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> {{element.piAmt}} </td>
                </ng-container>

                <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef> Remarks </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> {{element.remarks}} </td>
                </ng-container>

                <ng-container matColumnDef="Active">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> <button (click)="OnEdit(element)" class="background-none"><i class="fa fa-eye mr-2" aria-hidden="true"></i><i class="fa fa-pencil " aria-hidden="true"></i></button> </td>
                </ng-container>

                <!-- <ng-container matColumnDef="remainder">
      <th mat-header-cell *matHeaderCellDef> Remainder </th>
      <td mat-cell *matCellDef="let element" class="value-bold"> <button>Send</button> </td>
    </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator class="font-paginator" [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>

        </div>
        <!--Material Table End-->

        <div class="m-5"></div>
    </div>

</div>