<div class="tax-invoice">
<form>
    <!--FIRST ROW-->
    <div class="row">
         <div class="col-1">
            <div class="form-group">
                <label for="InvoiceNumber">Invoice Number</label>
                <input type="email" class="form-control" id="InvoiceNumber" aria-describedby="InvoiceNumberHelp">
                <small id="InvoiceNumberHelp" class="form-text text-muted"></small>
              </div>
        </div>
         <div class="col-1">
            <div class="form-group">
                <label for="InvoiceDate">Invoice Date</label>
                <input type="date" class="form-control" id="InvoiceDate" aria-describedby="InvoiceDateHelp">
                <small id="InvoiceDateHelp" class="form-text text-muted"></small>
              </div>
        </div>
         <div class="col-1">
            <div class="form-group">
                <label for="projectNumber">Project Number</label>
                <input type="email" class="form-control" id="projectNumber" aria-describedby="projectNumberHelp">
                <small id="projectNumberHelp" class="form-text text-muted"></small>
              </div>
        </div>
         <div class="col-1">
            <div class="form-group">
                <label for="poNumber">PO Number</label>
                <input type="number" class="form-control" id="poNumber" aria-describedby="poNumberHelp">
                <small id="poNumberHelp" class="form-text text-muted"></small>
              </div>
        </div>
         <div class="col-1">
            <div class="form-group">
                <label for="poDate">PO Date</label>
                <input type="email" class="form-control" id="poDate" aria-describedby="poDateHelp">
                <small id="poDateHelp" class="form-text text-muted"></small>
              </div>
        </div>
         <div class="col-1">
            <div class="form-group">
                <label for="fromDate">From Period</label>
                <input type="date" class="form-control" id="fromDate" aria-describedby="fromDateHelp">
                <small id="fromDateHelp" class="form-text text-muted"></small>
              </div>
        </div>
         <div class="col-1">
            <div class="form-group">
                <label for="toDate">To Period</label>
                <input type="date" class="form-control" id="toDate" aria-describedby="toDateHelp">
                <small id="toDateHelp" class="form-text text-muted"></small>
              </div>
        </div>
       <div class="col-1">
          <div class="form-group">
              <label for="invoiceAmount">Invoice Amount</label>
              <input type="number" class="form-control" id="invoiceAmount" aria-describedby="invoiceAmountHelp">
              <small id="invoiceAmountHelp" class="form-text text-muted"></small>
            </div>
      </div>
       <div class="col-1">
          <div class="form-group">
              <label for="payStaus">Payment Status</label>
              <input type="text" class="form-control" id="payStaus" aria-describedby="payStausHelp">
              <small id="payStausHelp" class="form-text text-muted"></small>
            </div>
      </div>
       <div class="col-1">
          <div class="form-group">
              <label for="remark">Remark</label>
              <input type="remark" class="form-control" id="remark" aria-describedby="remarkHelp">
              <small id="remarkHelp" class="form-text text-muted"></small>
            </div>
      </div>
       <div class="col-1">
          <div class="form-group">
              <label for="billableClaim">Billable claim</label>
              <input type="text" class="form-control" id="billableClaim" aria-describedby="billableClaimHelp">
              <small id="billableClaimHelp" class="form-text text-muted"></small>
            </div>
      </div>
      <div class="col-1">
        <div class="form-group">
          <label>Pdf Upload</label> <input type="file" name="imagefile" accept="image/jpeg, image/png">
        </div>
      </div>
    </div>
   
    <!--Second Row-->
    
    <div class="row">
       
    </div>
    <!--Second Row End-->



<button type="submit" class="btn btn-primary">Submit</button>
</form>



</div>