.dialog-header{
    background-color: #276678 !important;
}

.mat-dialog-container{
    overflow-y: hidden !important;
}

  .minimize { 

    // height: 800px;
    // width: 930px;
    height: 100% !important;
    width: 100% !important;
  }

  .maximize { 

    // height: 800px !important;
    // width: 1200px;
    height: 100% !important;
    width: 100% !important;
  }

