<!-- <div class="form-group" [ngClass]="{'typ-optional': optional, focused: isNonEmpty}" [class]="className" >
    <input #customInput  name="input" [type]="type" class="form-control" [(ngModel)]="inputValue"
    [ngClass]="inputClass"
    appFiledFill appPreventAction [id]="id"  (blur)="onBlurMethod($event)"
    [minLength]="minLength?.rule"
    [maxlength]="maxLength?.rule"  (ngModelChange)="updateChanges()" autocomplete="off" [disabled]="isDisabled"
    autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
     />

    

    <label [for]="id">{{ labelName }}</label>
    <span class="optional" *ngIf="optional">optional</span>
    <div class="invalid-feedback" *ngIf="inputError">
        <div>
            {{errorMsg}}
        </div>
    </div>
    <ng-content></ng-content>
</div> -->
<div class="form-group" [ngClass]="{'typ-optional': optional, focused: isNonEmpty}" [class]="className" >
    <label for="id">
        {{ labelName }}
        <span *ngIf="mandatoryField" style="color:red">*</span>
        <span *ngIf="optionalField" style="color:blue">*</span>
    </label>
    <input autocomplete="false" type="type" #customInput placeholder= {{placeHolder}}  name="input" class="form-control" [id]="id" [(ngModel)]="inputValue" appFiledFill appPreventAction (ngModelChange)="updateChanges()" [minLength]="minLength?.rule" [maxlength]="maxLength?.rule" [disabled]="isDisabledInp" autocomplete="off" aria-describedby="id">
    <small id="id" class="form-text text-muted"></small>
    <div class="error-feedback" *ngIf="inputError">
        <div>
            {{errorMsg}}
        </div>
    </div>

</div>

