<h2 mat-dialog-title>Purchase Order</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="PurchaseOrderForm">
        <!-- <div class="row pt-3 pb-3 m-0 d-flex justify-content-end">
      <button  class="btn btn-primary" type="submit"><i class="fa fa-upload pr-2"></i>Bulk Upload</button>
    </div>  -->
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <app-custom-input formControlName="userName" [isRequired]="'User name is Mandatory'" [labelName]="labels.userName" [maxLength]="labels?.validationData?.userName?.maxLength" [type]="labels?.validationData?.userName?.type" [isDirty]="isDirty" [isDisabledInp]="enableFlag">
                    </app-custom-input>

                </div>
            </div>
            <div class="col-4">
                <div class="form-group">

                    <app-custom-input formControlName="piNumber" [isRequired]="'Proforma Invoice Number is Mandatory'" [labelName]="labels.piNumber" [maxLength]="labels?.validationData?.piNumber?.maxLength" [type]="labels?.validationData?.piNumber?.type" [isDirty]="isDirty"
                        [isDisabledInp]="enableFlag">
                    </app-custom-input>


                </div>
            </div>
            <div class="col-4">
                <div class="form-group">


                    <app-custom-input formControlName="poNumber" [isRequired]="'Purchase Order Number is Mandatory'" [labelName]="labels.poNumber" [maxLength]="labels?.validationData?.poNumber?.maxLength" [type]="labels?.validationData?.poNumber?.type" [isDirty]="isDirty"
                        [isDisabledInp]="enableFlag">
                    </app-custom-input>


                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <!-- <label for="smsApproved">SMS Approved</label>
            <section class="example-section">
              <mat-checkbox class="example-margin" formControlName="smsApproved" >Yes</mat-checkbox>

              </section> -->

                    <app-custom-input formControlName="smsApproved" [isRequired]="'SMS Approved is Mandatory'" [labelName]="labels.smsApproved" [maxLength]="labels?.validationData?.smsApproved.maxLength" [type]="labels?.validationData?.smsApproved.type" [isDirty]="isDirty"
                        [isDisabledInp]="enableFlag">
                    </app-custom-input>

                </div>
            </div>

            <div class="col-4">
                <div class="form-group">

                    <app-custom-input formControlName="projectName" [isRequired]="'Project Name is Mandatory'" [labelName]="labels.projectName" [maxLength]="labels?.validationData?.projectName?.maxLength" [isDirty]="isDirty" [isDisabledInp]="enableFlag">
                    </app-custom-input>

                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="dateFor">{{labels?.date}}</label>

                    <mat-form-field>
                        <input matInput required formControlName="date" [matDatepicker]="picker1" (keyup)="detectDateKeyAction($event,'date')" [disabled]="enableFlag">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <div class="date-picker-error" *ngIf="
            isDirty &&
            PurchaseOrderForm.get('date').errors?.required
          ">
                        Please select date
                    </div>

                </div>
            </div>


            <div class="col-4">
                <div class="form-group">

                    <app-custom-input formControlName="withoutTax" [isRequired]="'Without tax is Mandatory'" [labelName]="labels.withoutTax" [maxLength]="labels?.validationData?.withoutTax?.maxLength" [type]="labels?.validationData?.withoutTax?.type" [isDirty]="isDirty"
                        [isDisabledInp]="enableFlag">
                    </app-custom-input>

                </div>
            </div>

            <div class="col-4">
                <div class="form-group">

                    <label for="poStatus">{{labels.poStatus}}</label>
                    <app-vf-custom-select formControlName="poStatus" [values]="poStatus" [isRequired]="'Please Select PO Status'" [isDirty]="isDirty" [isDisabled]="enableFlag">
                    </app-vf-custom-select>

                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="Fromperiod">Valid From</label>

                    <mat-form-field>
                        <input matInput [matDatepicker]="picker3" formControlName="startDate" [max]="PurchaseOrderForm.get('endDate').value" (keyup)="detectDateKeyAction($event,'startDate')" [disabled]="enableFlag" required>
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>

                    <div class="date-picker-error" *ngIf="
              isDirty &&
              PurchaseOrderForm.get('startDate').errors?.required
            ">
                        Please select date
                    </div>

                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="Toperiod">Valid Upto</label>

                    <mat-form-field>
                        <input matInput [matDatepicker]="picker4" [min]="PurchaseOrderForm.get('startDate').value" formControlName="endDate" (keyup)="detectDateKeyAction($event,'endDate')" [disabled]="enableFlag" required>
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>

                    <div class="date-picker-error" *ngIf="
            isDirty &&
            PurchaseOrderForm.get('endDate').errors?.required
          ">
                        Please select date
                    </div>

                </div>
            </div>

            <div class="col-4">
                <div class="form-group">

                    <app-custom-input formControlName="userEmail" [labelName]="labels.userEmail" [id]="'email'" [isRequired]="'User email is mandatory'" [patternCheck]="labels?.validationData.email.patternCheck" [maxLength]="labels?.validationData.email.maxLength" [isDisabledInp]="enableFlag"
                        [isDirty]="isDirty">

                    </app-custom-input>

                </div>
            </div>

            <div class="col-4">
                <div class="form-group">

                    <app-custom-input formControlName="poManagerEmail" [labelName]="labels.poManagerEmail" [id]="'email'" [isRequired]="'Manager email is mandatory'" [patternCheck]="labels?.validationData.email.patternCheck" [maxLength]="labels?.validationData.email.maxLength"
                        [isDisabledInp]="enableFlag" [isDirty]="isDirty">
                    </app-custom-input>



                </div>
            </div>

            <div class="col-4">
                <div class="form-group">

                    <app-custom-input formControlName="projectNo" [labelName]="labels.projectNo" [id]="'projectNo'" [isRequired]="'Project number is mandatory'" [maxLength]="labels?.validationData.projectNo.maxLength" [isDisabledInp]="enableFlag" [isDirty]="isDirty">
                    </app-custom-input>

                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <app-custom-input formControlName="poAmountWithTax" [isRequired]="'Amount with tax is Mandatory'" [labelName]="labels.poAmountWithTax" [maxLength]="labels?.validationData?.poAmountWithTax?.maxLength" [type]="labels?.validationData?.poAmountWithTax?.type"
                        [isDirty]="isDirty" [isDisabledInp]="enableFlag">
                    </app-custom-input>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="department">{{labels.department}}</label>
                    <app-vf-custom-select formControlName="departmentName" [values]="departmentListData" [isDisabled]="enableFlag" [isRequired]="'Please Select Department'" [isDisabled]="propertyFlag" [isDirty]="isDirty"></app-vf-custom-select>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="paymentStatus">{{labels.paymentStatus}}</label>
                    <app-vf-custom-select formControlName="paymentStatus" [values]="paymentStatus" [isRequired]="'Please Select Payment Status'" [isDirty]="isDirty" [isDisabled]="enableFlag">
                    </app-vf-custom-select>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <app-custom-input formControlName="remark" 
                    [labelName]="labels.remark" [id]="'remark'"
                    [isDisabledInp]="enableFlag" 
                    [isRequired]="'Please enter the remark'"
                     [maxLength]="labels?.validationData.userName.maxLength" 
                     [isDirty]="isDirty" [isDisabledInp]="propertyFlag">
                    </app-custom-input>
                </div>
            </div>
            <!-- <div class="col-4">
          <div class="form-group">
            <label for="poBillable">{{labels.uploadDoc}}</label>
            <input type="file" class="form-control upload-choose-pad" id="poBillable"
              aria-describedby="poBillableHelp" formControlName="uploadDoc" [disabled] = "enableFlag"
              >
            <small id="poBillableHelp" class="form-text text-muted"></small>
          </div>
        </div> -->



            <div class="col-4">

                <div class="form-group">
                    <label for="document">Document</label>
                    <div class="pd-2">
                        <span> {{'invoice.pdf'}} </span>

                        <button class="btn btn-primary" style="position: absolute;left: 8vw;bottom: 0.5vw;" (click)="viewDoc()">View</button>
                    </div>



                </div>
            </div>



        </div>


        <div class="row pt-3 pb-3 m-0" style="padding-top: 2rem !important;">
            <button class="btn btn-primary" type="submit" (click)="OnUpdate()">{{buttonName}}</button>
            <button mat-button (click)="closeDialog()" cdkFocusInitial>Close</button>
        </div>

    </form>
</mat-dialog-content>



<div class="modal" id="uploadModal" [ngClass]="{ 'dis-block': showUploadModal }" *ngIf="showUploadModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Upload Document</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="showUploadModal = false">&times;</button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <div class="form-group" style="cursor: pointer;" (click)="showPDF()">

                            <img [src]="imageUrl ? 'data:image/jpeg;base64,' + imageUrl : 'assets/images/upload-icon.png'" height="80px" width="80px" />
                        </div>
                    </div>
                    <div class="col-12 pt-3 ">
                        <div class="form-group ml-1">
                          {{fileName}}
                        </div>
                        <div class="form-group small ml-1 pt-2 pb-3">
                          {{fileSize}}
                        </div>
                        <div class="form-group row" style="margin-left: 5px">
                          
                          <div class="pt-2 pr-2 pb-3">
                            <button matRipple class=" btn btn-primary" style="font-size: 10px;" (click)="download()">Download</button>
                          </div>
                          <div class="pt-2 pb-3">
                            <button matRipple class=" btn btn-primary" style="font-size: 10px;" (click)="showDeleteModal = true">Remove</button>
                          </div>
                        </div>
                      </div>
                    <!-- <div class="col-12 small pr-2">
                        <div class="form-group">
                            {{fileName}}
                        </div>
                        <div class="form-group">
                            {{fileSize}}
                        </div>
                        <div class="form-group row" style="margin-left: 0.5vw">

                            <div class="pr-2">
                                <button matRipple class=" btn btn-primary" style="font-size: 10px;" (click)="download()">Download</button>
                            </div>
                            <div class="pr-2">
                                <button matRipple class=" btn btn-primary" style="font-size: 10px;" (click)="showDeleteModal = true">Remove</button>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="col-12">

                <div class="form-group"> -->


                    <!-- <mat-card class="col-sm-12" style="padding:4px">
                    <div style="display: flex;align-items: center;justify-content: center;"> -->
                    <!-- <img [src]="selectedPdf" class="img-responsive img" /></div> -->

                    <!-- <embed width="100%" height="100%" src="'data:application/pdf;base64,' + selectedPdf" type="application/pdf" /> -->

                    <!-- </div>
                    </mat-card> -->


                    <!-- <embed width="100%" height="100%" [src]="selectedPdf" type="application/pdf" />

                  </div>
                

              </div> -->

                    <div class="col-12" style="margin-left: 5px;">
                        <div class="pd-3 pb-3 pt-3">
                            <button matRipple type="button" class="btn btn-primary" style="float: left;" (click)="fileInput.click()">Choose Document</button>
                        </div>

                        <!-- <button type="button" class="btn btn-primary" style="float: left;">Save</button>
                  <button type="button" class="btn btn-primary" style="float: left;"  (click)="fileInput.click()"> Choose Upload</button> -->
                    </div>
                </div>
                <input #fileInput type="file" style="display: none;" (input)="onFileSelect($event)" />

            </div>

        </div>
    </div>
</div>


<div class="modal" id="pdfModal" [ngClass]="{ 'dis-block': showPdfModal }" *ngIf="showPdfModal">
    <div class="modal-dialog">
        <div class="modal-content" style="width:800px">
            <div class="modal-header text-center">
                <h4 class="modal-title">View PDF</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="showPdfModal = false;showUploadModal = true">&times;</button>
            </div>
            <div class="modal-body" style="height:500px">

            </div>
        </div>
    </div>
</div>


<div class="modal" id="deleteModal" [ngClass]="{ 'dis-block': showDeleteModal }">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title"></h4>
                <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p id="">
                    Are you sure you want to remove this pdf ?
                </p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="ucic_lead">
        <!-- (click)="checkNegativeList()" -->

        Yes
      </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="showDeleteModal = false">
        Cancel
      </button>
            </div>
        </div>
    </div>
</div>
<app-remark-modal *ngIf="remarkModal" [showRemarkModal]="remarkModal" (onOkay)="remarkOkay()"></app-remark-modal>
