.unselect-error-feedback{
    font-size: 0.9vw;
    font-family: zurich-bold;
    letter-spacing: .5px;
    color: red;
    padding-top: 0.5vw;
  }

  .code-pad{
    padding-left: 1px !important;
    font-size: 12px !important;
  }

 
