<div class="page-container">



    <app-side-nav></app-side-nav>

    <!-- Topbar -->
    <nav-header></nav-header>
    <router-outlet></router-outlet>

    <div class=""></div>
    <footer>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h6 class="copyright-style">
                    Copyright &copy; NIC 2020
                </h6>
            </div>
            <div class="col-2">
            </div>
        </div>
    </footer>

</div>