<h2 mat-dialog-title>Tax Invoice</h2>
<mat-dialog-content class="mat-typography">

  <app-view-info [userDetails]="viewInfoData" *ngIf="!showEdit"></app-view-info>
    <form [formGroup]="taxInvoiceForm" (keydown.enter)="$event.preventDefault()" *ngIf="showEdit">
        <!-- <div class="row pt-3 pb-3 m-0 d-flex justify-content-end">
      <button  class="btn btn-primary" type="submit"><i class="fa fa-upload pr-2"></i>Bulk Upload</button>
    </div>  -->
    
    <div class="row">

        <div class="col-4">
          <div class="form-group">
            <app-custom-input formControlName="userName" 
            [isRequired]="'UserName is Mandatory'" 
            [labelName]="labels.userName"
            placeHolder =  "Enter the User Name" 
            [maxLength]="labels?.validationData?.userName?.maxLength"
            [type] ="labels?.validationData?.userName?.type"
            [isDirty]="isDirty"
            [isDisabledInp]="enableFlag" 
            >
            </app-custom-input>
            </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <app-custom-input formControlName="projectNumber" 
            [isRequired]="'Project Number is Mandatory'" 
            [labelName]="labels.projectNo" 
            placeHolder = "Enter the Project Number"
            [type] = "labels?.validationData?.projectNo?.type"
            [maxLength]="labels?.validationData?.projectNo?.maxLength"
            [isDirty]="isDirty"
            [isDisabledInp]="enableFlag" 
            >
            </app-custom-input>
            </div>
        </div>

        <div class="col-4">
          <div class="form-group">
              <app-custom-input formControlName="poNumber" 
              [isRequired]="'PO Number is Mandatory'" 
              [labelName]="labels?.poNumber" 
              placeHolder =  "Enter the PO Number"
              [type]="labels?.validationData?.poNumber?.type" 
              [maxLength]="labels?.validationData?.poNumber?.maxLength"
              [isDirty]="isDirty"
              [isDisabledInp]="enableFlag" 
              >
              </app-custom-input> 
            
            </div>
      </div>

   


        <div class="col-4">
          <div class="form-group">
              <label for="InvoiceDate">{{labels?.poDate}}</label>
             
              <mat-form-field>
                <input matInput formControlName="poDate" required 
                   [matDatepicker]="poDateId" 
                   [disabled] = "enableFlag" 
                   (keyup)="detectDateKeyAction($event,'poDate')">
                <mat-datepicker-toggle matSuffix [for]="poDateId"></mat-datepicker-toggle>
                <mat-datepicker #poDateId></mat-datepicker>
              </mat-form-field>
              <div class="date-picker-error"  *ngIf="
              isDirty &&
              taxInvoiceForm.get('poDate').errors?.required
            ">
                Please select PO Date
          </div>
            </div>
      </div>
   

        <!-- <div class="col-4">
          <div class="form-group">
              <app-custom-input formControlName="projectNo" 
              [isRequired]="'Project Number is Mandatory'" 
              [labelName]="labels?.projectNo" 
              [maxLength]="labels?.validationData?.projectNo?.maxLength"
              [isDirty]="isDirty">
              </app-custom-input> 
            </div>
      </div> -->

     

    <div class="col-4">
      <div class="form-group">
          <label for="fromDate">{{labels?.fromDate}}</label>
          <mat-form-field>
            <input matInput  formControlName="fromDate" required [matDatepicker]="fromDateId" [disabled] = "enableFlag" (keyup)="detectDateKeyAction($event,'fromDate')">
            <mat-datepicker-toggle matSuffix [for]="fromDateId"></mat-datepicker-toggle>
            <mat-datepicker #fromDateId></mat-datepicker>
          </mat-form-field>
          <div class="date-picker-error"  *ngIf="
    isDirty &&
    taxInvoiceForm.get('fromDate').errors?.required
  ">
      Please select From date
</div>

        </div>
  </div>
   <div class="col-4">
      <div class="form-group">
          <label for="toDate">{{labels?.toDate}}</label>
          <mat-form-field >
            <input matInput formControlName="toDate" required  [matDatepicker]="toDateId" (keyup)="detectDateKeyAction($event,'toDate')" [disabled] = "enableFlag"
            [min]= "taxInvoiceForm.get('toDate').value">
            <mat-datepicker-toggle matSuffix [for]="toDateId"></mat-datepicker-toggle>
            <mat-datepicker #toDateId></mat-datepicker>
          </mat-form-field>
          <div class="date-picker-error"  
          *ngIf="isDirty && taxInvoiceForm.get('toDate').errors?.required">
            Please select To Date
      </div>  
        </div>
  </div>

  <div class="col-4">
    <div class="form-group">
        <app-custom-input  formControlName="billableAmount" 
        [isRequired]="'Billable Amount is Mandatory'" 
        [labelName]="labels?.poBillable"
        placeHolder  =  "Enter the Billable Amount"
        [type] = "labels?.validationData?.poBillable.type"
        [maxLength] = "labels?.validationData?.poBillable.maxLength"
        [isDirty]="isDirty"
        [isDisabledInp]="enableFlag" 
        >
        </app-custom-input> 
      </div>
</div>

  <div class="col-4">
    <div class="form-group">
        <app-custom-input formControlName="invoiceAmount" 
        [isRequired]="'Invoice Amount is Mandatory'" 
        [labelName]="labels?.invoiceAmount" 
        placeHolder =  "Enter the Invoice Amount"
        [type]="labels?.validationData?.invoiceAmount?.type"
        [maxLength]="labels?.validationData?.invoiceAmount?.maxLength"
        [isDirty]="isDirty"
        [isDisabledInp]="enableFlag" 
        >
        </app-custom-input> 
      </div>
</div>

<div class="col-4">
  <div class="form-group">
      <app-custom-input formControlName="taxInvoiceNumber" 
      [isRequired]="'Tax Invoice Number is Mandatory'" 
      [labelName]="labels?.taxIN" 
      placeHolder =  "Enter the Tax Invoice Number"
      [maxLength]="labels?.validationData?.taxIN?.maxLength"
      [type]="labels?.validationData?.taxIN?.type"
      [isDirty]="isDirty"
      [isDisabledInp]="enableFlag" 
      >
      </app-custom-input>                       
    </div>
</div>

<div class="col-4">
<div class="form-group">
  <label for="dateFor">{{labels?.submittedDate}}</label>
 
  <mat-form-field>
    <input matInput required formControlName="submittedDate" 
    [matDatepicker]="sumbittedDatePicker" (keyup)="detectDateKeyAction($event,'submittedOn')" [disabled] = "enableFlag">
    <mat-datepicker-toggle matSuffix [for]="sumbittedDatePicker" 
    ></mat-datepicker-toggle>
    <mat-datepicker #sumbittedDatePicker></mat-datepicker>
  </mat-form-field>
  <div class="date-picker-error"  *ngIf="
  isDirty &&
  taxInvoiceForm.get('submittedDate').errors?.required
">
    Please select date
</div>

</div>
</div>
          

        <div class="col-4">
          <div class="form-group">
            <label for="">{{labels?.invoiceStatus}}</label>
            <app-vf-custom-select formControlName = "invoiceStatus"
            [values] = "invoiceStatusList"
            [isRequired] = "'Please select the Invoice Status'"
            [isDirty] = "isDirty"
            [isDisabled] = "enableFlag"></app-vf-custom-select>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <app-custom-input formControlName = "invoicePaidAmount"
            [isRequired] = "'Invoice Amount Paid is Mandatory'"
            [labelName] = "labels?.invoiceAmountPaid"
            placeHolder =  "Enter the Invoice Paid Amount"
            [maxLength] = "labels?.validationData?.invoiceAmountPaid.maxLength"
            [type] = "labels?.validationData?.invoiceAmountPaid.type"
            [isDirty] = "isDirty"
            [isDisabledInp]="enableFlag" 
            ></app-custom-input>
          </div>
        </div>


        <div class="col-4">
          <div class="form-group">
              <app-custom-input formControlName = "tds"
              [isRequired] = "'TDS is Required'"
              [labelName] = "labels?.tds"
              placeHolder =  "Enter the TDS Amount"
              [maxLength] = "labels?.validationData?.tds.maxLength"
              [type] = "labels?.validationData?.tds.type"
              [isDirty] = "isDirty"
              [isDisabledInp]="enableFlag" 
              >
              </app-custom-input>
          </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <app-custom-input formControlName = "penalty"
          [isRequired] = "'Penalty is Mandatory'"
          [labelName] = "labels?.penalty"
          placeHolder = "Enter the Penalty"
          [maxLength] = "labels?.validationData?.penalty.maxLength"
          [type] = "labels?.validationData?.penalty.type"
          [isDirty] = "isDirty"
          [isDisabledInp]="enableFlag" 
          >
        </app-custom-input>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <app-custom-input formControlName = "shortPay"
          [isRequired] = "'Short Pay is Mandatory'"
          [labelName] = "labels?.shortPay"
          placeHolder =  "Enter the Short Pay"
          [maxLength] = "labels?.validationData?.shortPay.maxLength"
          [type] = "labels?.validationData?.shortPay.type"
          [isDirty] = "isDirty"
          [isDisabledInp]="enableFlag" 
          >
        </app-custom-input>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="paymentStatus">{{labels.paymentStatus}}</label>
          <app-vf-custom-select 
          formControlName="paymentStatus" 
          [values]="paymentStatus"
          [isRequired]="'Please Select Payment Status'"
          [isDirty]="isDirty"
          [isDisabled] = "enableFlag"></app-vf-custom-select>
         
        </div>
      </div>

      <!-- <div class="col-4">
        <div class="form-group">
          <label for="remark">{{labels.remark}}</label>
          <textarea class="remark" maxlength="3000" formControlName='remark' id="remark" placeHolder =  "Enter the Remark" required></textarea>
          <div class="date-picker-error" *ngIf="
    isDirty &&
    taxInvoiceForm.get('remark').errors?.required
  ">
                          Please Enter Remark
                      </div>
      </div>
    </div> -->

    <div class="col-4">
      <div class="form-group">
          <app-custom-input formControlName="projectName" 
          [labelName]="labels.projectName" [id]="'projectName'" 
          placeHolder =  "Enter the ProjectName"
          [isRequired]="'ProjectName is Mandatory'" 
          [type]="labels?.validationData.projectName.type"
          [maxLength]="labels?.validationData.projectName.maxLength" 
          [isDirty]="isDirty" 
          >
          </app-custom-input>
      </div>
  </div>
  <div class="col-4">
      <div class="form-group">
          <app-custom-input formControlName="projectCoordinator" 
          [labelName]="labels.projectCordinator" [id]="'projectCordinator'" 
          placeHolder =  "Enter the projectCordinator"
          [isRequired]="'projectCordinator is Mandatory'" 
          [type]="labels?.validationData.projectCordinator.type"
          [maxLength]="labels?.validationData.projectCordinator.maxLength" 
          [isDirty]="isDirty" 
          >
          </app-custom-input>
      </div>
  </div>
  <div class="col-4">
      <div class="form-group">
          <app-custom-input formControlName="amendOrderNo" 
          [labelName]="labels.PONoAmendOrder" [id]="'PONoAmendOrder'" 
          placeHolder =  "Enter the PONoAmendOrder"
          [isRequired]="'PONoAmendOrder is Mandatory'" 
          [type]="labels?.validationData.PONoAmendOrder.type"
          [maxLength]="labels?.validationData.PONoAmendOrder.maxLength" 
          [isDirty]="isDirty" 
          >
          </app-custom-input>
      </div>
  </div>
  <div class="col-4">
      <div class="form-group">
          <app-custom-input formControlName="userEmail" 
          [labelName]="labels.mail" [id]="'mail'" 
          placeHolder =  "Enter the mail"
          [isRequired]="'mail is Mandatory'" 
          [maxLength]="labels?.validationData.mail.maxLength"
          [patternCheck]="labels?.validationData.mail.patternCheck" 
          [isDirty]="isDirty" 
          >
          </app-custom-input>
      </div>
  </div>
  <div class="col-4">
      <div class="form-group">
          <app-custom-input formControlName="totalSMS" 
          [labelName]="labels.totalSMS" [id]="'totalSMS'" 
          placeHolder =  "Enter the totalSMS"
          [isRequired]="'totalSMS is Mandatory'"
          [type]="labels?.validationData.totalSMS.type"  
          [maxLength]="labels?.validationData.totalSMS.maxLength" 
          [isDirty]="isDirty" 
          >
          </app-custom-input>
      </div>
  </div>
  <div class="col-4">
      <div class="form-group">
          <app-custom-input formControlName="counts1" 
          [labelName]="labels.projectCordinator" [id]="'counts'" 
          placeHolder =  "Enter the counts"
          [isRequired]="'counts is Mandatory'" 
          [type]="labels?.validationData.counts.type"
          [maxLength]="labels?.validationData.counts.maxLength" 
          [isDirty]="isDirty" 
          >
          </app-custom-input>
      </div>
  </div>
  <div class="col-4">
      <div class="form-group">
          <app-custom-input formControlName="baseAmount" 
          [type]="labels?.validationData.baseAmount.type"
          [labelName]="labels.baseAmount" [id]="'baseAmount'" 
          placeHolder =  "Enter the baseAmount"
          [isRequired]="'baseAmount is Mandatory'" 
          [maxLength]="labels?.validationData.baseAmount.maxLength" 
          [isDirty]="isDirty" 
          >
          </app-custom-input>
      </div>
  </div>
  <div class="col-4">
      <div class="form-group">
          <app-custom-input formControlName="tax" 
          [type]="labels?.validationData.tax.type"
          [labelName]="labels.tax" [id]="'tax'" 
          placeHolder =  "Enter the tax"
          [isRequired]="'tax is Mandatory'" 
          [maxLength]="labels?.validationData.tax.maxLength" 
          [isDirty]="isDirty" 
          >
          </app-custom-input>
      </div>
  </div>

  <div class="col-4">
      <div class="form-group">
          <label for="dateFor">{{labels?.recvDate}}</label>

          <mat-form-field floatLabel  =  "never">
              <input matInput required formControlName="receiveDate" [matDatepicker]="recvDateDatePicker" (keyup)="detectDateKeyAction($event,'submittedOn')">
              <mat-datepicker-toggle matSuffix [for]="recvDateDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #recvDateDatePicker></mat-datepicker>
              <mat-placeholder>Choose The Date</mat-placeholder>
          </mat-form-field>
          <div class="date-picker-error" *ngIf="
isDirty &&
taxInvoiceForm.get('receiveDate').errors?.required
">
              Please Select Date
          </div>

      </div>
  </div>

  <div class="col-4">
      <div class="form-group">
          <app-custom-input formControlName="book" 
          [type]="labels?.validationData.book.type"
          [labelName]="labels.book" [id]="'book'" 
          placeHolder =  "Enter the Book"
          [isRequired]="'Book is Mandatory'" 
          [maxLength]="labels?.validationData.book.maxLength" 
          [isDirty]="isDirty" 
          >
          </app-custom-input>
      </div>
  </div>

  <div class="col-4">
      <div class="form-group">
          <label for="dateFor">{{labels?.dateEstimated}}</label>

          <mat-form-field floatLabel  =  "never">
              <input matInput required formControlName="dateEstimated" [matDatepicker]="dateEstimatedDatePicker" (keyup)="detectDateKeyAction($event,'submittedOn')">
              <mat-datepicker-toggle matSuffix [for]="dateEstimatedDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #dateEstimatedDatePicker></mat-datepicker>
              <mat-placeholder>Choose The Date</mat-placeholder>
          </mat-form-field>
          <div class="date-picker-error" *ngIf="
isDirty &&
taxInvoiceForm.get('dateEstimated').errors?.required
">
              Please Select Date
          </div>

      </div>
  </div>

  <div class="col-4">
      <div class="form-group">
          <app-custom-input formControlName="invoiceAmount2" 
          [labelName]="labels.invoiceAmount2" [id]="'invoiceAmount2'" 
          placeHolder =  "Enter the InvoiceAmount2"
          [isRequired]="'InvoiceAmount2 is Mandatory'" 
          [type]="labels?.validationData.invoiceAmount2.type" 
          [maxLength]="labels?.validationData.invoiceAmount2.maxLength" 
          [isDirty]="isDirty" 
          >
          </app-custom-input>
      </div>
  </div>
  <div class="col-4">
      <div class="form-group">
          <app-custom-input formControlName="bankReceived" 
          [labelName]="labels.bankReceived" [id]="'bankReceived'" 
          placeHolder =  "Enter the BankReceived"
          [isRequired]="'Bank Received is Mandatory'" 
          [type]="labels?.validationData.bankReceived.type"
          [maxLength]="labels?.validationData.bankReceived.maxLength" 
          [isDirty]="isDirty" 
          >
          </app-custom-input>
      </div>
  </div>
  <div class="col-4">
      <div class="form-group">
          <app-custom-input formControlName="interestOnTds" 
          [labelName]="labels.interestOnTDSotherDeduction" [id]="'interestOnTDSotherDeduction'" 
          placeHolder =  "Enter the interestOnTDSotherDeduction"
          [isRequired]="'interest On TDS other Deduction is Mandatory'" 
          [type]="labels?.validationData.interestOnTDSotherDeduction.type"
          [maxLength]="labels?.validationData.interestOnTDSotherDeduction.maxLength" 
          [isDirty]="isDirty" 
          >
          </app-custom-input>
      </div>
  </div>

  <div class="col-4">
      <div class="form-group">
          <label for="dateFor">{{labels?.receiptDate}}</label>

          <mat-form-field floatLabel  =  "never">
              <input matInput required formControlName="receiptDate" [matDatepicker]="receiptDatePicker" (keyup)="detectDateKeyAction($event,'submittedOn')">
              <mat-datepicker-toggle matSuffix [for]="receiptDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #receiptDatePicker></mat-datepicker>
              <mat-placeholder>Choose The Date</mat-placeholder>
          </mat-form-field>
          <div class="date-picker-error" *ngIf="
isDirty &&
taxInvoiceForm.get('receiptDate').errors?.required
">
              Please Select Date
          </div>

      </div>
  </div>

  
  <div class="col-4">
      <div class="form-group">
          <app-custom-input formControlName="mrnNumber" 
          [labelName]="labels.mrn" [id]="'mrn'" 
          placeHolder =  "Enter the mrn"
          [isRequired]="'mrn is Mandatory'" 
          [type]="labels?.validationData.mrn.type" 
          [maxLength]="labels?.validationData.mrn.maxLength" 
          [isDirty]="isDirty" 
          >
          </app-custom-input>
      </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="remark">{{labels.remark}}</label>
      <textarea class="remark" maxlength="3000" formControlName='remark' id="remark" placeHolder =  "Enter the Remark" required></textarea>
      <div class="date-picker-error" *ngIf="
isDirty &&
taxInvoiceForm.get('remark').errors?.required
">
                      Please Enter Remark
                  </div>
  </div>
</div>

<div class="col-4" >
  <div class="form-group">
      <label for="poBillable">{{docAvailFlag ? labels?.changeDoc :labels?.uploadDoc}}</label>
      <input type="file" class="form-control upload-choose-pad" id="poBillable"
          aria-describedby="poBillableHelp" (change) = "uploadFile($event.target.files)">
      <small id="poBillableHelp" class="form-text text-muted"></small>
  </div>
</div>











    
         
        <!-- <div class="col-4">
            <div class="form-group">
                <label for="documentUpload">{{labels?.uploadDoc}}</label>
                <input type="file" class="form-control upload-choose-pad" formControlName = "uploadDoc" id="documentUpload" [disabled] = "enableFlag">
                <small id="poBillableHelp" class="form-text text-muted"></small>
              </div>
        </div> -->


        <div *ngIf = "docAvailFlag" class="col-4">
          <label for="document">Document</label><br>
            <button class="btn btn-primary" style="float: left;" (click)="showPDF()">View</button>
        </div>

      </div>
    </form>

        <div class="row pt-3 pb-3 m-0" style="padding-top: 2rem !important;">
            <ng-container *ngIf="isWrite">
            <button class="btn btn-primary"  *ngIf="!showUpdate" (click)="OnEdit()">Edit</button>
            <button class="btn btn-primary"  *ngIf="showUpdate" (click)="OnUpdate()">Update</button>
          </ng-container>
            <button mat-button (click)="closeDialog()" cdkFocusInitial>Close</button>
        </div>

   
</mat-dialog-content>





<div class="modal" id="uploadModal" [ngClass]="{ 'dis-block': showUploadModal }" *ngIf="showUploadModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Upload Document</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showUploadModal = false">&times;</button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-12">
            <div class="form-group" style="cursor: pointer;" (click)="showPDF()">

              <img [src]="imageUrl ? 'data:image/jpeg;base64,' + imageUrl : 'assets/images/upload-icon.png'"
                height="80px" width="80px" />
            </div>
          </div>
          <div class="col-12 pt-3">

            <div class="form-group small ml-1 pt-2 pb-3">
              Click the Icon to preview
            </div>
            <!-- <div class="form-group ">
              {{fileName}}
            </div> -->
            <!-- <div class="form-group small pt-2 pb-3">
              {{fileSize}}
            </div> -->
            <div class="form-group row" style="margin-left: 5px">
              
              <!-- <div class="pt-2 pr-2 pb-3">
                <button matRipple class=" btn btn-primary" style="font-size: 10px;" (click)="download()">Download</button>
              </div> -->
              <div class="pt-2 pb-3">
                <button matRipple class=" btn btn-primary" style="font-size: 10px;" (click)="showDeleteModal = true">Remove</button>
              </div>
            </div>
          </div>

          <!-- <div class="col-12">

                <div class="form-group"> -->


          <!-- <mat-card class="col-sm-12" style="padding:4px">
                    <div style="display: flex;align-items: center;justify-content: center;"> -->
          <!-- <img [src]="selectedPdf" class="img-responsive img" /></div> -->

          <!-- <embed width="100%" height="100%" src="'data:application/pdf;base64,' + selectedPdf" type="application/pdf" /> -->

          <!-- </div>
                    </mat-card> -->


          <!-- <embed width="100%" height="100%" [src]="selectedPdf" type="application/pdf" />

                  </div>
                

              </div> -->

          <div class="col-12">

              <div class="pd-3 pb-3 pt-3">
                <button matRipple type="button" class="btn btn-primary" style="float: left;"
                  (click)="fileInput.click()">Choose Document</button>
              </div>

              <!-- <button type="button" class="btn btn-primary" style="float: left;">Save</button>
                  <button type="button" class="btn btn-primary" style="float: left;"  (click)="fileInput.click()"> Choose Upload</button> -->
            </div>
          </div>
          <input #fileInput type="file" style="display: none;"  (input)="onFileSelect($event)" />

        </div>

      </div>
    </div>
  </div>


  <div class="modal" id="pdfModal" [ngClass]="{ 'dis-block': showPdfModal }" *ngIf="showPdfModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:920px">
        <div class="modal-header text-center">
          <h4 class="modal-title">View PDF</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="showPdfModal = false">&times;</button>
        </div>
        <div class="modal-body" style="height:553px">
          <iframe [src]= "previewUrl | secure | async" style="height:491px;width: 886px;" type="application/pdf"></iframe>
        </div>
  </div>
  </div>
  </div>

  <div
class="modal"
id="deleteModal"
[ngClass]="{ 'dis-block': showDeleteModal }"
>
<div class="modal-dialog">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header text-center">
      <h4 class="modal-title"></h4>
      <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <p id="">
          Are you sure you want to remove this pdf ?
      </p>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer text-center">
      <button
        type="button"
        class="btn btn-success"
        data-dismiss="modal"
        id="ucic_lead"

      >
        <!-- (click)="checkNegativeList()" -->

        Yes
      </button>
      <button
        type="button"
        class="btn btn-danger"
        data-dismiss="modal"
        (click)="showDeleteModal = false"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
</div>


<app-remark-modal *ngIf="remarkModal" [showRemarkModal]="remarkModal" (onOkay)="remarkOkay()"></app-remark-modal>
  