<h2 mat-dialog-title>Tax Invoice</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="taxInvoiceForm">
        <!-- <div class="row pt-3 pb-3 m-0 d-flex justify-content-end">
      <button  class="btn btn-primary" type="submit"><i class="fa fa-upload pr-2"></i>Bulk Upload</button>
    </div>  -->
    
    <div class="row">

        <div class="col-4">
          <div class="form-group">
            <app-custom-input formControlName="userName" 
            [isRequired]="'UserName is Mandatory'" 
            [labelName]="labels.userName" 
            [maxLength]="labels?.validationData?.userName?.maxLength"
            [type] ="labels?.validationData?.userName?.type"
            [isDirty]="isDirty"
            [isDisabledInp]="enableFlag" 
            >
            </app-custom-input>
            </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <app-custom-input formControlName="projectNo" 
            [isRequired]="'Project Number is Mandatory'" 
            [labelName]="labels.projectNo" 
            [maxLength]="labels?.validationData?.projectNo?.maxLength"
            [isDirty]="isDirty"
            [isDisabledInp]="enableFlag" 
            >
            </app-custom-input>
            </div>
        </div>

        <div class="col-4">
          <div class="form-group">
              <app-custom-input formControlName="poNumber" 
              [isRequired]="'PO Number is Mandatory'" 
              [labelName]="labels?.poNumber" 
              [maxLength]="labels?.validationData?.poNumber?.maxLength"
              [isDirty]="isDirty"
              [isDisabledInp]="enableFlag" 
              >
              </app-custom-input> 
            
            </div>
      </div>

   


        <div class="col-4">
          <div class="form-group">
              <label for="InvoiceDate">{{labels?.poDate}}</label>
             
              <mat-form-field>
                <input matInput formControlName="poDate" required [matDatepicker]="poDateId" [disabled] = "enableFlag" >
                <mat-datepicker-toggle matSuffix [for]="poDateId"></mat-datepicker-toggle>
                <mat-datepicker #poDateId></mat-datepicker>
              </mat-form-field>
              <div class="date-picker-error"  *ngIf="
              isDirty &&
              taxInvoiceForm.get('poDate').errors?.required
            ">
                Please select PO Date
          </div>
            </div>
      </div>
   

        <!-- <div class="col-4">
          <div class="form-group">
              <app-custom-input formControlName="projectNo" 
              [isRequired]="'Project Number is Mandatory'" 
              [labelName]="labels?.projectNo" 
              [maxLength]="labels?.validationData?.projectNo?.maxLength"
              [isDirty]="isDirty">
              </app-custom-input> 
            </div>
      </div> -->

     

    <div class="col-4">
      <div class="form-group">
          <label for="fromDate">{{labels?.fromDate}}</label>
          <mat-form-field>
            <input matInput  formControlName="fromDate" required [matDatepicker]="fromDateId" [disabled] = "enableFlag" >
            <mat-datepicker-toggle matSuffix [for]="fromDateId"></mat-datepicker-toggle>
            <mat-datepicker #fromDateId></mat-datepicker>
          </mat-form-field>
          <div class="date-picker-error"  *ngIf="
    isDirty &&
    taxInvoiceForm.get('fromDate').errors?.required
  ">
      Please select From date
</div>

        </div>
  </div>
   <div class="col-4">
      <div class="form-group">
          <label for="toDate">{{labels?.toDate}}</label>
          <mat-form-field >
            <input matInput formControlName="toDate" required  [matDatepicker]="toDateId" [disabled] = "enableFlag"
            [min]= "taxInvoiceForm.get('toDate').value">
            <mat-datepicker-toggle matSuffix [for]="toDateId"></mat-datepicker-toggle>
            <mat-datepicker #toDateId></mat-datepicker>
          </mat-form-field>
          <div class="date-picker-error"  
          *ngIf="isDirty && taxInvoiceForm.get('toDate').errors?.required">
            Please select To Date
      </div>  
        </div>
  </div>

  <div class="col-4">
    <div class="form-group">
        <app-custom-input  formControlName="poBillable" 
        [isRequired]="'Billable Amount is Mandatory'" 
        [labelName]="labels?.poBillable"
        [type] = "labels?.validationData?.poBillable.type"
        [maxLength] = "labels?.validationData?.poBillable.maxLength"
        [isDirty]="isDirty"
        [isDisabledInp]="enableFlag" 
        >
        </app-custom-input> 
      </div>
</div>

  <div class="col-4">
    <div class="form-group">
        <app-custom-input formControlName="invoiceAmount" 
        [isRequired]="'Invoice Amount is Mandatory'" 
        [labelName]="labels?.invoiceAmount" 
        [type]="labels?.validationData?.invoiceAmount?.type"
        [maxLength]="labels?.validationData?.invoiceAmount?.maxLength"
        [isDirty]="isDirty"
        [isDisabledInp]="enableFlag" 
        >
        </app-custom-input> 
      </div>
</div>

<div class="col-4">
  <div class="form-group">
      <app-custom-input formControlName="taxIN" 
      [isRequired]="'Tax Invoice Number is Mandatory'" 
      [labelName]="labels?.taxIN" 
      [maxLength]="labels?.validationData?.taxIN?.maxLength"
      [isDirty]="isDirty"
      [isDisabledInp]="enableFlag" 
      >
      </app-custom-input>                       
    </div>
</div>

<div class="col-4">
<div class="form-group">
  <label for="dateFor">{{labels?.submittedDate}}</label>
 
  <mat-form-field>
    <input matInput required formControlName="submittedOn" 
    [matDatepicker]="sumbittedDatePicker" [disabled] = "enableFlag">
    <mat-datepicker-toggle matSuffix [for]="sumbittedDatePicker" 
    ></mat-datepicker-toggle>
    <mat-datepicker #sumbittedDatePicker></mat-datepicker>
  </mat-form-field>
  <div class="date-picker-error"  *ngIf="
  isDirty &&
  taxInvoiceForm.get('submittedOn').errors?.required
">
    Please select date
</div>

</div>
</div>
          

        <div class="col-4">
          <div class="form-group">
            <label for="">{{labels?.invoiceStatus}}</label>
            <app-vf-custom-select formControlName = "invoiceAmountPaid"
            [values] = "invoiceStatusList"
            [isRequired] = "'Please select the Invoice Status'"
            [isDirty] = "isDirty"
            [isDisabled] = "enableFlag"></app-vf-custom-select>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <app-custom-input formControlName = "invoiceAmountPaid"
            [isRequired] = "'Invoice Amount Paid is Mandatory'"
            [labelName] = "labels?.invoiceAmountPaid"
            [maxLength] = "labels?.validationData?.invoiceAmountPaid.maxLength"
            [type] = "labels?.validationData?.invoiceAmountPaid.type"
            [isDirty] = "isDirty"
            [isDisabledInp]="enableFlag" 
            ></app-custom-input>
          </div>
        </div>


        <div class="col-4">
          <div class="form-group">
              <app-custom-input formControlName = "tds"
              [isRequired] = "'TDS is Required'"
              [labelName] = "labels?.tds"
              [maxLength] = "labels?.validationData?.tds.maxLength"
              [type] = "labels?.validationData?.tds.type"
              [isDirty] = "isDirty"
              [isDisabledInp]="enableFlag" 
              >
              </app-custom-input>
          </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <app-custom-input formControlName = "penalty"
          [isRequired] = "'Penalty is Mandatory'"
          [labelName] = "labels?.penalty"
          [maxLength] = "labels?.validationData?.penalty.maxLength"
          [type] = "labels?.validationData?.penalty.type"
          [isDirty] = "isDirty"
          [isDisabledInp]="enableFlag" 
          >
        </app-custom-input>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <app-custom-input formControlName = "shortPay"
          [isRequired] = "'Short Pay is Mandatory'"
          [labelName] = "labels?.shortPay"
          [maxLength] = "labels?.validationData?.shortPay.maxLength"
          [type] = "labels?.validationData?.shortPay.type"
          [isDirty] = "isDirty"
          [isDisabledInp]="enableFlag" 
          >
        </app-custom-input>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="paymentStatus">{{labels.paymentStatus}}</label>
          <app-vf-custom-select 
          formControlName="paymentStatus" 
          [values]="paymentStatus"
          [isRequired]="'Please Select Payment Status'"
          [isDirty]="isDirty"
          [isDisabled] = "enableFlag"></app-vf-custom-select>
         
        </div>
      </div>

         
        <!-- <div class="col-4">
            <div class="form-group">
                <label for="documentUpload">{{labels?.uploadDoc}}</label>
                <input type="file" class="form-control upload-choose-pad" formControlName = "uploadDoc" id="documentUpload" [disabled] = "enableFlag">
                <small id="poBillableHelp" class="form-text text-muted"></small>
              </div>
        </div> -->


        <div class="col-4">

          <div class="form-group">
            <label for="document">Document</label>
            <div class="pd-2">
              <span> {{'invoice.pdf'}} </span>
  
              <button class="btn btn-primary" [disabled]="enableFlag" style="position: absolute;left: 8vw;bottom: 1.2vw;"  (click)="viewDoc()">View</button>
            </div>
  
  
  
          </div>
        </div>


      </div>

        <div class="row pt-3 pb-3 m-0" style="padding-top: 2rem !important;">
            <button class="btn btn-primary" type="submit" (click)="OnUpdate()">{{buttonName}}</button>
            <button mat-button (click)="closeDialog()" cdkFocusInitial>Close</button>
        </div>

    </form>
</mat-dialog-content>





<div class="modal" id="uploadModal" [ngClass]="{ 'dis-block': showUploadModal }" *ngIf="showUploadModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Upload Document</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showUploadModal = false">&times;</button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-12">
            <div class="form-group">

              <img [src]="imageUrl ? 'data:image/jpeg;base64,' + imageUrl : 'assets/images/upload-icon.png'"
                height="180px" width="160px" />
            </div>
          </div>
          <div class="col-12 small pr-2">
            <div class="form-group">
              {{fileName}}
            </div>
            <div class="form-group">
              {{fileSize}}
            </div>
          </div>

          <!-- <div class="col-12">

                <div class="form-group"> -->


          <!-- <mat-card class="col-sm-12" style="padding:4px">
                    <div style="display: flex;align-items: center;justify-content: center;"> -->
          <!-- <img [src]="selectedPdf" class="img-responsive img" /></div> -->

          <!-- <embed width="100%" height="100%" src="'data:application/pdf;base64,' + selectedPdf" type="application/pdf" /> -->

          <!-- </div>
                    </mat-card> -->


          <!-- <embed width="100%" height="100%" [src]="selectedPdf" type="application/pdf" />

                  </div>
                

              </div> -->

          <div class="col-12">

            <div class="form-group row" style="float: right;">
              
              <div class="pr-2">
                <button matRipple class=" btn btn-primary">Save</button>
              </div>
              <div class="pr-2">
                <button matRipple class=" btn btn-primary" (click)="download()">Download</button>
              </div>
            </div>
              <div class="pd-3">
                <button matRipple type="button" class="btn btn-primary" style="float: left;"
                  (click)="fileInput.click()">Choose Document</button>
              </div>

              <!-- <button type="button" class="btn btn-primary" style="float: left;">Save</button>
                  <button type="button" class="btn btn-primary" style="float: left;"  (click)="fileInput.click()"> Choose Upload</button> -->
            </div>
          </div>
          <input #fileInput type="file" style="display: none;"  (input)="onFileSelect($event)" />

        </div>

      </div>
    </div>
  </div>