button.mat-button.mat-button-base {
    background-color: #0e4d92 !important;
    margin-left: 10px;
    color: white;
    border: 1px solid #0e4d92 !important;
    font-size: 13px;
    
}



::ng-deep .inp-date,.mat-form-field-flex{

     pointer-events: none;

}

.dis-block {
    display: block;
  }

label {
    display: inline-block;
    margin-bottom: -0.1rem;
    font-size: 16px;
}

mat-form-field {
    margin-top: -0.4vw;
}


.mat-form-field-label-wrapper {
    top: -1.5em !important;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    top: 1em !important;
}

.mat-form-field-label-wrapper {
    margin-top: -9px !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0 13px 0px !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0 13px 0px !important;
}

.remark {
    width: 90%;
    border: 1px solid #a5b0bb;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 8px;
}
  


  