table {
    margin-bottom: 0rem !important;
    // border-radius: 5px;
    // border-style: solid;
    // border-color: #D9DDDF;
    // margin-top: 27px;
}

//   .table-responsive{
//       border-radius: 5px;
//       border-radius: 10px;
//     border-style: solid;
//     border-color: #D9DDDF;
//   }
.example-form-field {
    // width: 200px;
    color: black;
}

.example-form-field .label {
    color: black;
}

.h3,
h3 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2;
}

.mb-0,
.my-0 {
    margin-bottom: 0!important;
}

.text-gray-800 {
    color: #5a5c69!important;
}

table {
    width: 103%;
}

.font-paginator {
    width: 103%;
}

th {
    font-size: 14px;
    font-weight: 500;
    background-color: #0e4d92;
    color: #fff;
}

// tr:nth-child(even) {background-color:#f5f4f4;}
//   .col-md-12.d-flex.justify-content-end:hover{
//       pointer-events: none;
//   }
.font-size {
    font-size: 14px !important;
    font-weight: 580;
    line-height: 18px;
}

.border-left-primary {
    background: #4e73df !important;
    border-left: .25rem solid #4e73df !important;
}

.border-left-success {
    background: #361cc8a8 !important;
    // border-left: .25rem solid #1cc88a !important;
}

.border-left-info {
    background: #36b9cc !important;
    border-left: .25rem solid #36b9cc !important;
}

.border-left-warning {
    background: #f6c23e !important;
    border-left: .25rem solid #f6c23e !important;
}

// tr.example-element-row:hover {    <!--- Commented For Later Use ----->
//     background: whitesmoke;
// }
::ng-deep .mat-select-value {
    font-size: 15px !important;
}

::ng-deep .mat-option-text {
    font-size: 15px !important;
}

::ng-deep .mat-option-text {
    font-size: 15px !important;
}

mat-form-field {
    width: 40%;
}

.card-body {
    padding: 15px;
}

.text-xs.font-weight-bold.text-warning.text-uppercase.mb-1 {
    color: #ff4c07 !important;
}

:host ::ng-deep th.mat-header-cell {
    flex: 0 20% !important;
    width: 20% !important;
    line-height: 20px !important;
    text-align: left;
}

:host ::ng-deep td.mat-cell {
    line-height: 24px !important;
    text-align: left;
    flex: 0 20% !important;
    width: 20% !important;
    line-height: 20px !important;
    padding: 8px;
    // word-break: break-all;
}

.clr-white {
    color: #fff !important
}

.dashBoard {
    background: #0e4d92 !important;
    color: #fff!important;
    // margin-bottom: 17px;
    // height: 44px;
    // padding-top: 13px;
    // padding-left: 10px;
    font-size: 21px;
    font-weight: 500;
    border-color: #0e4d92;
    border-style: solid;
    vertical-align: middle !important;
    width: 103%
}

#mySearch {
    width: 34%;
    font-size: 17px;
    padding: 7px;
    border: 1px solid #ddd;
    margin-bottom: 0px;
    border-radius: 3px 3px 3px 3px;
    text-align: left;
    color: #212121;
}

#mySearch.active {
    border-color: #0e4d92 !important;
}

// #mySearch { 
//     width: 24%; 
//     padding: 10px; 
//     text-align: center; 
// } 
.input-icons {
    width: 100%;
    margin-bottom: 0px;
}

.input-icons i { 
    position: absolute; 
    padding-top: 8px;
    // padding-left: 16px;
    padding-right: 8px !important;
    color: #747677 !important;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #fff !important;
    padding-left: 5px;
    padding-bottom: 8px;
} 

// .input-icons { 
//     width: 100%; 
//     margin-bottom: 10px; 
// } 
.icon {
    padding: 10px;
    min-width: 40px;
}

.dashb {
    font-size: 18px;
    font-weight: 450;
    padding-bottom: 15px;
}

::ng-deep.cdk-column-Department {
    padding-left: 0px !important;
}

.cursor-pointer {
    cursor: pointer;
}