table {
    margin-bottom: 0rem !important;
    // border-radius: 5px;
    // border-style: solid;
    // border-color: #D9DDDF;
    // margin-top: 27px;
}

//   .table-responsive{
//       border-radius: 5px;
//       border-radius: 10px;
//     border-style: solid;
//     border-color: #D9DDDF;
//   }
.example-form-field {
    // width: 200px;
    color: black;
}

.example-form-field .label {
    color: black;
}

.h3,
h3 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2;
}

.mb-0,
.my-0 {
    margin-bottom: 0!important;
}

.text-gray-800 {
    color: #5a5c69!important;
}

table {
    width: 100%;
}

.font-paginator {
    width: 100%;
}

th {
    font-size: 13px;
    font-weight: 500;
    background-color: #1687a7;
    color: #fff;
}

// tr:nth-child(even) {background-color:#f5f4f4;}
//   .col-md-12.d-flex.justify-content-end:hover{
//       pointer-events: none;
//   }
.font-size {
    font-size: 13px !important;
    font-weight: 580;
    line-height: 18px;
}

.border-left-primary {
    background: #4e73df !important;
    border-left: .25rem solid #4e73df !important;
}

.border-left-success {
    background: #361cc8a8 !important;
    // border-left: .25rem solid #1cc88a !important;
}

.border-left-info {
    background: #36b9cc !important;
    border-left: .25rem solid #36b9cc !important;
}

.border-left-warning {
    background: #f6c23e !important;
    border-left: .25rem solid #f6c23e !important;
}

.border-left-purple {
    background: linear-gradient(to right, #28527a, #306598, #3d78b1, #457aad, #6a94bb);
    border-left: 0.25rem solid #6a94bb !important;
}

.border-left-blue {
    background: linear-gradient(to right, #6a94bb, #457aad, #3d78b1, #306598, #28527a);
    border-left: 0.25rem solid #28527a !important;
}

.border-left-gold {
    background: linear-gradient(to right, #137f94, #29a3bb, #2ca2b9, #2daec7, #2eb4ce);
    border-left: 0.25rem solid #2eb4ce !important;
}

.border-left-greenish {
    background: linear-gradient(to right, #38bcd6, #59c0dc, #43c0d8, #3996ad, #137f94);
    border-left: 0.25rem solid #137f94!important;
}

// tr.example-element-row:hover {    <!--- Commented For Later Use ----->
//     background: whitesmoke;
// }
::ng-deep .mat-select-value {
    font-size: 15px !important;
}

::ng-deep .mat-option-text {
    font-size: 15px !important;
}

::ng-deep .mat-option-text {
    font-size: 15px !important;
}

mat-form-field {
    width: 40%;
}

.card-body {
    padding: 15px;
}

.text-xs.font-weight-bold.text-warning.text-uppercase.mb-1 {
    color: #ff4c07 !important;
}

:host ::ng-deep th.mat-header-cell {
    flex: 0 20% !important;
    width: 20% !important;
    line-height: 20px !important;
    text-align: left;
    padding: 8px 14px!important;
    margin: auto;
}

:host ::ng-deep td.mat-cell {
    line-height: 24px !important;
    text-align: left;
    flex: 0 20% !important;
    width: 20% !important;
    line-height: 20px !important;
    padding: 8px;
    // word-break: break-all;
    text-align: left;
    padding: 5px;
    margin: auto;
}

.clr-white {
    color: #fff !important
}

.dashBoard {
    background: #276678 !important;
    color: #fff!important;
    // margin-bottom: 17px;
    // height: 44px;
    // padding-top: 13px;
    // padding-left: 10px;
    font-size: 21px;
    font-weight: 500;
    border: 1px solid #ddd;
    border-style: solid;
    vertical-align: middle !important;
    width: 100%;
    height: 40px;
}

#mySearch {
    width: 34%;
    font-size: 13px;
    padding: 4px;
    border: 1px solid #ddd;
    margin-bottom: 0px;
    border-radius: 3px 3px 3px 3px;
    color: #212121;
    text-align: left;
    padding-left: 36px;
    margin-top: 6px;
}

#mySearch.active {
    border-color: #1687a7 !important;
}

// #mySearch { 
//     width: 24%; 
//     padding: 10px; 
//     text-align: center; 
// } 
.input-icons {
    width: 100%;
    margin-bottom: 0px;
}

.fa-stack {
    font-size: 0.5em;
}

// i {
//     vertical-align: middle;
// }
.input-icons i {
    position: absolute;
    padding-top: 8px;
    // padding-left: 16px;
    padding-right: 8px !important;
    color: #747677 !important;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #fff0 !important;
    padding-left: 5px;
    padding-bottom: 8px;
}

.search-icon {
    margin-left: 5px;
    position: absolute;
    padding-top: 8px;
    // padding-left: 16px;
    padding-right: 8px !important;
    color: #747677 !important;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #fff0 !important;
    padding-left: 5px;
    padding-bottom: 8px;
}

// .input-icons { 
//     width: 100%; 
//     margin-bottom: 10px; 
// } 
.icon {
    padding: 10px;
    min-width: 40px;
}

.dashb {
    font-size: 16px;
    font-weight: 450;
    padding-bottom: 15px;
}

// ::ng-deep.cdk-column-Department {
//     padding-left: 0px !important;
// }
.cursor-pointer {
    cursor: pointer;
}

.fa-search {
    font-size: 13px;
    margin-top: 4px !important;
}

.header-dev {
    margin-top: -8px !important;
}

th {
    background-color: #697c90;
}

@media screen and (min-width: 200px) and (max-width:768px) {
    #mySearch {
        width: 100%;
    }
    .input-icons i {
        margin-top: 5px;
    }
    .search-icon {
        margin-top: 5px;
    }
     :host ::ng-deep td.mat-cell {
        line-height: 24px !important;
        text-align: left;
        flex: 0 20% !important;
        // width: 100% !important;
        line-height: 20px !important;
        padding: 8px;
        // word-break: break-all;
    }
    .dashBoard {
        height: auto;
    }
}