tr {
    td {
        vertical-align: middle;
        font-size: 15px;
        a {
            cursor: pointer;
            font-size: 14px;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    th {
        vertical-align: middle;
        font-size: 17px;
        font-weight: 500;
    }
    height: 65px;
}

table {
    margin-bottom: 0rem !important;
    // border-radius: 5px;
    // border-style: solid;
    // border-color: #D9DDDF;
    // margin-top: 27px;
}

//   .table-responsive{
//       border-radius: 5px;
//       border-radius: 10px;
//     border-style: solid;
//     border-color: #D9DDDF;
//   }
.example-form-field {
    // width: 200px;
    color: black;
}

.example-form-field .label {
    color: black;
}

.h3,
h3 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2;
}

.mb-0,
.my-0 {
    margin-bottom: 0!important;
}

.text-gray-800 {
    color: #5a5c69!important;
}

table {
    width: 100%;
}

th {
    font-size: 16px;
    font-weight: 500;
    background-color: #0e4d92;
    color: #fff;
}

// tr:nth-child(even) {background-color:#f5f4f4;}
//   .col-md-12.d-flex.justify-content-end:hover{
//       pointer-events: none;
//   }
.font-size {
    font-size: 16px !important;
    font-weight: 580;
    line-height: 18px;
}

.border-left-primary {
    background: #4e73df !important;
    border-left: .25rem solid #4e73df !important;
}

.border-left-success {
    background: #1cc88a !important;
    border-left: .25rem solid #1cc88a !important;
}

.border-left-info {
    background: #36b9cc !important;
    border-left: .25rem solid #36b9cc !important;
}

.border-left-warning {
    background: #f6c23e !important;
    border-left: .25rem solid #f6c23e !important;
}

tr.example-element-row:hover {
    background: whitesmoke;
}

::ng-deep .mat-select-value {
    font-size: 15px !important;
}

::ng-deep .mat-option-text {
    font-size: 15px !important;
}

::ng-deep .mat-option-text {
    font-size: 15px !important;
}

mat-form-field {
    width: 40%;
}

.card-body {
    padding: 15px;
}

.text-xs.font-weight-bold.text-warning.text-uppercase.mb-1 {
    color: #ff4c07 !important;
}

:host ::ng-deep th.mat-header-cell {
    flex: 0 20% !important;
    width: 20% !important;
    line-height: 20px !important;
    text-align: center;
}

:host ::ng-deep td.mat-cell {
    line-height: 24px !important;
    text-align: center;
    flex: 0 20% !important;
    width: 20% !important;
    line-height: 20px !important;
    // word-break: break-all;
}

.clr-white {
    color: #fff !important
}
