.login{
    font-size: 0.8rem;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    margin-top: 155px;
}

.log{
    overflow: hidden;
    overflow-y: hidden;
}

.row {
    padding-top: 85px;
}


.container {

    height: 100%;

}


  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

