.login {
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 0px;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo_header {
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.log {
    overflow: hidden;
    overflow-y: hidden;
}

.row {
    padding-top: 85px;
}

.container {
    height: 100%;
}

.forgot-pwd {
    color: #b1c8e0;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.log {
    background-image: url('../../assets/images/NIC_BG_3.png');
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.form-control {
    display: block;
    width: 80%;
    height: calc(3em + .75rem + 2px);
    padding: 0.375rem 0.75rem;
    // font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background: #ffffff;
    opacity: 64%;
    background-clip: padding-box;
    border: none;
    // border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 10px;
    margin: 0 auto;
}

.form-check-input {
    position: absolute;
    // top: .25rem;
    // left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border: 1px solid #b7b9cc;
    opacity: 0.2;
    top: -5px;
}

.form-check-label {
    color: #b7b9cc;
    padding-left: 10px;
}

button.btn.btn-primary {
    padding: 0.75rem 1rem;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.form-group.form-check {
    margin-left: 73px;
}

a {
    padding-left: 78px;
    color: #0e4d92;
    font-weight: bold;
    letter-spacing: 2px;
}

.mouse-pointer {
    cursor: pointer;
}

.txt-center {
    text-align: center;
}

a:hover {
    color: #ffff !important;
}

@media screen and (min-width: 576px) and (max-width: 1086px) {
    .nic_logo {
        width: 50%!important;
    }
}