.input-group-text {
    font-weight: 500;
}

.not-allowed 
{
    cursor: not-allowed;
}

label{
    font-size: 12px !important;
    font-weight: 600;
}
.input-group-text{
font-size: 0.775rem !important;

}