button.mat-button.mat-button-base {
    background-color: #0e4d92 !important;
    margin-left: 10px;
    color: white;
    border: 1px solid #0e4d92 !important;
    font-size: 13px;
    
}



::ng-deep .inp-date,.mat-form-field-flex{

     pointer-events: none;

}

.dis-block {
    display: block;
  }






  