.userForm {
    overflow-x: hidden;
    padding-top: 55px;
    // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 16px !important;
    margin-top: 20px;
    overflow-y: hidden;
}

h1.h3.text-gray-800.mb-2 {
    color: #276678;
    font-size: 20px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    // color: #858796 !important;
}

h2 {
    color: #5a5c69!important;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.2;
}

button.btn.btn-primary {
    float: right;
    background-color: #276678 !important;
    border: 1px solid #276678 !important;
    font-size: 13px;
    box-shadow: 0px 0px 0px 0px #c9e1e6 inset, 0px 0px 8px 0px #9ea3a8;
}

label {
    font-size: 13px;
}

.mat-tab-group {
    display: flex;
    flex-direction: column;
    width: 100% !important;
}

.dis-block {
    display: block;
}

.modal {
    margin-top: 50px !important;
}

h2 {
    color: #5a5c69 !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2px !important;
    margin-bottom: 20px !important;
}

.h3 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2;
}

.pad-row {
    padding: 0.3vw;
}

mat-card {
    width: 100% !important;
}

label {
    display: inline-block;
    margin-bottom: -0.2rem;
}

// .row {
//     display: flex;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px;
//     margin-top: -30px;
// }
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -30px;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 1px;
}

.search {
    display: flex;
}

.search input {
    color: #555;
    border: 1px solid #cacaca;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
}

.search input:focus {
    outline: none;
}

.lov-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.lov-item {
    font-size: 13px;
    box-sizing: border-box;
    padding: 10px;
    // border: 1px solid #777;
    flex-basis: 48%;
    // min-width: 500px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #2ca2b9;
    color: #fff;
}

.lov-details {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.add-new {
    margin-left: 50px;
}

.go-back {
    margin-right: 50px;
}

.item-name {
    color: #555;
}

.lov-details input {
    border: none;
    color: #555;
    border-bottom: 1px solid #555;
    margin-left: 20px;
}

.lov-details input:hover {
    outline: none;
}

table,
th,
td {
    border-collapse: collapse;
}

th {
    font-size: 13px;
    color: #555;
}

th,
td {
    padding: 15px;
    width: 50px;
}

td {
    text-align: center;
    vertical-align: middle;
}

// thead {
//     border-bottom: 2px solid #104d92;
// }
.btn-primary {
    float: left !important;
}

.table-input,
.table-fa {
    float: left;
}

table {
    width: -webkit-fill-available!important;
}

.table-input {
    font-size: 13px;
    padding: 10px 5px;
    width: -webkit-fill-available;
}

.table-fa {
    color: #276678;
    cursor: pointer;
}

.table-key {
    float: left;
    font-size: 13px;
}

.modal-dialog {
    max-width: 60% !important;
}