<div class="col-md-12 userForm shadow p-3 mb-5 bg-white rounded">


    <h1 class="h3  text-gray-800 mb-2">Manage LOVS</h1>

    <form class="pt-4">
        <!--FIRST ROW-->

        <div class="row pad-row">


            <div class="col-2">
                <div class="form-group">
                    <label for="Department">Department Key</label>
                    <input type="text" class="form-control" [disabled]="propertyFlag" id="departmentKey"
                        aria-describedby="departmentHelp">
                    <small id="departmentHelp" class="form-text text-muted"></small>
                </div>

            </div>

            <div class="col-2">

                <div class="form-group">
                    <label for="Department">Department Value</label>
                    <input type="text" class="form-control" [disabled]="propertyFlag" id="departmentValue"
                        aria-describedby="departmentHelp">
                    <small id="departmentHelp" class="form-text text-muted"></small>
                </div>

            </div>





            <div class="col-4">
                <div class="form-group">
                    <label for="department">Department</label>
                    <select id="department" class="form-control" aria-describedby="emailHelp">
                        <option [value]="list.value" *ngFor="let list of deparmentList">{{list.key}}</option>

                    </select>
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
            </div>

            <div class="col-2" style="margin-top:1.3vw">

                <button class="btn btn-primary" (click)="saveOrEdit()">{{buttonName}}</button>
            </div>
            <div class="col-1" style="margin-top:1.3vw">
                <button class="btn btn-primary">Delete</button>

            </div>




        </div>

        <div class="row pad-row">

            <div class="col-2">
                <div class="form-group">
                    <label for="poStatus">PO Status Key</label>
                    <input type="text" class="form-control" [disabled]="propertyFlag" id="poStatusKey"
                        aria-describedby="poStatus">
                    <small id="poStatus" class="form-text text-muted"></small>
                </div>

            </div>

            <div class="col-2">
                <div class="form-group">
                    <label for="poStatus">PO Status Value</label>
                    <input type="text" class="form-control" [disabled]="propertyFlag" id="poStatusValue"
                        aria-describedby="poStatus">
                    <small id="poStatus" class="form-text text-muted"></small>
                </div>

            </div>


            <div class="col-4">

                <div class="form-group">
                    <label for="poStatus">PO Status</label>
                    <select name="poStatus" id="poStatus" class="form-control">
                        <option>Received</option>
                        <option>Approved</option>
                        <option>Pending</option>
                        <option>Rejected</option>
                        <option>On hold</option>
                    </select>
                </div>

            </div>

            <div class="col-2" style="margin-top:1.3vw">

                <button class="btn btn-primary" (click)="saveOrEdit()">{{buttonName}}</button>
            </div>
            <div class="col-1" style="margin-top:1.3vw">
                <button class="btn btn-primary">Delete</button>

            </div>

        </div>


        <div class="row pad-row">

            <div class="col-2">
                <div class="form-group">
                    <label for="piStatus">PI Status Key</label>
                    <input type="text" class="form-control" [disabled]="propertyFlag" id="piStatusKey"
                        aria-describedby="poStatus">
                    <small id="piStatus" class="form-text text-muted"></small>
                </div>

            </div>

            <div class="col-2">
                <div class="form-group">
                    <label for="piStatus">PI Status Value</label>
                    <input type="text" class="form-control" [disabled]="propertyFlag" id="piStatusValue"
                        aria-describedby="piStatus">
                    <small id="piStatus" class="form-text text-muted"></small>
                </div>

            </div>


            <div class="col-4">

                <div class="form-group">
                    <label for="piStatus">PI Status</label>
                    <select name="piStatus" id="piStatus" class="form-control">
                        <option>Received</option>
                        <option>Approved</option>
                        <option>Pending</option>
                        <option>Rejected</option>
                        <option>On hold</option>
                    </select>
                </div>
            </div>

            <div class="col-2" style="margin-top:1.3vw">

                <button class="btn btn-primary" (click)="saveOrEdit()">{{buttonName}}</button>
            </div>
            <div class="col-1" style="margin-top:1.3vw">
                <button class="btn btn-primary">Delete</button>

            </div>

        </div>

        <div class="row pad-row">

            <div class="col-2">
                <div class="form-group">
                    <label for="PaymentStatus">Payment Status Key</label>
                    <input type="text" class="form-control" [disabled]="propertyFlag" id="PaymentStatusKey"
                        aria-describedby="PaymentStatus">
                    <small id="PaymentStatus" class="form-text text-muted"></small>
                </div>

            </div>

            <div class="col-2">
                <div class="form-group">
                    <label for="PaymentStatus">Payment Status Value</label>
                    <input type="text" class="form-control" [disabled]="propertyFlag" id="PaymentStatusValue"
                        aria-describedby="PaymentStatus">
                    <small id="PaymentStatus" class="form-text text-muted"></small>
                </div>

            </div>


            <div class="col-4">

                <div class="form-group">
                    <label for="PaymentStatus">Payment Status</label>
                    <select name="PaymentStatus" id="PaymentStatus" class="form-control">
                
                        <option>Received</option>
                        <option>Pending</option>
                        <option>On hold</option>
                    </select>
                </div>
            </div>

            <div class="col-2" style="margin-top:1.3vw">

                <button class="btn btn-primary" (click)="saveOrEdit()">{{buttonName}}</button>
            </div>
            <div class="col-1" style="margin-top:1.3vw">
                <button class="btn btn-primary">Delete</button>

            </div>

        </div>

        <div class="row pad-row">

            <div class="col-2">
                <div class="form-group">
                    <label for="piReceived">PI Received in Key</label>
                    <input type="text" class="form-control" [disabled]="propertyFlag" id="piReceivedKey"
                        aria-describedby="piReceived">
                    <small id="piReceived" class="form-text text-muted"></small>
                </div>

            </div>

            <div class="col-2">
                <div class="form-group">
                    <label for="piReceived">PI Received in Value</label>
                    <input type="text" class="form-control" [disabled]="propertyFlag" id="piReceivedValue"
                        aria-describedby="piReceived">
                    <small id="piReceived" class="form-text text-muted"></small>
                </div>

            </div>


            <div class="col-4">

                <div class="form-group">
                    <label for="piReceived">Payment Status</label>
                    <select name="piReceived" id="piReceived" class="form-control">
                
                        <option>Full</option>
                        <option>Partial</option>
                      
                    </select>
                </div>
            </div>

            <div class="col-2" style="margin-top:1.3vw">

                <button class="btn btn-primary" (click)="saveOrEdit()">{{buttonName}}</button>
            </div>
            <div class="col-1" style="margin-top:1.3vw">
                <button class="btn btn-primary">Delete</button>

            </div>

        </div>

    </form>


</div>