.panel-title {
    margin-top: 6px;
}
textarea.form-control {
    height: 300px;
}

mat-chip{
    margin-top: -28px !important;   
}
input.mat-chip-input {
    width: 100%;
    margin: 0;
}   


:host ::ng-deep .mat-form-field-infix {
    // padding: .5em 0;
     border-top: none !important
}


.mat-expansion-panel-header-title {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
    color: #f8f9fa;
    
}

:host ::ng-deep .mat-expansion-indicator::after {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle;
    color: #f8f9fa;
}


.mat-expansion-panel-header {
    background-color: #0d4d92 !important;
}
