.panel-title {
    margin-top: 6px;
}

textarea.form-control {
    height: 92px !important;
}

mat-chip {
    margin-top: -28px !important;
}

input.mat-chip-input {
    width: 100%;
    margin: 0;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

:host ::ng-deep .mat-form-field-infix {
    // padding: .5em 0;
    border-top: none !important
}

.mat-expansion-panel-header-title {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
    color: #f8f9fa;
}

:host ::ng-deep .mat-expansion-indicator::after {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle;
    color: #f8f9fa;
}

.mat-expansion-panel-header {
    background-color: #0d4d92 !important;
}

.nic-bg {
    color: #0d4d92 !important;
}

:host ::ng-deep .multiselect-dropdown {
    margin-left: 6px;
    /* padding: 8px; */
    padding-right: 60px;
    font-size: 15px !important;
    // padding-right: 85px;
    // padding-bottom: 14px;
    // padding-left: 20px;
    // padding-top: 12px;
    // margin-left: 10px;
}

.dashBoard {
    background: #276678 !important;
    color: #fff!important;
    margin-bottom: 17px;
    // height: 44px;
    // padding-top: 10px;
    // padding-left: 10px;
    font-size: 21px;
    font-weight: 500;
    border-color: #276678;
    border-style: solid;
    vertical-align: middle !important;
    padding: 10px;
}

mat-card.mat-card {
    width: 100%;
}

.mat-error {
    font-size: 14px !important;
    padding: 10px !important;
    font-weight: 400 !important;
}

.float-left {
    float: left;
}

.attachment {
    margin: 9px 0;
    cursor: pointer;
    font-size: 15px;
    color: #276677;
}

.attachment-name {
    display: inline-block;
    margin: 10px 0;
    padding: 6px;
    border: 1px solid #104d92;
    border-radius: 10px;
    color: #555;
    font-size: 16px;
}