.panel-title {
    margin-top: 6px;
}
textarea.form-control {
    height: 300px;
}

mat-chip{
    margin-top: -28px !important;   
}
input.mat-chip-input {
    width: 100%;
    margin: 0;
}   


:host ::ng-deep .mat-form-field-infix {
    // padding: .5em 0;
     border-top: none !important
}
