<button class="close" mat-button mat-dialog-close>  
<mat-icon class="">close</mat-icon>
</button>
<h2 mat-dialog-title>Audit Trail</h2>
    <!--Mat Tabel-->
    <mat-dialog-content class="mat-typography"> 

    <!--Form FIlter-->

    <mat-card>
        <form [formGroup]="searchForm">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="dateFor" class="" style="visibility:hidden;">From Date</label>
                        <mat-form-field>
                            <mat-label>Search...</mat-label>
                            <input matInput type="text" formControlName="searchData">
                            <button mat-button matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon>search</mat-icon>
                    </button>
                        </mat-form-field>


                    </div>
                </div>


                <div class="col-3">
                    <div class="form-group">


                        <label for="dateFor">From Date</label>

                        <mat-form-field>
                            <input matInput [matDatepicker]="picker6" formControlName="searchFrom">
                            <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                            <mat-datepicker #picker6></mat-datepicker>
                        </mat-form-field>

                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">


                        <label for="dateFor">To Date</label>

                        <mat-form-field>
                            <input matInput [min]="searchForm.get('searchFrom').value" [matDatepicker]="picker7" formControlName="searchTo">
                            <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                            <mat-datepicker #picker7></mat-datepicker>
                        </mat-form-field>

                    </div>
                </div>

                <div class="row m-0 col-3">
                    <div class="col-md-3 form-group">

                        <div class="row mt-4 pt-2">
                            <button class="btn btn-primary" type="submit" (click)="onSearch()">Apply</button>
                        </div>

                    </div>

                    <div class="col-md-4 form-group">

                        <div class="row mt-4 pt-2">
                            <button class="btn btn-primary" type="submit" (click)="clear()">Clear</button>
                        </div>

                    </div>

                    <div class="col-md-5 form-group">

                        <div class="row mt-4 pt-2">

                            <button (click) = "getDownloadXls()" class="btn btn-primary download" type="button">Export as CSV</button>


                        </div>

                    </div>


                </div>




            </div>
        </form>
    </mat-card> <!--Form Filter End-->



    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- <ng-container matColumnDef="NO">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container> -->

            <!-- Position Column -->
            <ng-container matColumnDef="screen">
                <th mat-header-cell *matHeaderCellDef> Screen </th>
                <td mat-cell *matCellDef="let element"> {{element.screen}}</td>
            </ng-container>

            <ng-container matColumnDef="dataFeild">
                <th mat-header-cell *matHeaderCellDef>Data Field</th>
                <td mat-cell *matCellDef="let element"> {{element.dataFeild}} </td>
            </ng-container>

            <ng-container matColumnDef="oldValue">
                <th mat-header-cell *matHeaderCellDef>Old Value</th>
                <td mat-cell *matCellDef="let element"> {{element.oldValue}} </td>
            </ng-container>

            <ng-container matColumnDef="newValue">
                <th mat-header-cell *matHeaderCellDef> New Value </th>
                <td mat-cell *matCellDef="let element"> {{element.newValue}} </td>
            </ng-container>


            <!-- Name Column -->
            <ng-container matColumnDef="changedBy">
                <th mat-header-cell *matHeaderCellDef> Changed By </th>
                <td mat-cell *matCellDef="let element"> {{element.changedBy}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef> Updated Time </th>
                <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="remarks">
                <th mat-header-cell *matHeaderCellDef class=""> Remarks </th>
                <td mat-cell *matCellDef="let element"> {{element.remarks}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
        </table>

        <mat-paginator class="font-paginator" [pageSize]="8" showFirstLastButtons></mat-paginator>
    </div>

    </mat-dialog-content>

<mat-dialog-actions style="float:right;margin-top: 15px;">
    <button mat-button [mat-dialog-close]="true"  cdkFocusInitial>Close</button>
</mat-dialog-actions>

