<div class="col-md-10 main">
    <mat-card class="p-0">
        <div class="technical_admin">
            <!-- <h1 class="h4 mb-1 mt-1 text-gray-100 mb-3" matRipple style="font-family: arial;">Technical Admin Details</h1> -->

            <app-account-header [title]="'Technical Admin Details'" [accountName]="accountName" [status]="status" [user]="user"></app-account-header>

            <app-view-info [techAdminUserDetails]="viewInfoData" *ngIf="isShowTechViewPage"></app-view-info>



            <form class="pr-3 pl-3" (submit)="onSubmit()" [formGroup]="technicaladminform" *ngIf="!isShowTechViewPage">
                <div class="row formAlignment">

                    <div class="d-none">
                        <!-- formControlName="id" -->
                        <div class="form-group">
                            <app-custom-input type="hidden" formControlName="id" [labelName]="labels.id" [id]="'id'" placeHolder="Enter the Id">
                            </app-custom-input>
                        </div>
                    </div>
                </div>
                
                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="name" 
                        [labelName]="labels.name" [id]="'Name'" 
                        placeHolder = "Enter the Name"
                        [isRequired]="'Name is Mandatory'" 
                        [mandatoryField]="true"
                        [maxLength]="labels?.validationData.name.maxLength"
                        [type]="labels?.validationData.name.type" 
                        [isDirty]="isDirty"
                        [isDisabledInp]="propertyFlag"
                        >
                        </app-custom-input>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <app-custom-input formControlName="email" placeHolder="Enter the Email Address" [labelName]="labels.email" [id]="'email'" [isRequired]="'Email is Mandatory'" [mandatoryField]="true" [patternCheck]="labels?.validationData.email.patternCheck" [maxLength]="labels?.validationData.email.maxLength"
                                [isDirty]="isDirty" [isDisabledInp]="propertyFlag">
                            </app-custom-input>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="department">{{labels.department}}</label>
                            <app-vf-custom-select formControlName="departmentName" [values]="departmentListData" [isDirty]="isDirty" [isDisabled]="propertyFlag"></app-vf-custom-select>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row formAlignment">  
                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input 
                        formControlName="designation" 
                        [labelName]="labels.designation" 
                        placeHolder =  "Enter the Designation"
                        [id]="'designation'" 
                        [mandatoryField]="true"
                        [isRequired]="'Designation is Mandatory'" 
                        [maxLength]="labels?.validationData.designation.maxLength"
                        [type]="labels?.validationData.designation.type" 
                        [isDirty]="isDirty"
                        [isDisabledInp]="propertyFlag"
                        >
                        </app-custom-input>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="employeeCode" 
                        [labelName]="labels.employeeCode" 
                        placeHolder =  "Enter the Employee Code"
                        [id]="'employeeCode'" 
                        [maxLength]="labels?.validationData.employeeCode.maxLength"
                        [type]="labels?.validationData.employeeCode.type"  
                        [isDirty]="isDirty"
                        [isDisabledInp]="propertyFlag"
                        >
                        </app-custom-input>
                    </div>

                    <div class="col-1 pr-2">
                        <div class="form-group">
                            <label for="">Code<span style="color: red;">*</span></label>
                            <app-vf-custom-select formControlName="mobileNumberCode" [values]="mobileNumberCodeList" [className]="'form-control Mandatory code-pad'" [isRequired]="'Select Code'" [isDisabled]="propertyFlag" [isDirty]="isDirty">
                            </app-vf-custom-select>
                        </div>
                    </div>


                    <div class="col-3">
                        <div class="form-group">
                            <app-custom-input formControlName="mobileNumber" [labelName]="labels.mobileNo" placeHolder="Enter the Mobile Number" [id]="'mobileNumber'" [mandatoryField]="true" [type]="labels?.validationData.mobile.type" [patternCheck]="labels?.validationData.mobile.patternCheck"
                                [maxLength]="labels?.validationData.mobile.maxLength" [isDirty]="isDirty" [isDisabledInp]="propertyFlag">
                            </app-custom-input>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="telPhno" 
                        [labelName]="labels.teleNumber" 
                        [id]="'telPhno'" 
                        [mandatoryField]="true"
                        [isRequired]="'Telephone number is Mandatory'" 
                        [type]="labels?.validationData.telephoneNumber.type" 
                        [patternCheck]="labels?.validationData.telephoneNumber.patternCheck" 
                        [maxLength]="labels?.validationData.telephoneNumber.maxLength" 
                        [isDirty]="isDirty"
                        [isDisabledInp]="propertyFlag"
                        >
                        </app-custom-input>
                    </div>
                </div> -->

                <div class="row formAlignment">
                    <div class="col-1 pr-2 mr-0">
                        <div class="form-group">

                            <label for="department">Code<span style="color:red">*</span></label>
                            <app-vf-custom-select formControlName="telephoneNumberCode" [className]="'form-control Mandatory code-pad'" [values]="teleCodeValues" [isRequired]="'Select code'" [isDisabled]="propertyFlag" [isDirty]="isDirty">
                            </app-vf-custom-select>
                        </div>
                    </div>
                    <div class="col-3 pl-2 ml-0">
                        <div class="form-group">
                            <app-custom-input formControlName="telephoneNumber" [labelName]="labels.teleNumber" [id]="'telephoneNumber'" placeHolder="Enter the Telephone Number" [isRequired]="'Telephone Number is Mandatory'" [mandatoryField]="true" [type]="labels?.validationData.telephoneNumber.type"
                                [patternCheck]="labels?.validationData.telephoneNumber.patternCheck" [maxLength]="labels?.validationData.telephoneNumber.maxLength" [isDisabledInp]="propertyFlag" [isDirty]="isDirty">
                            </app-custom-input>
                        </div>

                    </div>



                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="offAddress1" 
                        [labelName]="labels.officialAdd1" 
                        placeHolder =  "Enter the Address1"
                        [id]="'offcAddressLine1'" 
                        [mandatoryField]="true"
                        [isRequired]="'Office AddressLine1 is Mandatory'" 
                        [maxLength]="labels?.validationData.officeAddress.maxLength" 
                        [type]="labels?.validationData.officeAddress.type" 
                        [isDirty]="isDirty"
                        [isDisabledInp]="propertyFlag"
                        >
                        </app-custom-input>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="offAddress2" 
                        [labelName]="labels.officialAdd2" 
                        placeHolder =  "Enter the Address2"
                        [id]="'offcAddressLine2'" 
                        [maxLength]="labels?.validationData.officeAddress.maxLength" 
                        [type]="labels?.validationData.officeAddress.type"
                        [isDirty]="isDirty"
                        [isDisabledInp]="propertyFlag"
                        >
                        </app-custom-input>
                    </div>
                </div>
                </div>
                <div class="row formAlignment"> 
                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="offAddress3" 
                        [labelName]="labels.officialAdd3" 
                        placeHolder =  "Enter the Address3"
                        [id]="'offcAddressLine3'" 
                        [maxLength]="labels?.validationData.officeAddress.maxLength" 
                        [type]="labels?.validationData.officeAddress.type"
                        [isDirty]="isDirty"
                        [isDisabledInp]="propertyFlag"
                        >
                        </app-custom-input>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="city" 
                        [labelName]="labels.city" 
                        placeHolder =  "Enter the City Name"
                        [id]="'city'" 
                        [mandatoryField]="true"
                        [isRequired]="'City is Mandatory'" 
                        [maxLength]="labels?.validationData.city.maxLength"
                        [type]="labels?.validationData.city.type" 
                        [isDirty]="isDirty"
                        [isDisabledInp]="propertyFlag"
                        >
                        </app-custom-input>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="state" 
                        [labelName]="labels.state" 
                        placeHolder =  "Enter the State"
                        [id]="'state'" 
                        [mandatoryField]="true"
                        [isRequired]="'State is Mandatory'" 
                        [maxLength]="labels?.validationData.state.maxLength"
                        [type]="labels?.validationData.state.type" 
                        [isDirty]="isDirty"
                        [isDisabledInp]="propertyFlag"
                        >
                        </app-custom-input>
                    </div>
                </div>
                <div class="row formAlignment">
                    <div class="col-4">
                        <div class="form-group">
                            <app-custom-input formControlName="pinCode" [labelName]="labels.pincode" placeHolder="Enter the PinCode" [id]="'pincode'" [mandatoryField]="true" [isRequired]="'Pincode is Mandatory'" [maxLength]="labels?.validationData.pincode.maxLength" [type]="labels?.validationData.pincode.type"
                                [isDirty]="isDirty" [isDisabledInp]="propertyFlag">
                            </app-custom-input>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="remarks">{{labels.remark}}</label>
                            <textarea class="form-control" maxlength="3000" style="height: 56px;" placeholder="Enter the Remark" formControlName='remark' id="remarks" rows="3"></textarea>
                            <div class="date-picker-error" *ngIf="isDirty && technicaladminform.controls['remark'].errors?.required">
                                Please Enter Remark
                            </div>
                        </div>
                    </div>


                </div>

            </form>
            <!-- <div class="row pt-3 pb-3 m-0">
                <button class="btn btn-primary" [disabled]="technicaladminform.invalid" matRipple type="submit" *ngIf="!propertyFlag" (click)="onSubmit()">Save</button>

                <button class="btn btn-primary back-btn" [disabled]="!propertyFlag" matRipple (click)="editData()">Edit</button>


                <div class="ml-auto float-right">
                <button class="btn btn-primary back-btn" matRipple (click)="back()">Back</button>
                <button class="btn btn-primary back-btn" matRipple (click)="next()">Next</button>
            </div>

            </div> -->





            <div class="row p-3">
                <div class="col-8">
                    <ng-container *ngIf="isWrite">
                        <button class="btn btn-primary float-left" matRipple type="submit" *ngIf="!showView" (click)="onSubmit()">Save & Next</button>
                        <!-- <button class="btn btn-primary float-left" matRipple type="submit" *ngIf="hideEditButton" (click)="onSubmit()">Save & Next</button> -->
                        <button class="btn btn-primary btn-lg float-left back-btn" *ngIf="showView" style="padding-left: 36px; padding-right:36px;" matRipple (click)="editData()"> Edit </button>
                    </ng-container>
                </div>

                <div class="col-4" style="float: right;">
                    <button class="btn btn-primary ml-3" style="padding-left: 36px; padding-right:36px;" (click)="onNext()">Next</button>
                    <button class="btn btn-primary ml-3" *ngIf="!showView" style="padding-left: 36px; padding-right:36px;" (click)="back('show')">Back</button>
                    <button class="btn btn-primary ml-3" *ngIf="showView" style="padding-left: 36px; padding-right:36px;" (click)="back('view')">Back</button>

                </div>


            </div>

        </div>

        <!-- <div class="bottom-button">
           <button mat-raised-button (click)="next()" class="float-left" matRipple style="background-color:#0e4d92;color: #fff;" (click)="back()">Back</button>
           <button mat-raised-button (click)="back()" class="float-right" matRipple style="background-color:#0e4d92;color: #fff;" (click)="next()">Next</button>
        </div> -->

        <!-- <app-account-header [title]="'Billing Admin Details'" *ngIf="user"></app-account-header> -->

        <div *ngIf="false">
            <div class="dashBoard" *ngIf="isShowTechViewPage">
                <div>
                    Billing Admin Details
                </div>
            </div>

            <!-- <app-view-info [billAdminUserDetails] = "viewBillAdminInfoData" *ngIf = "isShowTechViewPage"></app-view-info> -->





            <div class="row pt-3 pb-3" *ngIf="isShowTechViewPage">
                <div class="col-8">
                    <!-- <button class="btn btn-primary float-left" matRipple type="submit" *ngIf="!propertyFlag" (click)="onSubmit()">Save</button> -->
                    <button class="btn btn-primary btn-lg float-left back-btn" style="padding-left: 36px; padding-right:36px;" matRipple (click)="editDataBill()">Edit</button>
                </div>

                <div class="col-4" style="float: right;">
                    <button *ngIf="isShowTechViewPage" class="btn btn-primary ml-3" style="padding-left: 36px; padding-right:36px;" (click)="onNext()">Next</button>

                    <button class="btn btn-primary ml-30" style="padding-left: 36px; padding-right:36px;" (click)="back('billAdmin')">Back</button>

                </div>

                <div class="col-2" style="float: left;">
                    <!-- <button class="btn btn-primary ml-3" (click)="next()">Save & Next</button> -->

                </div>
            </div>
        </div>


    </mat-card>
</div>


<app-remark-modal *ngIf="remarkModal" [showRemarkModal]="remarkModal" (onOkay)="remarkOkay()"></app-remark-modal>
<app-data-saved-modal *ngIf="showDataSaveModal" [showSavedModal]="showDataSaveModal" [data]="dataValue" (yes)="saveYes()" (cancel)="saveCancel()"></app-data-saved-modal>