.technical_admin{
    margin-top: 10px;
    overflow-x: hidden;
}
button.btn.btn-primary {
    // float: right;
    // margin-left:20px;
    background-color: #0e4d92 !important;
    border: 1px solid #0e4d92 !important;
    font-size: 13px;
  }
  .example-action-buttons {
    padding-bottom: 20px;
  }

  .back-btn {
    margin-left:1.5vw
  }

  mat-card {
    width: 100% !important;
}
