<form [formGroup] = "TIForm">
    <div class="row">

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="userName" 
                [mandatoryField]="true" 
                [isRequired]="'User Name is Mandatory'" 
                [labelName]="labels.userName" 
                placeHolder="Enter the User Name" 
                [maxLength]="labels?.validationData?.userName?.maxLength" 
                [type]="labels?.validationData?.userName?.type"
                [isDirty]="isDirty" 
                isDisabledInp='true'>
                </app-custom-input>
            </div>
        </div>

        <ng-container *ngIf = "piShowFlag">
        <div class="col-4">
            <div class="form-group">
                <label for="department">{{labels.proformaIN}}<span style="color:red">*</span></label>
                <input type="text" style="border: 1px solid #ced4da;border-radius: 0.25rem;" class="form-control mb-3" placeholder="Choose the Proforma Invoice Number" [formControl]="TIForm.controls['piNumber']" formControlName="piNumber" [matAutocomplete]="auto1">
                <mat-autocomplete #auto1="matAutocomplete" [displayWith] = "pidisplayFn.bind(this)">
                    <mat-option *ngFor="let proformaInvoice of proformaInvoicesList" [value]="proformaInvoice.name">
                        {{proformaInvoice.name}}
                    </mat-option>
                </mat-autocomplete>
                <div class="date-picker-error" *ngIf="isDirty && TIForm.controls['piNumber'].errors?.required">
                    Please Enter the Proforma Invoice Number
                </div>
            </div>
        </div>
        </ng-container>


        <div class="col-4">
            <div class="form-group">
                <label for="department">{{labels.poNumber}}<span style="color:red">*</span></label>
                <input type="text" style="border: 1px solid #ced4da;border-radius: 0.25rem;"
                class="form-control mb-3"
                placeholder="Choose the Purchase Order Number"
                [formControl]="TIForm.controls['poNumber']"
                formControlName = "poNumber"
                [matAutocomplete]="auto" 
               >
               <mat-autocomplete #auto="matAutocomplete" [displayWith] = "podisplayFn.bind(this)">
                <mat-option *ngFor="let po of purchaseOrderNumberList" [value]="po.Name">
                  {{po.Name}}
                </mat-option>
              </mat-autocomplete>
              <div class="date-picker-error" *ngIf="isDirty && TIForm.controls['poNumber'].errors?.required">
                    Please Enter the Proforma Invoice Number
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="InvoiceDate">{{labels?.poDate}}<span style="color:red">*</span></label>

                <mat-form-field floatLabel="never">
                    <input matInput formControlName="poDate" required [matDatepicker]="poDateId" floatLabel="always" (keyup)="detectDateKeyAction($event,'poDate')">
                    <mat-datepicker-toggle matSuffix [for]="poDateId"></mat-datepicker-toggle>
                    <mat-datepicker #poDateId></mat-datepicker>
                    <mat-placeholder>Choose The Date</mat-placeholder>
                </mat-form-field>
                <div class="date-picker-error" *ngIf="isDirty && TIForm.get('poDate').errors?.required">
                    Please Select PO Date
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="fromDate">{{labels?.fromDate}}<span style="color:red">*</span></label>
                <mat-form-field floatLabel="never">
                    <input matInput formControlName="fromDate" required [matDatepicker]="fromDateId" (keyup)="detectDateKeyAction($event,'fromDate')">
                    <mat-datepicker-toggle matSuffix [for]="fromDateId"></mat-datepicker-toggle>
                    <mat-datepicker #fromDateId></mat-datepicker>
                    <mat-placeholder>Choose The Date</mat-placeholder>
                </mat-form-field>
                <div class="date-picker-error" *ngIf="isDirty && TIForm.get('fromDate').errors?.required">
                    Please Select From Date
                </div>

            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="toDate">{{labels?.toDate}}<span style="color:red">*</span></label>
                <mat-form-field floatLabel="never">
                    <input matInput [min]="TIForm.get('fromDate').value" formControlName="toDate" required [matDatepicker]="toDateId" [min]="TIForm.get('toDate').value" (keyup)="detectDateKeyAction($event,'toDate')">
                    <mat-datepicker-toggle matSuffix [for]="toDateId"></mat-datepicker-toggle>
                    <mat-datepicker #toDateId></mat-datepicker>
                    <mat-placeholder>Choose The Date</mat-placeholder>
                </mat-form-field>
                <div class="date-picker-error" *ngIf="isDirty && TIForm.get('toDate').errors?.required">
                    Please Select To Date
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="projectNumber" 
                [mandatoryField]="true" 
                [type]="labels?.validationData?.projectNo?.type" 
                [isRequired]="'Project Number is Mandatory'" 
                [labelName]="labels.projectNo"
                placeHolder="Enter the Project Number" 
                [maxLength]="labels?.validationData?.projectNo?.maxLength"
                [isDirty]="isDirty" 
                [type]="labels?.validationData?.projectNo?.type">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="billableAmount" 
                [mandatoryField]="true" 
                [isRequired]="'Billable Amount is Mandatory'" 
                [labelName]="labels?.poBillable" 
                placeHolder="Enter the Billable Amount" 
                [type]="labels?.validationData?.poBillable.type" 
                [maxLength]="labels?.validationData?.poBillable.maxLength"
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="invoiceAmount" 
                [mandatoryField]="true" 
                [isRequired]="'Invoice Amount is Mandatory'" 
                [labelName]="labels?.invoiceAmount" 
                placeHolder="Enter the Invoice Amount" 
                [type]="labels?.validationData?.invoiceAmount?.type" 
                [maxLength]="labels?.validationData?.invoiceAmount?.maxLength"
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="taxInvoiceNumber" 
                [mandatoryField]="true" 
                [isRequired]="'Tax Invoice Number is Mandatory'" 
                [labelName]="labels?.taxIN" placeHolder="Enter the Tax Invoice Number" 
                [maxLength]="labels?.validationData?.taxIN?.maxLength"
                [type]="labels?.validationData?.taxIN?.type" 
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="dateFor">{{labels?.submittedDate}}<span style="color:red">*</span></label>
                <mat-form-field floatLabel="never">
                    <input matInput required formControlName="submittedDate" [matDatepicker]="sumbittedDatePicker" (keyup)="detectDateKeyAction($event,'submittedOn')">
                    <mat-datepicker-toggle matSuffix [for]="sumbittedDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #sumbittedDatePicker></mat-datepicker>
                    <mat-placeholder>Choose The Date</mat-placeholder>
                </mat-form-field>
                <div class="date-picker-error" *ngIf="isDirty && TIForm.get('submittedDate').errors?.required">
                    Please Select Date
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="form-group">
                <label for="">{{labels?.invoiceStatus}}<span style="color:red">*</span></label>
                <app-vf-custom-select 
                formControlName="invoiceStatus" 
                [values]="invoiceStatusList" 
                [isRequired]="'Please Select the Invoice Status'" 
                [isDirty]="isDirty">
                </app-vf-custom-select>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="invoicePaidAmount" 
                [mandatoryField]="true" 
                [isRequired]="'Invoice Amount Paid is Mandatory'" 
                [labelName]="labels?.invoiceAmountPaid" 
                placeHolder="Enter the Invoice Amount Paid" 
                [maxLength]="labels?.validationData?.invoiceAmountPaid.maxLength"
                [type]="labels?.validationData?.invoiceAmountPaid.type" 
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>


        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="tds" 
                [mandatoryField]="true" 
                [isRequired]="'TDS is Required'" 
                [labelName]="labels?.tds" 
                placeHolder="Enter the TDS" 
                [maxLength]="labels?.validationData?.tds.maxLength" 
                [type]="labels?.validationData?.tds.type" 
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="penalty" 
                [isRequired]="'Penalty is Mandatory'" 
                [mandatoryField]="true" 
                [labelName]="labels?.penalty" 
                placeHolder="Enter the Penalty" 
                [maxLength]="labels?.validationData?.penalty.maxLength" 
                [type]="labels?.validationData?.penalty.type"
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="shortPay" 
                [mandatoryField]="true" 
                [isRequired]="'Short Pay is Mandatory'" 
                [labelName]="labels?.shortPay" 
                placeHolder="Enter the Short Pay" 
                [maxLength]="labels?.validationData?.shortPay.maxLength" 
                [type]="labels?.validationData?.shortPay.type"
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="paymentStatus">{{labels.paymentStatus}}<span style="color:red">*</span></label>
                <app-vf-custom-select 
                formControlName="paymentStatus" 
                [values]="paymentStatusList" 
                [isRequired]="'Please Select Payment Status'" 
                [isDirty]="isDirty">
                </app-vf-custom-select>

            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="projectName" 
                [mandatoryField]="true" 
                [labelName]="labels.projectName" 
                [id]="'projectName'" 
                placeHolder="Enter the Project Name" 
                [isRequired]="'Project Name is Mandatory'" 
                [type]="labels?.validationData.projectName.type"
                [maxLength]="labels?.validationData.projectName.maxLength" 
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="projectCoordinator" 
                [mandatoryField]="true" 
                [labelName]="labels.projectCordinator" 
                [id]="'projectCordinator'"
                placeHolder="Enter the Project Coordinator Name" 
                [isRequired]="'Project Coordinator Name is Mandatory'" 
                [type]="labels?.validationData.projectCordinator.type"
                [maxLength]="labels?.validationData.projectCordinator.maxLength" 
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="amendOrderNo" 
                [mandatoryField]="true" 
                [labelName]="labels.PONoAmendOrder" 
                [id]="'PONoAmendOrder'" 
                placeHolder="Enter the PO No Amend Order" 
                [isRequired]="'PO No AmendOrder is Mandatory'" 
                [type]="labels?.validationData.PONoAmendOrder.type"
                [maxLength]="labels?.validationData.PONoAmendOrder.maxLength" 
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="userEmail" 
                [mandatoryField]="true" 
                [labelName]="labels.mail" 
                [id]="'mail'" 
                placeHolder="Enter the Mail" 
                [isRequired]="'Mail is Mandatory'" 
                [maxLength]="labels?.validationData.mail.maxLength" 
                [patternCheck]="labels?.validationData.mail.patternCheck"
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="totalSMS" 
                [mandatoryField]="true" 
                [labelName]="labels.totalSMS" 
                [id]="'totalSMS'" 
                placeHolder="Enter the Total SMS" 
                [isRequired]="'Total SMS is Mandatory'" 
                [type]="labels?.validationData.totalSMS.type" 
                [maxLength]="labels?.validationData.totalSMS.maxLength"
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="counts1" 
                [mandatoryField]="true" 
                [type]="'number'" 
                [labelName]="labels.counts" 
                [id]="'counts'" 
                placeHolder="Enter the Counts" 
                [isRequired]="'Counts is Mandatory'" 
                [type]="labels?.validationData.counts.type" 
                [maxLength]="labels?.validationData.counts.maxLength"
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="baseAmount" 
                [mandatoryField]="true" 
                [type]="labels?.validationData.baseAmount.type" 
                [labelName]="labels.baseAmount" 
                [id]="'baseAmount'" 
                placeHolder="Enter the Base Amount" 
                [isRequired]="'Base Amount is Mandatory'" 
                [maxLength]="labels?.validationData.baseAmount.maxLength"
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="tax" 
                [mandatoryField]="true" 
                [type]="labels?.validationData.tax.type" 
                [labelName]="labels.tax" 
                [id]="'tax'" 
                placeHolder="Enter the tax" 
                [isRequired]="'Tax is Mandatory'"
                [maxLength]="labels?.validationData.tax.maxLength"
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="dateFor">{{labels?.recvDate}}<span style="color:red">*</span></label>

                <mat-form-field floatLabel="never">
                    <input matInput required formControlName="receiveDate" [matDatepicker]="recvDateDatePicker" (keyup)="detectDateKeyAction($event,'submittedOn')">
                    <mat-datepicker-toggle matSuffix [for]="recvDateDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #recvDateDatePicker></mat-datepicker>
                    <mat-placeholder>Choose The Date</mat-placeholder>
                </mat-form-field>
                <div class="date-picker-error" *ngIf="isDirty && TIForm.get('receiveDate').errors?.required">
                    Please Select Date
                </div>

            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="book" 
                [mandatoryField]="true" 
                [labelName]="labels.book" 
                [id]="'book'" 
                placeHolder="Enter the Book" 
                [isRequired]="'Book is Mandatory'" 
                [type]="labels?.validationData.book.type" 
                [maxLength]="labels?.validationData.book.maxLength"
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="dateFor">{{labels?.dateEstimated}}<span style="color:red">*</span></label>
                <mat-form-field floatLabel="never">
                    <input matInput required formControlName="dateEstimated" [matDatepicker]="dateEstimatedDatePicker" (keyup)="detectDateKeyAction($event,'submittedOn')">
                    <mat-datepicker-toggle matSuffix [for]="dateEstimatedDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #dateEstimatedDatePicker></mat-datepicker>
                    <mat-placeholder>Choose The Date</mat-placeholder>
                </mat-form-field>
                <div class="date-picker-error" *ngIf="isDirty && TIForm.get('dateEstimated').errors?.required">
                    Please Select Date
                </div>

            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="invoiceAmount2" 
                [mandatoryField]="true" 
                [labelName]="labels.invoiceAmount2" 
                [id]="'invoiceAmount2'"
                placeHolder="Enter the Invoice Amount 2" 
                [isRequired]="'Invoice Amount 2 is Mandatory'" 
                [type]="labels?.validationData.invoiceAmount2.type"
                [maxLength]="labels?.validationData.invoiceAmount2.maxLength" 
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="bankReceived" 
                [mandatoryField]="true" 
                [labelName]="labels.bankReceived" 
                [id]="'bankReceived'" 
                placeHolder="Enter the Bank Received" 
                [isRequired]="'Bank Received is Mandatory'" 
                [type]="labels?.validationData.bankReceived.type"
                [maxLength]="labels?.validationData.bankReceived.maxLength" 
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="interestOnTds" 
                [mandatoryField]="true" 
                [labelName]="labels.interestOnTDSotherDeduction" 
                [id]="'interestOnTDSotherDeduction'"
                 placeHolder="Enter the Interest On TDS Other Deduction" 
                 [isRequired]="'Interest On TDS other Deduction is Mandatory'"
                [maxLength]="labels?.validationData.interestOnTDSotherDeduction.maxLength" 
                [type]="labels?.validationData.interestOnTDSotherDeduction.type" 
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="dateFor">{{labels?.receiptDate}}<span style="color:red">*</span></label>
                <mat-form-field floatLabel="never">
                    <input matInput required formControlName="receiptDate" [matDatepicker]="receiptDatePicker" (keyup)="detectDateKeyAction($event,'submittedOn')">
                    <mat-datepicker-toggle matSuffix [for]="receiptDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #receiptDatePicker></mat-datepicker>
                    <mat-placeholder>Choose The Date</mat-placeholder>
                </mat-form-field>
                <div class="date-picker-error" *ngIf="isDirty && TIForm.get('receiptDate').errors?.required">
                    Please Select Date
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName="mrnNumber" 
                [mandatoryField]="true" 
                [labelName]="labels.mrn" 
                [id]="'mrn'" 
                placeHolder="Enter the MRN Number" 
                [isRequired]="'MRN Number is Mandatory'" 
                [type]="labels?.validationData.mrn.type" 
                [maxLength]="labels?.validationData.mrn.maxLength"
                [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="remark">{{labels.remark}}</label><span style="color:red">*</span>
                <textarea class="remark" maxlength="3000" formControlName='remark' id="remark" placeHolder="Enter the Remark" required></textarea>
                <div class="date-picker-error" *ngIf="isDirty && TIForm.get('remark').errors?.required">
                    Please Enter Remark
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="documentUpload">{{docAvailFlag ? labels?.uploadDoc : labels?.uploadDoc}}</label>
                <input type="file" accept="application/pdf" class="form-control upload-choose-pad" 
                    formControlName="uploadDocument" id="documentUpload" 
                    (change) = "uploadFile($event.target.files)">
                <small id="poBillableHelp" class="form-text text-muted"></small>
            </div>
        </div>

        <div *ngIf = "docAvailFlag" class="col-4">
            <label for="document">Document</label><br>
              <button class="btn btn-primary" style="float: left;" (click)="preview()">View</button>
          </div>

    </div>

    <div class="mt-4">
    <button class="btn btn-primary" style="float:left" (click)="saveForm()">{{btnText}}</button>
    <ng-content></ng-content>
    </div>

</form>