.purchase-entry{
  margin-top: 10px;
  overflow-x: hidden;

}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: .35rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out}

  .form-group{
      font-size: 15px;
      color: black;
  }

  .material-icons{
      padding-right: 32px;
    }

    .mat-expansion-panel-header {
      line-height: 24px;
      margin-bottom: 10px;
      background-color: #dfdfdf !important;
      font-weight: 500 !important;
    }
    
    .mat-expansion-panel-header:hover #mat-expansion-panel-header-0 {

      background-color: #dfdfdf !important;
    }
    mat-form-field{
      margin-top: -0.5vw;
  }

    .upload-choose-pad{
      padding:3px;
    }
  
    ::ng-deep .mat-select-value {
      font-size: 15px !important;
    }
  
    ::ng-deep .mat-option-text {
      font-size: 15px !important;
    }



    table {
      width: 100%;
    }
    th{
      font-size: 16px;
      font-weight: 500;
      background-color: #0e4d92;
      color: #fff;
    }
    tr:nth-child(even) {background-color:#f5f4f4;}
  
    .material-icons{
      padding-right: 32px;
    }
    
    .mat-expansion-panel-header {
      line-height: 24px;
      margin-bottom: 10px;
      background-color: #dfdfdf !important;
      font-weight: 500 !important;
    }
    
    .mat-expansion-panel-header:hover #mat-expansion-panel-header-0 {
    
      background-color: #dfdfdf !important;
    }

    .searching{
      margin-top: 1.1vw;
    }

    mat-card{
      margin-bottom: 4px;
      margin-top: 8px;
    }
  


    button{
      height: 30px;
      border-radius: 5px;
      color: #ffffff !important;
      background-color: #0e4d92 !important;
      border-style: none;
      font-weight: 400;
    }
    

    .download-pad {
    
      margin: 1vw 2vw;
    }


  