<div class="purchase-order">
<form>
    <!--FIRST ROW-->
    <!-- <div class="row pt-3 pb-3 m-0 d-flex justify-content-end">
      <button  class="btn btn-primary" type="submit"><i class="fa fa-upload pr-2"></i>Bulk Upload</button>
      <button  class="btn btn-primary" type="submit">PDF Upload</button>
    </div>  -->
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="purchaseOrder">Purchase Order Number</label>
                <input type="text" class="form-control" id="purchaseOrder" aria-describedby="purchaseOrderHelp">
                <small id="purchaseOrderHelp" class="form-text text-muted"></small>
              </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="projectNo">Project Number</label>
                <input type="text" class="form-control" id="projectNo" aria-describedby="projectNoHelp">
                <small id="projectNoHelp" class="form-text text-muted"></small>
              </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="projectName">Project Name</label>
                <input type="text" class="form-control" id="projectName" aria-describedby="projectNameHelp">
                <small id="projectNameHelp" class="form-text text-muted"></small>
              </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="userId">User ID</label>
                <input type="text" class="form-control" id="userId" aria-describedby="userIdHelp">
                <small id="userIdHelp" class="form-text text-muted"></small>
              </div>
        </div>
        

        <div class="col-4">
            <div class="form-group">
                <label for="dateFor">Date</label>
                <input type="date" class="form-control" id="dateFor" aria-describedby="dateHelp">
                <small id="dateHelp" class="form-text text-muted"></small>
              </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="poAmount">PO Amount</label>
                <input type="number" class="form-control" id="poAmount" aria-describedby="poAmountHelp">
                <small id="poAmountHelp" class="form-text text-muted"></small>
              </div>
        </div>
       
        <div class="col-4">
            <div class="form-group">
                <label for="poStatus">PO Status</label>
                <input type="text" class="form-control" id="poStatus" aria-describedby="poStatusHelp">
                <small id="poStatusHelp" class="form-text text-muted"></small>
              </div> -->
              <div class="form-group">
                <label for="poStatus">PO Status</label>
                <select 
                    name="poStatus" 
                    id="poStatus" 
                    class="form-control">
                    <option>Received</option>
                    <option>Approved</option>
                    <option>Pending</option>
                    <option>Rejected</option>
                    <option>On hold</option>
                </select>
            </div>
              
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="piStatus">PI Status</label>
                <input type="text" class="form-control" id="piStatus" aria-describedby="piStatusHelp">
                <small id="piStatusHelp" class="form-text text-muted"></small>
              </div> -->
              <div class="form-group">
                <label for="piStatus">PI Status</label>
                <select 
                    name="piStatus" 
                    id="piStatus" 
                    class="form-control">
                    <option>Received</option>
                    <option>Approved</option>
                    <option>Pending</option>
                    <option>Rejected</option>
                    <option>On hold</option>
                </select>
            </div>
        </div>
        

      <div class="col-4">
          <div class="form-group">
              <label for="PiReceived">PI Received in</label>
              <input type="date" class="form-control" id="PiReceived" aria-describedby="PiReceivedHelp">
              <small id="PiReceivedHelp" class="form-text text-muted"></small>
            </div>
      </div>
      <div class="col-4">
          <div class="form-group">
              <label for="paymentStatus">Payment Status</label>
              <select 
                  name="paymentStatus" 
                  id="paymentStatus" 
                  class="form-control">
                  <option>Received</option>
                  <option>Pending</option>
                  <option>On hold</option>
              </select>
          </div>
      </div>
      <div class="col-4">
          <div class="form-group">
              <label for="remark">Remark</label>
              <input type="text" class="form-control" id="remark" aria-describedby="remarkHelp">
              <small id="remarkHelp" class="form-text text-muted"></small>
            </div>
      </div>
      <div class="col-4">
          <div class="form-group">
              <label for="piBillable">PI Billable </label>
              <input type="text" class="form-control" id="piBillable" aria-describedby="piBillableHelp">
              <small id="piBillableHelp" class="form-text text-muted"></small>
            </div>
      </div>
      <div class="col-4">
          <div class="form-group">
              <label for="poBillable">PO Billable </label>
              <input type="text" class="form-control" id="poBillable" aria-describedby="poBillableHelp">
              <small id="poBillableHelp" class="form-text text-muted"></small>
            </div>
      </div>
      <div class="col-4">
        <div class="form-group">
            <label for="poBillable">Upload Document</label>
            <input type="file" class="form-control" id="poBillable" aria-describedby="poBillableHelp">
            <small id="poBillableHelp" class="form-text text-muted"></small>
          </div>
    </div>
    </div>

    <div class="row pt-3 pb-3 m-0">
      <button  class="btn btn-primary" type="submit">Submit</button>
    </div> 
</form>


<!--Material Table-->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="purchaseNo">
      <th mat-header-cell *matHeaderCellDef>Purchase Order No </th>
      <td mat-cell *matCellDef="let element"> {{element.purchaseNo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="projectNo">
      <th mat-header-cell *matHeaderCellDef> Project No </th>
      <td mat-cell *matCellDef="let element"> {{element.projectNumber}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="piAmt">
      <th mat-header-cell *matHeaderCellDef> PI Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.piAmt}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="remarks">
      <th mat-header-cell *matHeaderCellDef> Remarks </th>
      <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!--Materail Table End-->
<div class="m-5"></div>

</div>