<div class="col-md-10 main">
    <div class="purchase-order">
       

        <app-account-header [title]="'Purchase Order'" [accountName]="accountName" [status]="status" [user]="'invoice'"></app-account-header>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header matRipple>
                    <mat-panel-title>
                        <mat-icon>add_circle</mat-icon> Add New Purchase Order
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form (submit)="POForm()" [formGroup]="PurchaseOrderForm">
                    <!--FIRST ROW-->
                    <!-- <div class="row pt-3 pb-3 m-0 d-flex justify-content-end">
            <button  class="btn btn-primary" type="submit"><i class="fa fa-upload pr-2"></i>Bulk Upload</button>
            <button  class="btn btn-primary" type="submit">PDF Upload</button>
          </div>  -->
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">

                                <app-custom-input formControlName="userName" [isRequired]="'User name is Mandatory'" [labelName]="labels.userName" [maxLength]="labels?.validationData?.userName?.maxLength" [type]="labels?.validationData?.userName?.type" [isDirty]="isDirty">
                                </app-custom-input>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">

                                <app-custom-input formControlName="piNumber" [isRequired]="'Proforma Invoice Number is Mandatory'" [labelName]="labels.piNumber" [maxLength]="labels?.validationData?.piNumber?.maxLength" [type]="labels?.validationData?.piNumber?.type" [isDirty]="isDirty">
                                </app-custom-input>


                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">


                                <app-custom-input formControlName="poNumber" [isRequired]="'Purchase Order Number is Mandatory'" [labelName]="labels.poNumber" [maxLength]="labels?.validationData?.poNumber?.maxLength" [type]="labels?.validationData?.poNumber?.type" [isDirty]="isDirty">
                                </app-custom-input>


                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <!-- <label for="smsApproved">SMS Approved</label>
              <section class="example-section">
                <mat-checkbox class="example-margin" formControlName="smsApproved" >Yes</mat-checkbox>

                </section> -->

                                <app-custom-input formControlName="smsApproved" [isRequired]="'SMS Approved is Mandatory'" [labelName]="labels.smsApproved" [maxLength]="labels?.validationData?.smsApproved.maxLength" [type]="labels?.validationData?.smsApproved.type" [isDirty]="isDirty">
                                </app-custom-input>

                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">

                                <app-custom-input formControlName="projectName" [isRequired]="'Project Name is Mandatory'" [labelName]="labels.projectName" [maxLength]="labels?.validationData?.projectName?.maxLength" [isDirty]="isDirty">
                                </app-custom-input>

                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="dateFor">{{labels?.date}}</label>

                                <mat-form-field>
                                    <input matInput required formControlName="date" [matDatepicker]="picker1">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                                <div class="date-picker-error" *ngIf="
              isDirty &&
              PurchaseOrderForm.get('date').errors?.required
            ">
                                    Please select date
                                </div>

                            </div>
                        </div>


                        <div class="col-4">
                            <div class="form-group">

                                <app-custom-input formControlName="withoutTax" [isRequired]="'Without tax is Mandatory'" [labelName]="labels.withoutTax" [maxLength]="labels?.validationData?.withoutTax?.maxLength" [type]="labels?.validationData?.withoutTax?.type" [isDirty]="isDirty">
                                </app-custom-input>

                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">

                                <label for="poStatus">{{labels.poStatus}}</label>
                                <app-vf-custom-select formControlName="poStatus" [values]="poStatus" [isRequired]="'Please Select PO Status'" [isDirty]="isDirty">
                                </app-vf-custom-select>

                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="Fromperiod">Valid From</label>

                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker3" formControlName="startDate" [max]="PurchaseOrderForm.get('endDate').value" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </mat-form-field>

                                <div class="date-picker-error" *ngIf="
                isDirty &&
                PurchaseOrderForm.get('startDate').errors?.required
              ">
                                    Please select date
                                </div>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="Toperiod">Valid Upto</label>

                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker4" [min]="PurchaseOrderForm.get('startDate').value" formControlName="endDate" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                    <mat-datepicker #picker4></mat-datepicker>
                                </mat-form-field>

                                <div class="date-picker-error" *ngIf="
              isDirty &&
              PurchaseOrderForm.get('endDate').errors?.required
            ">
                                    Please select date
                                </div>

                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">

                                <app-custom-input formControlName="userEmail" [labelName]="labels.userEmail" [id]="'email'" [isRequired]="'User email is mandatory'" [patternCheck]="labels?.validationData.email.patternCheck" [maxLength]="labels?.validationData.email.maxLength" [isDisabledInp]="propertyFlag"
                                    [isDirty]="isDirty">

                                </app-custom-input>

                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">

                                <app-custom-input formControlName="poManagerEmail" [labelName]="labels.poManagerEmail" [id]="'email'" [isRequired]="'Manager email is mandatory'" [patternCheck]="labels?.validationData.email.patternCheck" [maxLength]="labels?.validationData.email.maxLength"
                                    [isDisabledInp]="propertyFlag" [isDirty]="isDirty">
                                </app-custom-input>



                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">

                                <app-custom-input formControlName="projectNo" [labelName]="labels.projectNo" [id]="'projectNo'" [isRequired]="'Project number is mandatory'" [maxLength]="labels?.validationData.projectNo.maxLength" [isDisabledInp]="propertyFlag" [isDirty]="isDirty">
                                </app-custom-input>

                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">

                                <app-custom-input formControlName="poAmountWithTax" [isRequired]="'Amount with tax is Mandatory'" [labelName]="labels.poAmountWithTax" [maxLength]="labels?.validationData?.poAmountWithTax?.maxLength" [type]="labels?.validationData?.poAmountWithTax?.type"
                                    [isDirty]="isDirty">
                                </app-custom-input>


                            </div>
                        </div>



                        <div class="col-4">
                            <div class="form-group">
                                <label for="department">{{labels.department}}</label>


                                <app-vf-custom-select formControlName="departmentName" [values]="departmentListData" [isRequired]="'Please Select Department'" [isDisabled]="propertyFlag" [isDirty]="isDirty"></app-vf-custom-select>


                            </div>
                        </div>








                        <div class="col-4">
                            <div class="form-group">
                                <label for="paymentStatus">{{labels.paymentStatus}}</label>
                                <app-vf-custom-select formControlName="paymentStatus" [values]="paymentStatus" [isRequired]="'Please Select Payment Status'" [isDirty]="isDirty"></app-vf-custom-select>

                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <app-custom-input formControlName="remark" [labelName]="labels.remark" [id]="'remark'" [maxLength]="labels?.validationData.userName.maxLength" [isDirty]="isDirty" [isDisabledInp]="propertyFlag">
                                </app-custom-input>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="poBillable">{{labels.uploadDoc}}</label>
                                <input type="file" class="form-control upload-choose-pad" id="poBillable" aria-describedby="poBillableHelp" formControlName="uploadDoc">
                                <small id="poBillableHelp" class="form-text text-muted"></small>
                            </div>
                        </div>
                    </div>

                    <div class="row pt-3 pb-3 m-0">
                        <button class="btn btn-primary" type="submit">Raise E-Invoice</button>
                    </div>
                </form>

            </mat-expansion-panel>
        </mat-accordion>



        <mat-card>
            <form [formGroup]="searchForm">
             <div class="row">
               <div class="col-3">
                   <div class="form-group">
                    <label for="dateFor" class="" style="visibility:hidden;">From Date</label> <label for="dateFor" class="" style="visibility:hidden;">From Date</label>
                     <mat-form-field >
                       <mat-label>Search...</mat-label>
                       <input matInput type="text" formControlName="searchData">
                       <button mat-button  matSuffix mat-icon-button aria-label="Clear">
                         <mat-icon>search</mat-icon>
                       </button>
                     </mat-form-field>
                   
         
                     </div>
                 </div>
         
         
                 <div class="col-3">
                   <div class="form-group">
         
                    
                     <label for="dateFor">From Date</label>
                     
                     <mat-form-field>
                       <input matInput 
                       [matDatepicker]="picker6" formControlName="searchFrom">
                       <mat-datepicker-toggle matSuffix [for]="picker6" 
                       ></mat-datepicker-toggle>
                       <mat-datepicker #picker6></mat-datepicker>
                     </mat-form-field>
                     
                   </div>
                 </div>
         
                 <div class="col-3">
                   <div class="form-group">
         
                    
                     <label for="dateFor">To Date</label>
                     
                     <mat-form-field>
                       <input matInput  
                       [matDatepicker]="picker7" formControlName="searchTo">
                       <mat-datepicker-toggle matSuffix [for]="picker7" 
                       ></mat-datepicker-toggle>
                       <mat-datepicker #picker7></mat-datepicker>
                     </mat-form-field>
                     
                   </div>
                 </div>
         
                 <div class="row m-0 col-3">
                    <div class="col-md-4 form-group">

                        <div class="row mt-4 pt-2">
                            <button class="btn btn-primary" type="submit" (click)="onSearch()">Apply</button>
                        </div>

                    </div>

                    <div class="col-md-6 form-group">

                        <div class="row mt-4 pt-2">
                            <button class="btn btn-primary" type="submit" (click)="clear()">Clear</button>
                        </div>

                    </div>


                </div>
                 
             </div>
           </form>
           </mat-card>

        <button class="btn btn-primary download download-pad" type="submit">Export as CSV</button>

        <!--Material Table-->

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="purchaseNo">
                    <th mat-header-cell *matHeaderCellDef>Purchase Order No </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> {{element.purchaseNo}} </td>
                </ng-container>

                <ng-container matColumnDef="projectNo">
                    <th mat-header-cell *matHeaderCellDef> Project No </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> {{element.projectNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="piAmt">
                    <th mat-header-cell *matHeaderCellDef> PO Amount </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> {{element.piAmt}} </td>
                </ng-container>

                <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef> Remarks </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> {{element.remarks}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element" class="value-bold"> <button (click)="OnEdit(element)" class="background-none"><i class="fa fa-eye mr-2" aria-hidden="true"></i><i class="fa fa-pencil " aria-hidden="true"></i></button> </td>
                </ng-container>

                <!-- <ng-container matColumnDef="remainder">
        <th mat-header-cell *matHeaderCellDef> Remainder </th>
        <td mat-cell *matCellDef="let element" class="value-bold"> <button>Send</button> </td>
      </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator class="font-paginator" [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
        </div>

        <!--Materail Table End-->
        <div class="m-5"></div>

    </div>

</div>