<div class="purchase-order">
<form>
    <!--FIRST ROW-->
    <div class="row">
        <div class="col-1">
            <div class="form-group">
                <label for="purchaseOrder">Purchase Order Number</label>
                <input type="text" class="form-control" id="purchaseOrder" aria-describedby="purchaseOrderHelp">
                <small id="purchaseOrderHelp" class="form-text text-muted"></small>
              </div>
        </div>
        <div class="col-1">
            <div class="form-group">
                <label for="projectNo">Project Number</label>
                <input type="text" class="form-control" id="projectNo" aria-describedby="projectNoHelp">
                <small id="projectNoHelp" class="form-text text-muted"></small>
              </div>
        </div>
        <div class="col-1">
            <div class="form-group">
                <label for="projectName">Project Name</label>
                <input type="text" class="form-control" id="projectName" aria-describedby="projectNameHelp">
                <small id="projectNameHelp" class="form-text text-muted"></small>
              </div>
        </div>
        <div class="col-1">
            <div class="form-group">
                <label for="userId">User ID</label>
                <input type="text" class="form-control" id="userId" aria-describedby="userIdHelp">
                <small id="userIdHelp" class="form-text text-muted"></small>
              </div>
        </div>
        

        <div class="col-1">
            <div class="form-group">
                <label for="dateFor">Date</label>
                <input type="date" class="form-control" id="dateFor" aria-describedby="dateHelp">
                <small id="dateHelp" class="form-text text-muted"></small>
              </div>
        </div>
        <div class="col-1">
            <div class="form-group">
                <label for="poAmount">PO Amount</label>
                <input type="number" class="form-control" id="poAmount" aria-describedby="poAmountHelp">
                <small id="poAmountHelp" class="form-text text-muted"></small>
              </div>
        </div>
       
        <div class="col-1">
            <!-- <div class="form-group">
                <label for="poStatus">PO Status</label>
                <input type="text" class="form-control" id="poStatus" aria-describedby="poStatusHelp">
                <small id="poStatusHelp" class="form-text text-muted"></small>
              </div> -->
              <div class="form-group">
                <label for="poStatus">PO Status</label>
                <select 
                    name="poStatus" 
                    id="poStatus" 
                    class="form-control">
                    <option>Received</option>
                    <option>Approved</option>
                    <option>Pending</option>
                    <option>Rejected</option>
                    <option>On hold</option>
                </select>
            </div>
              
        </div>
        <div class="col-1">
            <!-- <div class="form-group">
                <label for="piStatus">PI Status</label>
                <input type="text" class="form-control" id="piStatus" aria-describedby="piStatusHelp">
                <small id="piStatusHelp" class="form-text text-muted"></small>
              </div> -->
              <div class="form-group">
                <label for="piStatus">PI Status</label>
                <select 
                    name="piStatus" 
                    id="piStatus" 
                    class="form-control">
                    <option>Received</option>
                    <option>Approved</option>
                    <option>Pending</option>
                    <option>Rejected</option>
                    <option>On hold</option>
                </select>
            </div>
        </div>
        

      <div class="col-1">
         
            <div class="form-group">
              <label for="PiReceived">PI PiReceived</label>
              <select 
                  name="PiReceived" 
                  id="PiReceived" 
                  class="form-control">
                  <option>full</option>
                  <option>Partial</option>
              </select>
          </div>
      </div>
      <div class="col-1">
            <div class="form-group">
              <label for="paymentStatus">Payment Status</label>
              <select 
                  name="paymentStatus" 
                  id="paymentStatus" 
                  class="form-control">
                  <option>Received</option>
                  <option>Pending</option>
                  <option>On hold</option>
              </select>
          </div>
      </div>
      <div class="col-1">
          <div class="form-group">
              <label for="remark">Remark</label>
              <input type="text" class="form-control" id="remark" aria-describedby="remarkHelp">
              <small id="remarkHelp" class="form-text text-muted"></small>
            </div>
      </div>
      <div class="col-1">
          <div class="form-group">
              <label for="piBillable">PI Billable </label>
              <input type="text" class="form-control" id="piBillable" aria-describedby="piBillableHelp">
              <small id="piBillableHelp" class="form-text text-muted"></small>
            </div>
      </div>
      <div class="col-1">
          <div class="form-group">
              <label for="poBillable">PO Billable </label>
              <input type="text" class="form-control" id="poBillable" aria-describedby="poBillableHelp">
              <small id="poBillableHelp" class="form-text text-muted"></small>
            </div>
      </div>
      <div class="col-1">
        <div class="form-group">
          <label>Pdf Upload</label> <input type="file" name="imagefile" accept="image/jpeg, image/png">
        </div>
      </div>
    </div>




<button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>