<!-- <div class="col-md-10 main"> -->

    <div class="col-md-10 main">
        <mat-card> 
        <app-account-header [title]="'User Creation'"></app-account-header>
        <!-- <div class="col-md-12 p-0">
             
            <div class="headers"><span>User Creation</span> 
               
            </div>
       
         </div> -->
        <form class="" [formGroup]="form">
            <!--FIRST ROW-->

            <div class="row formAlignment">
                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="userName" 
                        [labelName]="labels.userName"
                        placeHolder =  "Enter the User Name" 
                        [mandatoryField]="true" 
                        [patternCheck]="labels?.validationData.userName.patternCheck"
                        [id]="'UserName'" 
                        [isRequired]="'User name is Mandatory'" 
                        [maxLength]="labels?.validationData.userName.maxLength" 
                        [isDirty]="isDirty"
                         >
                    </app-custom-input>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="password" 
                        [labelName]="labels.password"
                        placeHolder =  "Enter the Password" 
                        [mandatoryField]="true" 
                        [id]="'Password'" 
                        [isRequired]="'Password is Mandatory'" 
                        [custom]="passwordValidation" 
                        [isDirty]="isDirty">
                    </app-custom-input>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="name" 
                        [labelName]="labels.name" 
                        placeHolder =  "Enter the Name"
                        [mandatoryField]="true" 
                        [id]="'Name'" 
                        [patternCheck]="labels?.validationData.name.patternCheck"
                        [isRequired]="'Name is Mandatory'" 
                        [maxLength]="labels?.validationData.userName.maxLength" 
                        [isDirty]="isDirty">
                    </app-custom-input>
                    </div>
    
                </div>

            </div>
    
            <div class="row formAlignment">
    
                <div class="col-4">
                    <div class="form-group">
                        <label for="department">Department<span style="color:red">*</span></label>
                        <!-- <select  id="department" class="form-control" aria-describedby="emailHelp">
                      <option [value]="list.value" *ngFor = "let list of deparmentList">{{list.key}}</option> -->

                      <app-vf-custom-select formControlName="departmentName" [values]="deparmentList"
                 [isRequired]="'Please Select Department'" [isDirty]="isDirty"></app-vf-custom-select>
                        
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="role">Role<span style="color:red">*</span></label>
                        <!-- <select  id="department" class="form-control" aria-describedby="emailHelp">
                      <option [value]="list.value" *ngFor = "let list of deparmentList">{{list.key}}</option> -->

                      <app-vf-custom-select formControlName="roleName" [values]="roleList"
                 [isRequired]="'Please Select Role'" [isDirty]="isDirty"></app-vf-custom-select>
                        
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="employeeCode" 
                        [labelName]="labels.employeeCode" 
                        placeHolder =  "Enter the Employee Code"
                        [id]="'employeeCode'" 
                        [isRequired]="'Employee code is Mandatory'" 
                        [maxLength]="labels?.validationData.employeeCode.maxLength" 
                        [mandatoryField]="true" 
                        [isDirty]="isDirty" >
                        </app-custom-input>
                    </div>
                </div>


            </div>
            <!--SECOND ROW-->
            <div class="row formAlignment">

                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="designation" 
                        [labelName]="labels.designation" 
                        placeHolder =  "Enter the Designation"
                        [mandatoryField]="true" 
                        [id]="'designation'" 
                        [isRequired]="'Designation is Mandatory'" 
                        [maxLength]="labels?.validationData.designation.maxLength" 
                        [isDirty]="isDirty">
                        </app-custom-input>
                    </div>
                </div>
                
                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="email" 
                        [labelName]="labels.email" 
                        placeHolder = "Enter the Email"
                        [id]="'email'" 
                        [isRequired]="'Email is Mandatory'" 
                        [patternCheck]="labels?.validationData.email.patternCheck" [maxLength]="labels?.validationData.email.maxLength" [mandatoryField]="true" [isDirty]="isDirty">

                        </app-custom-input>
                    </div>
                </div>

                <div class="col-1 pr-2 mr-0">
                    <div class="form-group">
                       
                        <label for="department">Code<span style="color:red">*</span></label>
                        <app-vf-custom-select formControlName="countryCode" [className]="'form-control Mandatory code-pad'" [values]="countryCodeValues"
                        [isRequired]="'Select code'" [isDisabled]="propertyFlag"
                        [isDirty]="isDirty">
                    </app-vf-custom-select>
                    </div>
                </div> 

                <div class="col-3">
                    <div class="form-group">
                    
                        <app-custom-input formControlName="mobileNo" 
                        [labelName]="labels.mobileNo" 
                        placeHolder =  "Enter the Mobile Number"
                        [id]="'mobileNo'" 
                        [isRequired]="'Mobile number is Mandatory'" 
                        [type]="labels?.validationData.mobile.type" 
                        [patternCheck]="labels?.validationData.mobile.patternCheck" 
                        [maxLength]="labels?.validationData.mobile.maxLength" 
                        [mandatoryField]="true" [isDirty]="isDirty">

                        </app-custom-input>


                    </div>
                </div>


              



                <!-- <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="telPhno" 
                        [labelName]="labels.teleNumber" 
                        [id]="'telPhno'" 
                        [isRequired]="'Telephone number is Mandatory'" 
                        [type]="labels?.validationData.telephoneNumber.type" 
                        [patternCheck]="labels?.validationData.telephoneNumber.patternCheck" 
                        [maxLength]="labels?.validationData.telephoneNumber.maxLength" 
                        [mandatoryField]="true" 
                        [isDirty]="isDirty">
                        </app-custom-input>
                    </div>
                </div> -->

    
            </div>
    
            <!--THIRD ROW-->
            <div class="row formAlignment">

                <div class="col-1 pr-2 mr-0">
                    <div class="form-group">
                       
                        <label for="department">Code<span style="color:red">*</span></label>
                        <app-vf-custom-select formControlName="teleCode" [className]="'form-control Mandatory code-pad'" [values]="teleCodeValues"
                        [isRequired]="'Select code'" [isDisabled]="propertyFlag"
                        [isDirty]="isDirty">
                    </app-vf-custom-select>
                    </div>
                </div>
                <div class="col-3 pl-2 ml-0">
                    <div class="form-group">
                        <app-custom-input formControlName="telPhno" 
                        [labelName]="labels.teleNumber" 
                        placeHolder = "Enter the Telephone Number"
                        [id]="'telPhno'"
                        [isRequired]="'Telephone number is Mandatory'" 
                        [mandatoryField]="true"
                        [type]="labels?.validationData.telephoneNumber.type"
                        [patternCheck]="labels?.validationData.telephoneNumber.patternCheck"
                        [maxLength]="labels?.validationData.telephoneNumber.maxLength"
                        [isDisabledInp]="propertyFlag" [isDirty]="isDirty">
                        </app-custom-input>
                    </div>
    
                </div>
                
                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="offAddress1" 
                        [labelName]="labels.officialAdd1" 
                        placeHolder =  "Enter the Address1"
                        [id]="'offcAddressLine1'" 
                        [isRequired]="'Office AddressLine 1 is Mandatory'" 
                        [maxLength]="labels?.validationData.officeAddress.maxLength" 
                        [mandatoryField]="true" 
                        [isDirty]="isDirty">
                        </app-custom-input>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <!-- <label for="offcAddressLine2">Official Address Line 2<span style="color:red">*</span></label>
                        <input type="text" class="form-control"  id="offcAddressLine1" aria-describedby="offcAddressLine2Help">
                        <small id="offcAddressLine2Help" class="form-text text-muted"></small> -->
                        <app-custom-input formControlName="offAddress2" 
                        [labelName]="labels.officialAdd2" 
                        placeHolder =  "Enter the Address2"
                        [id]="'offcAddressLine2'" 
                        [isRequired]="'Office AddressLine 2 is Mandatory'" 
                        [maxLength]="labels?.validationData.officeAddress.maxLength" 
                        [mandatoryField]="true" 
                        [isDirty]="isDirty">
                        </app-custom-input>

                    </div>
                </div>

              
    
            </div>
    
            <!--FOURTH ROW-->
            <div class="row formAlignment">

                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="offAddress3" 
                        [labelName]="labels.officialAdd3" 
                        placeHolder =  "Enter the Address3"
                        [id]="'offcAddressLine3'" 
                        [isRequired]="'Office AddressLine 3 is Mandatory'" 
                        [maxLength]="labels?.validationData.officeAddress.maxLength" 
                        [mandatoryField]="true" 
                        [isDirty]="isDirty">
                        </app-custom-input>

                    </div>
                </div>
               
                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="city" 
                        [labelName]="labels.city" 
                        placeHolder =  "Enter the City Name"
                        [id]="'city'" 
                        [isRequired]="'City is Mandatory'" 
                        [maxLength]="labels?.validationData.city.maxLength" 
                        [mandatoryField]="true" 
                        [isDirty]="isDirty">
                        </app-custom-input>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="state" 
                        [labelName]="labels.state" 
                        placeHolder = "Enter the State"
                        [id]="'state'" 
                        [isRequired]="'State is Mandatory'" 
                        [maxLength]="labels?.validationData.state.maxLength"  
                        [mandatoryField]="true" 
                        [isDirty]="isDirty">
                        </app-custom-input>
                    </div>
                </div>
            </div>
            <div class="row formAlignment">
                <div class="col-4">
                    <div class="form-group">

                        <app-custom-input formControlName="pinCode" 
                        [labelName]="labels.pincode" 
                        placeHolder =  "Enter the PinCode"
                        [id]="'pincode'" 
                        [isRequired]="'Pincode is Mandatory'" 
                        [maxLength]="labels?.validationData.pincode.maxLength" 
                        [type]="labels?.validationData.pincode.type" 
                        [mandatoryField]="true" 
                        [isDirty]="isDirty">
                        </app-custom-input>


                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <app-custom-input formControlName="remark" 
                            [labelName]="labels.remark" 
                            placeHolder =  "Enter the Remark"
                            [id]="'remark'"
                            [maxLength]="labels?.validationData.remark.maxLength" 
                            [isRequired]="'Remark is Mandatory'"
                            [isDisabledInp]="propertyFlag"
                            [isDirty]="isDirty">
                        </app-custom-input>
                    </div>
                </div>
             
        </div>
    
            <!-- <ng-template [ngIf]="existingUserFlag">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="creditAdded">Credit added</label>
                            <input type="text" class="form-control" formControlName="creditAdded" [readonly]="propertyFlag" id="creditAdded" aria-describedby="creditAddedHelp">
                            <small id="creditAddedHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="creditApproved">Credit approver</label>
                            <input type="text" class="form-control" formControlName="creditApproved" [readonly]="propertyFlag" id="creditApproved" aria-describedby="creditApprovedHelp">
                            <small id="creditApprovedHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="creditDate">Credit date</label>
                            <input type="date" class="form-control" formControlName="creditDate" [readonly]="propertyFlag" id="creditDate" aria-describedby="creditDateHelp">
                            <small id="creditDateHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="creditAddedAgainstPi">Credit added against the PI</label>
                            <input type="date" class="form-control" formControlName="creditAddedAgainstPi" [readonly]="propertyFlag" id="creditAddedAgainstPi" aria-describedby="creditAddedAgainstPiHelp">
                            <small id="creditAddedAgainstPiHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
    
    
                </div>
            </ng-template> -->
            <div class="row pt-3 pb-3 m-0">
                <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>
            </div>
        </form>
    </mat-card>
    </div>

<!-- </div> -->