<div class="col-md-12 userForm shadow p-3 mb-5 bg-white rounded">

    <h1 class="h3  text-gray-800 mb-2">Manage Roles</h1>

    <form class="pt-4" [formGroup]="rolesControl">
        <!--FIRST ROW-->

        <div class="row pad-row">
            <div class="col-4">
                <div class="form-group">
                    <label for="department">Choose Roles</label>
                    <app-vf-custom-select [values]="rolesList" 
                    formControlName="rolesList"
                        (change)="onChangeRole($event)">
                    </app-vf-custom-select>
        </div>

    </div>
    </div>

    </form>



    <!-- <button class="btn btn-primary download download-pad"  (click)="submitData()" type="button">Submit</button> -->
        
        <!--Material Table-->

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          
            <ng-container matColumnDef="ScreenName">
              <th mat-header-cell *matHeaderCellDef> Screen Name </th>
              <td mat-cell *matCellDef="let element"> {{element.screenName}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Mapping">
              <th mat-header-cell *matHeaderCellDef> Mapping </th>
              <td mat-cell *matCellDef="let element"> {{element.mappingStatus}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Modify">
              <th mat-header-cell *matHeaderCellDef> Modify </th>
              <td mat-cell *matCellDef="let element"> 
                  <button (click) = "mappingMethod()">Modify</button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        <div class="m-5"></div>

</div>