.title{

    font-family: arial;
    color:white;
    font-weight: 550;
}

.account-info {
    text-align: right;
    color:white;
    font-size: 16px;
    font-weight: 450;
}

.label-color {
    color: white
}

.icons {
    color: white;
    line-height : 0px !important;
    padding-bottom: 30px;
}

mat-card {
    padding: 10px;
    background: #0d4d92 !important;
    margin-bottom: 20px !important;
}


.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  button {
    background-color: #f8f9fa !important;
    color: #0b4d92 !important;
  }