.title {
    font-family: arial;
    color: white;
    font-weight: 550;
}

.account-info {
    text-align: right;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.label-color {
    color: white
}

.icons {
    color: white;
    line-height: 0px !important;
    // padding-bottom: 30px;
}

.accountHeader {
    padding: 10px;
    background: #276678 !important;
    // margin-bottom: 20px !important;
    font-size: 20px;
    font-weight: 500;
    border-color: #276678;
    border-style: solid;
    vertical-align: middle !important;
    width: 100;
    color: #fff;
    padding-bottom: 9px;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    width: 490px;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

button {
    background-color: #f8f9fa !important;
    color: #0b4d92 !important;
}

.dashBoard {
    background: #276678 !important;
    color: #fff!important;
    margin-bottom: 17px;
    // height: 44px;
    // padding-top: 10px;
    // padding-left: 10px;
    font-size: 21px;
    font-weight: 500;
    border-color: #276678;
    border-style: solid;
    vertical-align: middle !important;
    padding: 10px;
}

.material-icons {
    font-size: 22px !important;
}


/* Updated css */

.btn-upload {
    margin-left: 5px;
    cursor: pointer;
    background-color: #2ca2b9;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 1px 8px 1px #0da6d0 inset;
    font-size: 13px;   
}
font-fam {
    font-size: 13px;
    font-weight: bold;
    font-family: 'Roboto'!important;
}
.upload-title {
    margin-left: 15px;
    font-size: 15px;
}