.title{

    font-family: arial;
    color: #0b4d92;
    font-weight: 550;
}

.account-info {
    text-align: right;
    color:grey;
    font-size: 16px;
    font-weight: 450;
}

.label-color {
    color: #0d4d92
}