span{
    line-height: 20px;
    // white-space: pre-wrap
}
label{
    margin-bottom: 0px;
}
.input-group-text {
    font-weight: 500;
}


.input-group-text{
font-size: 0.775rem !important;

}

span{
    font-size: 17px;
    font-weight: 599 !important;
    color: #363333e0;;
    text-align:right
}

label {
    line-height: 30px !important;
    font-size: 16px !important;
    font-weight: 450;
    color: #827979 !important;
}

.col-3 {
    margin-bottom: 8px;}

    // background: rgb(245, 245, 245);

    // rgb(245, 245, 245);

    .row-color {
        background: rgb(245, 245, 245) !important;
    }