span{
    line-height: 20px;
    // white-space: pre-wrap
}
label{
    margin-bottom: 0px;
}
.input-group-text {
    font-weight: 500;
}


.input-group-text{
font-size: 0.775rem !important;

}

span{
    font-size: 14px;
    font-weight: 410 !important;
    color: #363333e0;;
    text-align:right
}

label {
    line-height: 25px !important;
    font-size: 14px !important;
    font-weight: 500;
    color: #827979 !important;
}

.col-3 {
    margin-bottom: 8px;}

    // background: rgb(245, 245, 245);

    // rgb(245, 245, 245);

    .row-color {
        background: rgb(245, 245, 245) !important;
    }

    .dis-block {
        display: block;
    }
    .modal {
       left: 15%;
       top: 10%;
    }

    .modal-dialog {
        max-width: 50%;
      }