.list-group-item {
    background-color: initial !important;
    border-bottom: 1px solid #fff !important;
    // padding:.75rem 1.25rem;
    padding:0px !important;
}
.sidenav{
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    padding: 0px;
    width:14rem;
    position: fixed;
    height: 100%;
    z-index:2;  

}
a.logo_nic {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 800;
}
img.nic_logo {
    width: 146px;
    
    margin: 14px 13px 10px 17px;
   
}
// .list-group-item{
//     padding:0px !important;
// }

// .active-link {
//     background-color: yellow;
//   }

// .list-group-item > a{
//     padding-top:12px;padding-bottom:12px;margin:.75rem 1.25rem
// }





.version{

    position: fixed;
    bottom: -2px;
    padding: 10px;
    /* float: left; */
    margin-bottom: 4px;
    /* display: flex; */
    /* justify-content: end; */
    left: 10;
    left: 85px;
    /* right: 10px; */
    font-size: 18px;
    font-weight: 400;
}

.side-menu{
    background: #2ca2b9;
}

