<div class="sidenav">
    <ul class="list-group">
        <li class="list-group-item border-top-0">
         <a class="logo_nic p-0"><img src="assets/images/dashboard_nic_logo_1-1.png" class="nic_logo"></a>
        </li>
        <li class="list-group-item">
            <a routerLink = "/users/Dashboard" routerLinkActive="active-link" class="pr-0 pl-0"><i class="fa fa-tachometer pr-2" aria-hidden="true"></i>Dashboard</a>
        </li>

        <li class="list-group-item">
            <a routerLink = "/users/userInfo" routerLinkActive="active-link" class="pr-0 pl-0"><i class="fa fa-user-plus pr-2" aria-hidden="true"></i>New User</a>
        </li>
        
        
        <li class="list-group-item">
            <a routerLink = "/users/userInfo" routerLinkActive="active-link" class="pr-0 pl-0"><i class="fa fa-user pr-2"></i>Admin</a>
        </li>

        <li class="list-group-item">
            <a routerLink = "/users/reports" routerLinkActive="active-link"  class="pr-0 pl-0"><i class="fa fa-area-chart pr-2" aria-hidden="true"></i>Reports</a>
        </li>

      </ul>
</div>