<div class="sidenav">
    <ul class="list-group">
        <li class="list-group-item border-top-0">
            <a class="logo_nic p-0"><img src="assets/images/dashboard_nic_logo_1-1.png" class="nic_logo"></a>
        </li>
        <li class="list-group-item">
            <a routerLink="/users/Dashboard" (click) ="navigation('0')" [ngClass]="{'side-menu': (isLocation == '0')}" routerLinkActive="active-link" class=""><i class="fa fa-tachometer pr-2" aria-hidden="true"></i>Dashboard</a>
        </li>

        <li class="list-group-item">
            <a routerLink="/users/userInfo" (click) ="navigation('1')" [ngClass]="{'side-menu': (isLocation == '1')}"  routerLinkActive="active-link" class=""><i class="fa fa-user-plus pr-2" aria-hidden="true"></i>New Account</a>
        </li>


        <li class="list-group-item">
            <a routerLink="/admin/manageAdmin" (click) ="navigation('2')" [ngClass]="{'side-menu': (isLocation == '2')}"  routerLinkActive="active-link" class=""><i class="fa fa-user pr-2"></i>Admin</a>
        </li>

        <li class="list-group-item">
            <a routerLink="/users/reports" (click) ="navigation('3')" [ngClass]="{'side-menu': (isLocation == '3')}"  routerLinkActive="active-link" class=""><i class="fa fa-area-chart pr-2" aria-hidden="true"></i>Reports</a>
        </li>

        <!-- <li class="list-group-item">
            <a routerLink = "/admin/manage/users" routerLinkActive="active-link"  class=""><i class="fa fa-users pr-2" aria-hidden="true"></i>Manage Users</a>
        </li> -->

        <li class="list-group-item">
            <a routerLink="/users/email" (click) ="navigation('4')" [ngClass]="{'side-menu': (isLocation == '4')}"  routerLinkActive="active-link" class=""><i class="fa fa-envelope pr-2" aria-hidden="true"></i>Email</a>
        </li>

    </ul>


    <div class="version">
        version 0.0.0
    </div>
</div>