<div class="col-md-10 main">
    <mat-card>
        <div class="sms_credit_allocation">
            <!-- <h1 class="h4 mb-1 mt-1 text-gray-100 mb-3" matRipple style="font-family: arial;">
                SMS Credit Allocation</h1> -->

            <app-account-header [title]="'SMS Credit Allocation'" [accountName]="accountName" [status]="status" [user]="user"></app-account-header>

            <form (submit)="onSubmit()" [formGroup]="smsCreditAllocation">
                <div class="row">
                    <div class="col-4 pb-0">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="smsQuotaMetrix">{{labels.smsQuotaMetrix}}</label>
                                <app-vf-custom-select formControlName="smsQuotaMetrix" [values]="smsQuotaMetrix" [isDirty]="isDirty" [isDisabled]="propertyFlag">
                                </app-vf-custom-select>
                            </div>
                            <!-- <app-custom-input formControlName="smsQuotaMetrix" [labelName]="labels.smsQuotaMetrix"
                                [id]="'smsQuotaMetrix'" [maxLength]="labels?.validationData.name.maxLength"
                                [isDirty]="isDirty">
                            </app-custom-input> -->
                        </div>
                    </div>
                    <div class="col-4 pb-0">
                        <div class="form-group">
                            <app-custom-input formControlName="credit" [labelName]="labels.credit" [id]="'credit'" [maxLength]="labels?.validationData.userName.maxLength" [isDirty]="isDirty" [isDisabledInp]="propertyFlag">
                            </app-custom-input>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="creditDate">{{labels.date}}</label>
                            <mat-form-field [ngClass]="{'inp-date':propertyFlag}">
                                <input matInput [matDatepicker]="picker3" formControlName="date">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="status">{{labels.status}}</label>
                            <app-vf-custom-select formControlName="status" [values]="statusList" [isDirty]="isDirty" [isDisabled]="propertyFlag">
                            </app-vf-custom-select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <app-custom-input formControlName="onApprovalOf" [labelName]="labels.onApprovalOf" [id]="'onApprovalOf'" [maxLength]="labels?.validationData.userName.maxLength" [isDirty]="isDirty" [isDisabledInp]="propertyFlag">
                            </app-custom-input>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <app-custom-input formControlName="remark" [labelName]="labels.remark" [id]="'remark'" [maxLength]="labels?.validationData.userName.maxLength" [isDirty]="isDirty" [isDisabledInp]="propertyFlag">
                            </app-custom-input>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <app-custom-input formControlName="statusChangedBy" [labelName]="labels.statusChangedBy" [id]="'statusChangedBy'" [maxLength]="labels?.validationData.userName.maxLength" [isDirty]="isDirty" [isDisabledInp]="isDisabledInp" [isDisabledInp]="propertyFlag">
                            </app-custom-input>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <app-custom-input formControlName="timeStamp" [labelName]="labels.timeStamp" [id]="'timeStamp'" [maxLength]="labels?.validationData.name.maxLength" [isDirty]="isDirty" [isDisabledInp]="isDisabledInp" [isDisabledInp]="propertyFlag">
                            </app-custom-input>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row pt-3 pb-3 m-0">
                <button class="btn btn-primary" matRipple type="submit" *ngIf="!propertyFlag">{{'Submit'}}</button>
                <button class="btn btn-primary back-btn" [disabled]="!propertyFlag" matRipple (click)="editData()">Edit</button>

                <button class="btn btn-primary back-btn" matRipple (click)="back()">Back</button>
            </div>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="p-0">
                    <mat-expansion-panel-header matRipple>
                        <mat-panel-title>
                            History
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button style="float: right;margin-bottom: 1vw;margin-right: 1vw;margin-top: 1vw;" class="btn btn-primary download download-pad" type="submit">Export as CSV</button>
                    <div class="mat-elevation-z8" class="p-0">
                        <table mat-table [dataSource]="dataSource">

                            <ng-container matColumnDef="s.no">
                                <th mat-header-cell *matHeaderCellDef> S.No </th>
                                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="credit">
                                <th mat-header-cell *matHeaderCellDef>Credit</th>
                                <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
                            </ng-container>
                            <ng-container matColumnDef="expiryDate">
                                <th mat-header-cell *matHeaderCellDef>Expiry Date</th>
                                <td mat-cell *matCellDef="let element"> {{element.expiryDate}} </td>
                            </ng-container>
                            <ng-container matColumnDef="remark">
                                <th mat-header-cell *matHeaderCellDef>Remark</th>
                                <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns:displayedColumns;" class="example-element-row"></tr>

                        </table>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-card>
</div>