.sms_credit_allocation {
    margin-top: 15px;
    overflow-x: hidden;
}

button.btn.btn-primary {
    float: right;
    margin-left: 20px;
    background-color: #0e4d92 !important;
    border: 1px solid #0e4d92 !important;
    font-size: 13px;
}

.example-action-buttons {
    padding-bottom: 20px;
}

tr {
    td {
        vertical-align: middle;
        font-size: 14px;
        a {
            cursor: pointer;
            font-size: 14px;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    th {
        vertical-align: middle;
        font-size: 17px;
        font-weight: 500;
    }
    height: 65px;
}

table {
    margin-bottom: 0rem !important;
}

//   .example-form-field {
//     // width: 200px;
//     color: black;
//   }
// .example-form-field .label {
//     color: black;
// }
.h3,
h3 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2;
}

.mb-0,
.my-0 {
    margin-bottom: 0!important;
}

.text-gray-800 {
    color: #5a5c69!important;
}

table {
    width: 100%;
}

th {
    font-size: 16px;
    font-weight: 500;
    background-color: #0e4d92;
    color: #fff;
}

.font-size {
    font-size: 14px !important;
    font-weight: 500;
}

.border-left-primary {
    border-left: .25rem solid #4e73df !important;
}

.border-left-success {
    border-left: .25rem solid #1cc88a !important;
}

.border-left-info {
    border-left: .25rem solid #36b9cc !important;
}

.border-left-warning {
    border-left: .25rem solid #f6c23e !important;
}

tr.example-element-row:hover {
    background: whitesmoke;
}

::ng-deep .mat-select-value {
    font-size: 15px !important;
}

::ng-deep .mat-option-text {
    font-size: 15px !important;
}

::ng-deep .mat-option-text {
    font-size: 15px !important;
}

.mat-form-field {
    margin-top: -20px;
    padding: 0;
}

// .mat-expansion-panel-header {
//     line-height: 24px;
//     background-color: #dfdfdf !important;
//     font-weight: 500 !important;
// }

// .mat-expansion-panel-header:hover #mat-expansion-panel-header-0 {
//     background-color: #dfdfdf !important;
// }

.mat-expansion-panel-body {
    padding: 0px !important;
}

mat-expansion-panel-header#mat-expansion-panel-header-0 {
    height: 48px !important;
}


:ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0 13px 0px !important;
  }
  
  th.mat-header-cell {
    flex: 0 16% !important;
    width: 16% !important;
    line-height: 20px !important;
    text-align: left;
  }
  
  td.mat-cell {
    line-height: 24px !important;
    text-align: left;
    flex: 0 16% !important;
    width: 16% !important;
    line-height: 20px !important;
    word-break: break-all;
  }

  mat-card .search-card {
    margin-bottom: -5px !important;
  }

  button {
    height: 30px;
    border-radius: 5px;
    color: #ffffff !important;
    background-color: #0e4d92 !important;
    border-style: none;
    font-weight: 400;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0 13px 0px !important;
}

.background-none {
    background-color: initial !important;
    color: #0e4d92 !important;
}

mat-card .history-card {

    background: #0d4d92 !important;
    margin-bottom: 20px !important;
}

mat-card {
    width: 100% !important;
}

.mat-expansion-panel-header {
    line-height: 24px;
    margin-bottom: 10px;
    // background-color: #dfdfdf !important;
    background-color: #0d4d92 !important;
    font-weight: 500 !important;
}

.mat-expansion-panel-header:hover #mat-expansion-panel-header-0 {
    // background-color: #dfdfdf !important;
    background-color: #0d4d92 !important;
}

.mat-expansion-panel-header-title {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
    color: #f8f9fa;
}

:host ::ng-deep .mat-expansion-indicator::after {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle;
    color: #f8f9fa;
}

mat-card{

    box-shadow: none !important;
}


label {
    display: inline-block;
    margin-bottom: -0.1rem;
}