      <div class="userForm">
        <!-- <h2>View Customer Profile</h2> -->
      <form [formGroup] = "form">
        <!--FIRST ROW-->
        
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" formControlName = "name"  id="Name" aria-describedby="nameHelp">
                    <small id="nameHelp" class="form-text text-muted"></small>
                  </div>

            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="department">Department Name</label>
                    <input type="text" class="form-control" formControlName = "departmentName"  id="department" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted"></small>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="designation">Designation</label>
                    <input type="text" formControlName = "designation" class="form-control" id="designation" aria-describedby="designationHelp">
                    <small id="designationHelp" class="form-text text-muted"></small>
                  </div>
            </div>
            </div>
        <!--SECOND ROW-->
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="empCode">Employee Code</label>
                    <input type="text" class="form-control" formControlName = "employeeCode"  id="empCode" aria-describedby="empCodeHelp">
                    <small id="empCodeHelp" class="form-text text-muted"></small>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="emailAddress">Email address</label>
                    <input type="email" class="form-control" formControlName = "email"  id="emailAddress" aria-describedby="emailAddressHelp">
                    <small id="emailAddressHelp" class="form-text text-muted"></small>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="mobileNumber">Mobile Number</label>
                    <input type="number" class="form-control" formControlName = "mobileNo"  id="mobileNumber" aria-describedby="mobileNumberHelp">
                    <small id="mobileNumberHelp" class="form-text text-muted"></small>
                  </div>
            </div>
          
        </div>

        <!--THIRD ROW-->
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="telPhno">Telephone Number(Office)</label>
                    <input type="number" class="form-control" formControlName = "telPhno"  id="telPhno" aria-describedby="telPhnoHelp">
                    <small id="telPhnoHelp" class="form-text text-muted"></small>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="offcAddressLine1">Official Address line 1</label>
                    <input type="text" class="form-control" formControlName = "offAddress1" id="offcAddressLine1" aria-describedby="offcAddressLine1Help">
                    <small id="offcAddressLineHelp" class="form-text text-muted"></small>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="offcAddressLine2">Official Address line 2</label>
                    <input type="text" class="form-control" formControlName = "offAddress2" id="offcAddressLine1" aria-describedby="offcAddressLine2Help">
                    <small id="offcAddressLine2Help" class="form-text text-muted"></small>
                  </div>
            </div>
           
        </div>

        <!--FOURTH ROW-->
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="offcAddressLine3">Official Address line 3</label>
                    <input type="text" class="form-control" formControlName = "offAddress3" id="offcAddressLine3" aria-describedby="offcAddressLine3Help">
                    <small id="offcAddressLine3Help" class="form-text text-muted"></small>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" formControlName = "city" id="city" aria-describedby="cityHelp">
                    <small id="cityHelp" class="form-text text-muted"></small>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="State">State</label>
                    <input type="text" class="form-control" formControlName = "state" id="State" aria-describedby="StateHelp">
                    <small id="StateHelp" class="form-text text-muted"></small>
                  </div>
            </div>
           
        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="PinCode">Pin Code</label>
                    <input type="text" class="form-control" formControlName = "pinCode"  id="PinCode" aria-describedby="PinCodeHelp">
                    <small id="PinCodeHelp" class="form-text text-muted"></small>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="sms">SMS Traffic Month wise</label>
                    <input type="text" class="form-control" formControlName = "smsTariffMonthWise"  id="sms" aria-describedby="smsHelp">
                    <small id="smsHelp" class="form-text text-muted"></small>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="piDuration">PI duration / Period</label>
                    <input type="text" class="form-control" formControlName = "piDuration" id="piDuration" aria-describedby="piDurationHelp">
                    <small id="piDurationHelp" class="form-text text-muted"></small>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="projectNumber">Project No.</label>
                    <input type="text" class="form-control" formControlName = "projectNo" id="projectNumber" aria-describedby="projectNumberHelp">
                    <small id="projectNumberHelp" class="form-text text-muted"></small>
                  </div>
            </div>
        </div>
        <div class="row pt-3 pb-3 m-0">
          <button  class="btn btn-primary" type="submit">Submit</button>
        </div> 
      </form>
    </div>
    <div class="m-5"></div>