.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .customer_details{
      overflow-x: hidden;
      padding-top: 10px;
  }

  .userForm {
    overflow-x: hidden;
    padding-top: 55px;
    // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 16px !important;
    margin-top: 20px;
    overflow-y: hidden;
}



  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    label {
      display: inline-block;
      margin-bottom: .5rem;
    // color: #858796 !important;
      
}

h2{
  color: #5a5c69!important;
  font-weight: 400;
  font-size: 1.75rem;
    line-height: 1.2;
}
button.btn.btn-primary {
  background-color: #0e4d92 !important;
  border: 1px solid #0e4d92 !important;
  font-size: 13px;

}
label {
  font-size: 16px;
}
.mat-tab-group {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}
h2 {
  color: #5a5c69 !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2px !important;
  margin-bottom: 20px !important;
}
th.mat-header-cell:first-of-type{
  color: #0e4d92 !important;
  font-size: 16px !important;
}
th{
  background-color: #0e4d92;
    color: #fff;
}
// div#mat-tab-label-0-0 {
//   background-color: #ddd;
// }

.upload-choose-pad{
  padding:3px;
}

// ::ng-deep .mat-tab-label {  
//   background-color:#0e4d92 !important ;
// }

mat-form-field{
  margin-top: -1.2vw;
}


::ng-deep input.mat-input-element {
  color: #424242;
  font-size: 14px;
}

::ng-deep .inp-date,.mat-form-field-flex{

  pointer-events: none;

}

.mat-tab-label-active {
  background-color: #7cdcd2 !important;
  color: #fff;
  /* opacity: 1 !important; */
  border-color: #7cdcd2 !important;
}

.back-btn {
  margin-left:2vw
}

.material-icons{
  padding-right: 32px;
}
mat-expansion-panel{  
   margin-top: 20px;
   margin-bottom: 10px;
  
}
.mat-expansion-panel-header {
  line-height: 24px;
  
  background-color: #dfdfdf !important;
  font-weight: 500 !important;
}

.mat-expansion-panel-header:hover #mat-expansion-panel-header-0 {
  background-color: #dfdfdf !important;
}

.dis-block {
  display: block;
}
.code{
  padding-left:-1px !important;
}
.error-feedback{
  font-size: 0.9vw;
  font-family: zurich-bold;
  letter-spacing: .5px;
  color: red;
  padding-top: 0.5vw;
  line-height: 1.2vw;
}

.bottom-button {
  margin-top: 41px;
}


