<form [formGroup]="POForm" (keydown.enter)="$event.preventDefault()">
   
    <div class="row">
        <div class="col-4">
            <div class="form-group">

                <app-custom-input 
                    formControlName="userName" 
                    [isRequired]="'User Name is Mandatory'" 
                    [labelName]="labels.userName" placeHolder="Enter the User Name" 
                    [maxLength]="labels?.validationData?.userName?.maxLength" 
                    [type]="labels?.validationData?.userName?.type"
                    [isDirty]="isDirty" 
                    isDisabledInp= "true">
                </app-custom-input>

            </div>
        </div>
        <!-- <div class="col-4">
            <div class="form-group">

                <app-custom-input formControlName="piNumber" 
                    [isRequired]="'Proforma Invoice Number is Mandatory'" 
                    [labelName]="labels.piNumber" 
                    placeHolder = "Enter the Proforma Invoice Number"
                    [maxLength]="labels?.validationData?.piNumber?.maxLength" 
                    [type]="labels?.validationData?.piNumber?.type" 
                    [isDirty]="isDirty">
                </app-custom-input>
                

            </div>
        </div> -->

        <!-- <div class="col-4">
            <div class="form-group">
                <label for="department">{{labels.proformaIN}}</label>
                <input type="text" style="border: 1px solid #ced4da;border-radius: 0.25rem;" class="form-control mb-3" placeholder="click to select the Proforma Invoice Number" [formControl]="PurchaseOrderForm.controls['piNumber']" formControlName="piNumber" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let proformaInvoice of proformaInvoicesList" [value]="proformaInvoice.name">
                        {{proformaInvoice.name}}
                    </mat-option>
                </mat-autocomplete>
                <div class="date-picker-error" *ngIf="isDirty && PurchaseOrderForm.controls['piNumber'].errors?.required">
                    Please Enter the Proforma Invoice Number
                </div>
            </div>
        </div> -->

        <div class="col-4">
            <label for="">{{labels.proformaIN}}<span style="color: red;">*</span></label>
            <ng-multiselect-dropdown placeholder = "Choose the Proforma Invoice Number"
             formControlName = "piNumber"
             [data] = "proformaInvoicesList"
             [settings] = "dropDownSettings"
             (onSelect) = "onItemSelect($event)"
             required>
            </ng-multiselect-dropdown>
            
            <div class="date-picker-error" *ngIf="isDirty && POForm.controls['piNumber'].errors?.required">
                Please Enter the Proforma Invoice Number
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                    formControlName="poNumber" 
                    [mandatoryField]="true" 
                    [isRequired]="'Purchase Order Number is Mandatory'" 
                    [labelName]="labels.poNumber" 
                    placeHolder="Enter the Purchase Order Number" 
                    [maxLength]="labels?.validationData?.poNumber?.maxLength"
                    [type]="labels?.validationData?.poNumber?.type" 
                    [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <!-- <label for="smsApproved">SMS Approved</label>
<section class="example-section">
<mat-checkbox class="example-margin" formControlName="smsApproved" >Yes</mat-checkbox>

</section> -->

                <!-- <label for="smsApproved">{{labels.smsApproved}}</label> -->
                <!-- <app-vf-custom-select formControlName="smsApproved" [values]="smsApprovedList" [isRequired]="'Please Select SMS Approved'" [isDirty]="isDirty">
</app-vf-custom-select> -->

                <app-custom-input 
                    [mandatoryField]="true" 
                    formControlName="smsApproved" 
                    [isRequired]="'SMS Approved is Mandatory'" 
                    placeHolder = "SMS Count"
                    [type]="'number'" 
                    [labelName]="labels.smsApproved" 
                    [maxLength]="labels?.validationData?.smsApproved.maxLength" 
                    [isDirty]="isDirty">
                </app-custom-input>

            </div>
        </div>

        <div class="col-4">
            <div class="form-group">

                <app-custom-input 
                 formControlName="projectName" 
                 [mandatoryField]="true" 
                 [isRequired]="'Project Name is Mandatory'" 
                 [labelName]="labels.projectName" 
                 placeHolder="Enter the Project Name" 
                 [maxLength]="labels?.validationData?.projectName?.maxLength" 
                 [isDirty]="isDirty">
                </app-custom-input>

            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="dateFor">{{labels?.date}}<span style="color:red">*</span></label>

                <mat-form-field floatLabel="never">
                    <input matInput required formControlName="date" [matDatepicker]="picker1" (keyup)="detectDateKeyAction($event,'date')">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-placeholder>Choose The Date</mat-placeholder>
                </mat-form-field>
                <div class="date-picker-error" *ngIf="isDirty && POForm.get('date').errors?.required">
                    Please Select Date
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                 formControlName="withoutTax" 
                 [mandatoryField]="true" 
                 [isRequired]="'Without Tax is Mandatory'" 
                 [labelName]="labels.withoutTax" 
                 placeHolder="Enter the Without Tax Amount" 
                 [maxLength]="labels?.validationData?.withoutTax?.maxLength" [type]="labels?.validationData?.withoutTax?.type"
                 [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="poStatus">{{labels.poStatus}} <span style="color:red">*</span></label>
                <app-vf-custom-select 
                 formControlName="poStatus" 
                 [values]="poStatus" 
                 [isRequired]="'Please Select PO Status'" 
                 [isDirty]="isDirty">
                </app-vf-custom-select>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="Fromperiod">Valid From<span style="color:red">*</span></label>

                <mat-form-field floatLabel="never">
                    <input matInput [matDatepicker]="picker3" formControlName="startDate" [max]="POForm.get('endDate').value" (keyup)="detectDateKeyAction($event,'startDate')" required>
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    <mat-placeholder>Choose The Date</mat-placeholder>
                </mat-form-field>
                <div class="date-picker-error" *ngIf="isDirty && POForm.get('startDate').errors?.required">
                    Please Select Date
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="Toperiod">Valid Upto<span style="color:red">*</span></label>
                <mat-form-field floatLabel="never">
                    <input matInput [matDatepicker]="picker4" [min]="POForm.get('startDate').value" formControlName="endDate" (keyup)="detectDateKeyAction($event,'endDate')" required>
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                    <mat-placeholder>Choose The Date</mat-placeholder>
                </mat-form-field>

                <div class="date-picker-error" *ngIf=" isDirty && POForm.get('endDate').errors?.required">
                    Please Select Date
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                 formControlName="userEmail" 
                 [mandatoryField]="true" 
                 [labelName]="labels.userEmail" 
                 placeHolder="Enter the User Email" 
                 [id]="'email'" 
                 [isRequired]="'User Email is Mandatory'" 
                 [patternCheck]="labels?.validationData.email.patternCheck"
                 [maxLength]="labels?.validationData.email.maxLength" 
                 [isDirty]="isDirty">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">

                <app-custom-input 
                 formControlName="poManagerEmail" 
                 [mandatoryField]="true" 
                 [labelName]="labels.poManagerEmail" 
                 [id]="'email'" 
                 placeHolder="Enter the Manager Email" 
                 [isRequired]="'Manager Email is mandatory'" 
                 [patternCheck]="labels?.validationData.email.patternCheck"
                 [maxLength]="labels?.validationData.email.maxLength" 
                 [isDirty]="isDirty">
                </app-custom-input>



            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                    formControlName="projectNo" 
                    [mandatoryField]="true" 
                    [labelName]="labels.projectNo" 
                    [id]="'projectNo'" 
                    placeHolder="Enter the Project Number" 
                    [isRequired]="'Project number is Mandatory'" 
                    [maxLength]="labels?.validationData.projectNo.maxLength"
                    [isDirty]="isDirty" 
                    [type]="labels?.validationData.projectNo.type">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                  formControlName="poAmountWithTax" 
                  [mandatoryField]="true" 
                  [isRequired]="'Amount with Tax is Mandatory'" 
                  [labelName]="labels.poAmountWithTax" 
                  [placeHolder]="'Enter the Amount with Tax'" 
                  [maxLength]="labels?.validationData?.poAmountWithTax?.maxLength"
                  [type]="labels?.validationData?.poAmountWithTax?.type" 
                  [isDirty]="isDirty">
                </app-custom-input>

            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="department">{{labels.department}}<span style="color:red">*</span></label>
                <app-vf-custom-select 
                 formControlName="departmentName" 
                 [values]="departmentListData" 
                 [isRequired]="'Please Select Department'" 
                 [isDirty]="isDirty">
                </app-vf-custom-select>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="paymentStatus">{{labels.paymentStatus}}<span style="color:red">*</span></label>
                <app-vf-custom-select 
                 formControlName="paymentStatus" 
                 [values]="paymentStatus" 
                 [isRequired]="'Please Select Payment Status'" 
                 [isDirty]="isDirty">
                </app-vf-custom-select>
            </div>
        </div>

        <!-- <div class="col-4">
            <div class="form-group">
                <app-custom-input formControlName="remark" 
                [labelName]="labels.remark" [id]="'remark'"
                placeHolder =  "Enter the Remark" 
                [isRequired]="'Remark is Mandatory'"
                [maxLength]="labels?.validationData.userName.maxLength" 
                [isDirty]="isDirty" [isDisabledInp]="propertyFlag">
                </app-custom-input>
            </div>
        </div> -->

        <div class="col-4">
            <div class="form-group">
                <label class="mb-0" for="remarks">{{labels.remark}}</label><span style="color:red">*</span>
                <textarea class="form-control mb-3" maxlength="3000" style="height: 56px;" placeholder="Enter the Remark" formControlName='remark' id="remarks" rows="3"></textarea>
                <div class="date-picker-error" *ngIf="isDirty && POForm.controls['remark'].errors?.required">
                    Please Enter Remark
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="documentUpload">{{docAvailFlag ? labels?.changeDoc :labels?.uploadDoc}}</label>
                <input type="file" accept="application/pdf" class="form-control upload-choose-pad" formControlName="uploadDocument" id="documentUpload" (change)="uploadFile($event.target.files)">
                <small id="poBillableHelp" class="form-text text-muted"></small>
            </div>
        </div>

        <div *ngIf = "docAvailFlag" class="col-4 pb-3">
            <label for="document">Document</label><br>
              <button class="btn btn-primary" style="float: left;" (click)="preview()">View</button>
          </div>

    </div>

    <div>
        <button class="btn btn-primary" style="float:left" (click)="saveForm()">{{btnText}}</button>
        <ng-content></ng-content>
    </div>

    <!-- <div class="row pt-3 pb-3 m-0">
       
        <div class="col-10">

            <button class="btn btn-primary" style="float:left" (click)="submitFormData()">Submit</button>

        </div>

        <div class="col-1" style="float: left;">
            <button class="btn btn-primary ml-3" (click)="back()">Back</button>

        </div>

        <div class="col-1" style="float: left;">
            <button class="btn btn-primary ml-3" (click)="next()">Next</button>

        </div>
    </div> -->
</form>