<h1 mat-dialog-title>Schedule Email</h1>
<form [formGroup] = "emailform">
<div class="row">
<div  class="col-3 justify-content-star mr-2" >
    <mat-form-field 
    class="col-10 form-control" style="margin-left: 26px;border:none">
        <mat-label>From Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fromScheduleDate" 
        [min]="today">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<!-- <div class="col-1 form-control">
    <mat-form-field appearance="none">
        <input type="text" aria-label="Number" matInput formControlName="fromtime"
            [matAutocomplete]="auto" placeholder="Time"
            >
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div> -->
<!-- <span  class="d-flex justify-content-star pl-3 mt-3">--</span> -->
<div  class="col-3 justify-content-star mr-2" >
    <mat-form-field class="col-10 form-control" 
    style="margin-left: 15px;border:none">
        <mat-label>To Date</mat-label>
        <input matInput formControlName="toScheduleDate"
        [matDatepicker]="picker1"
        [min]="this.emailform.controls['fromScheduleDate'].value"
        >
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
</div>

<div  class="col-3">
    <mat-form-field class="col-10 form-control" 
    style="margin-left: 15px;border:none">
    <mat-label>Time</mat-label>
        <input type="text"  aria-lab el="Number" 
        matInput formControlName="scheduleTime"
            [matAutocomplete]="auto1" (input)="onTimeInput($event)">
        <mat-autocomplete #auto1="matAutocomplete">
            <mat-option *ngFor="let opt of filteredOptions1 | async" [value]="opt">
                {{opt}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>

<!-- <div class="col-3 form-group">
    <label>Time</label>
    <ngb-timepicker formControlName = "scheduleTime"></ngb-timepicker>
</div> -->

<div class="pl-2 pt-2 mt-3" style="font-size: 14px;"><i class="fa fa-clock-o fa-lg pr-2" aria-hidden="true"></i>(Asia/Calcutta)</div>
</div>
<div mat-dialog-actions>
<button class="btn btn-primary mt-4 mr-4" mat-dialog-close cdkFocusInitial [disabled] = "emailform.invalid" (click) = "scheduleEmail()">Send</button>
<button class="btn btn-primary mt-4 float-right" mat-dialog-close>Close</button>

</div>
</form>