// .login input {
//   border: 1px solid #6c757d;
//   background-color: #ffffff;
//   color: #1e2126;
//   font-size: 14px;
// }

.login {
    // width: 30%;
    margin: auto;
    background: #ffffff;
    // border: 1px solid #6c757d;
    // box-shadow: 2px 2px #ded9d9;
  }

  .login p {
    font-size: 13px;
  }

  .content-wrap {
    padding-bottom: 3rem;
  }


  .sidenav {
    min-height: calc(100vh - 68px);
    width: 183px;
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0;
    left: 0;
    background-color:#0E4D92;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav a {
    padding:12px;
    text-decoration: none;
    // font-size: 1.25rem;
    font-size: 14px;
    color: #fff;
    display: block;
  }

  // .sidenav a:hover {
  //   background-color: #e7e7e7;
  //   background-repeat: no-repeat;
  //   background-position: right;
  //   font-size: 15px;
  //   text-decoration: none;
  //   color: #4268d6;
  // }

  .sidenav .active {
    // background-color: #e7e7e7;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 15px;
  }


  body {
    font-family: "Roboto", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    color: #4e73df;
  }

  
  .main {
    margin-left: 225px;
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 10px;
    display: flex;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    position: absolute;
    top: 52px;
    z-index: 0;
    background: #eff6fd !important;
    margin-bottom:50px;
  }

  @media screen and (max-height: 450px) {
    // .sidenav {
    //   padding-top: 15px;
    // }
    .sidenav a {
      font-size: 16px;
    }
  }

  .user {
    width: 40%;
    margin: auto;
    background: #ffffff;
    border: 1px solid #6c757d;
  }

  .user input {
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #1e2126;
    font-size: 14px;
  }


  .logo {
    position: relative;
    height: 68px;
  }
  
  .logo::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 13px;
    top: 0;
    left: 0;
    background-color: #c7ecf9;
  }
  
  .logo h4 {
    top: 25px;
    position: relative;
    float: right;
    color: #c7ecf9;
    font-size: 18px;
  }


  h2 {
    font-size: 22px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    width: 100%;
    background-color: #f3f3f3;
  }
  
  footer h6 {
    font-size: 10px;
    // color: $maroon-color;
    padding: 5px;
    margin-top: 20px;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;line-height:12px; }
label{
  font-size:14px !important;color:#414141 !important;
  font-weight: 400px !important;
}
.form-control{font-size: 13px !important;}
button.btn.btn-primary {
  float: right;
  background-color: #0e4d92 !important;
  border: 1px solid #0e4d92 !important;
  font-size: 13px;

}
