@import "variable";
// .login input {
//   border: 1px solid #6c757d;
//   background-color: #ffffff;
//   color: #1e2126;
//   font-size: 14px;
// }
.login {
    // width: 30%;
    margin: auto;
    background: #ffffff6b;
    // border: 1px solid #6c757d;
    // box-shadow: 2px 2px #ded9d9;
}

.login p {
    font-size: 13px;
}

.content-wrap {
    padding-bottom: 3rem;
}

.sidenav {
    min-height: calc(100vh - 68px);
    width: 183px;
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0;
    left: 0;
    background-color: #0E4D92;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 13px;
    text-decoration: none;
    // font-size: 1.25rem;
    font-size: 14px;
    color: #fff;
    display: block;
    font-weight:500;
}



// .sidenav a:hover {
//   background-color: #e7e7e7;
//   background-repeat: no-repeat;
//   background-position: right;
//   font-size: 15px;
//   text-decoration: none;
//   color: #4268d6;
// }
.sidenav .active {
    // background-color: #e7e7e7;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 14px;
}

body {
    font-family: "Roboto", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    color: #4e73df;
    background-color: #eff6fd !important;
}

.main {
    margin-top: 0vw;
    margin-left: 225px;
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 10px;
    display: flex;
    padding-right: 1.0rem;
    padding-left: 1.0rem;
    position: absolute;
    top: 49px;
    z-index: 0;
    background: #eff6fd !important;
    margin-bottom: 50px;
}

// @media screen and (max-height: 450px) {
//     // .sidenav {
//     //   padding-top: 15px;
//     // }
//     .sidenav a {
//         font-size: 12px;
//         font-weight:500;
//     }
// }

.dashBoard, .accountHeader{
    font-size:18px!important;
}


.user {
    width: 40%;
    margin: auto;
    background: #ffffff;
    border: 1px solid #6c757d;
}

.user input {
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #1e2126;
    font-size: 14px;
}

.logo {
    position: relative;
    height: 68px;
}

.logo::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 13px;
    top: 0;
    left: 0;
    background-color: #c7ecf9;
}

.logo h4 {
    top: 25px;
    position: relative;
    float: right;
    color: #c7ecf9;
    font-size: 18px;
}

h2 {
    font-size: 22px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    width: 100%;
    background-color: #f3f3f3;
}

footer h6 {
    font-size: 10px;
    // color: $maroon-color;
    padding: 5px;
    margin-top: 20px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: 12px;
}

label {
    font-size: 14px !important;
    color: #414141 !important;
    font-weight: 400px !important;
}

.error-feedback {
    font-size: 0.9vw;
    font-family: zurich-bold;
    letter-spacing: .5px;
    color: red;
    padding-top: 0.5vw;
    line-height: 1.2vw;
}

.form-control {
    font-size: 14px !important;
}

button.btn.btn-primary {
    float: right;
    background-color: #0e4d92 !important;
    border: 1px solid #0e4d92 !important;
    font-size: 13px;
}

.value-bold {
    font-size: 16px;
    font-weight: 400;
}

.font-paginator {
    font-size: 14px;
    font-weight: 500;
}

mat-form-field {
    width: 100%;
}

.date-picker-error {
    font-size: 0.9vw;
    font-family: zurich-bold;
    letter-spacing: .5px;
    color: red;
    margin-top: -0.7vw;
}

.text-gray-800 {
    color: #5a5c69 !important;
}


/****changes done by rajapriya***/

tr.mat-header-row {
    height: 40px !important;
}

tr.mat-row {
    height: 40px !important;
}

mat-card.mat-card {
    margin-bottom: 100px;
}

.example-element-row:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.04);
}

label {
    line-height: 30px !important;
    font-size: 15px !important;
    font-weight: 450;
}

.form-group {
    margin-bottom: 0rem;
}

.mat-form-field-flex {
    margin-top: -7px;
}

.mat-expansion-panel-header {
    height: 45px;
}

.mat-expansion-panel-header {
    margin-bottom: 0px !important;
}

.col-md-6.h3.text-gray-800.mb-3.mat-ripple {
    font-size: 24px;
    margin-top: -5px;
}

// .mat-form-field-infix {
//     margin-top: -10px !important;
// }
.mat-expansion-panel-header {
    background-color: #f1f1f1 !important;
}

.modal-content {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

//design change
@media(min-width: 1800px) {
    .main {
        margin-left: 265px;
        padding: 0;
    }
}

.logo_header {
    background: #ffffffb3;
}

.mat-calendar-body-selected {
    background-color: #0e4d92;
    color: #fff;
}

// tr {
//     td {
//         vertical-align: middle;
//         font-size: 16px !important;
//         color: #0e4d92de !important;
//         font-weight: 500 !important;
//         a {
//             cursor: pointer;
//             // font-size: 14px;
//         }
//         a:hover {
//             text-decoration: underline;
//         }
//     }
//     th {
//         vertical-align: middle;
//         font-size: 17px !important;
//         font-weight: 500 !important;
//     }
//     height: 65px;
// }
.mat-row:hover>.mat-cell {
    // background-color:#e2d9d9 ;
    background-color: #41b1c791 !important;
}

.formAlignment {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 5px;
}

.mat-dialog-title {
    margin: 0 0 20px;
    background-color: #0e4d92 !important;
    border: 1px solid #0e4d92 !important;
    display: block;
    padding: 5px;
    color: white;
    font-size: 18px !important;
    font-weight: 420;
}

// mat-table:not(.mat-calendar-table){
// }
.custom-table td {
    vertical-align: middle;
    // font-size: 16px !important;
    color: #0e4d92de !important;
    font-weight: 500 !important;
}

.custom-table a {
    cursor: pointer;
    // font-size: 14px;
}

.custom-table a:hover {
    text-decoration: underline;
}

.custom-table th {
    vertical-align: middle;
    // font-size: 17px !important;
    font-weight: 500 !important;
}

.custom-table tr {
    height: 65px;
}

// .table-td{
//     vertical-align: middle;
//     font-size: 16px !important;
//     color: #0e4d92de !important;
//     font-weight: 500 !important;
//     a {
//         cursor: pointer;
//     }
//     a:hover {
//         text-decoration: underline;
//     }
// }
// .table-th{
//     vertical-align: middle;
//     font-size: 17px !important;
//     font-weight: 500 !important;
// }
// .table-tr{
//     height: 65px;
// }
.custom-label {
    display: inline-block;
    margin-bottom: -0.1rem;
    font-size: 16px;
}

.bold-lable {
    font-weight: bold;
}



.modal-dialog {
    max-width: 734px !important;
    margin: 1.75rem auto;
}

.fa-eye {
    font-size: 15px;
}



.custom-material-icons { 
    font-size: 21px !important;
}

.fa-paper-plane { 
    font-size: 16px;
}

.remark {
    width: 90%;
    border: 1px solid #a5b0bb;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 8px;
}

.font-small {
    font-size: 14px;
}

.font-weight-500{
    font-weight:500;
}

@media screen and (min-width: 992px) and (max-width:1163px) {
    .font-small {
        font-size: 9px!important;
    }

    .nav-link.p-1 {
        color: #858585;
        padding: 13px !important;
        font-size: 12px!important;
    
    }
}

@media screen and (min-width: 1163px) and (max-width:1433px) {
    .font-small {
        font-size: 12px;
    }

    .nav-link.p-1 {
        color: #858585;
        padding: 13px !important;
        font-size: 12px!important;
    
    }
}

@media screen and (min-width: 1433px) and (max-width:2000px){
   
    .nav-link.p-1 {
        color: #858585;
        padding: 13px !important;
        font-size: 12px!important;
    
    }
}