<h2 mat-dialog-title>Project Execution</h2>
<mat-dialog-content class="mat-typography">

  <app-view-info [userDetails]="viewInfoData" *ngIf="!showEdit"></app-view-info>
    <form [formGroup]="ProjectExcecutionForm" (keydown.enter)="$event.preventDefault()" *ngIf="showEdit">
        <!-- <div class="row pt-3 pb-3 m-0 d-flex justify-content-end">
      <button  class="btn btn-primary" type="submit"><i class="fa fa-upload pr-2"></i>Bulk Upload</button>
    </div>  -->
    <div class="row">
        <div class="col-4">
          <div class="form-group">
            <!-- <label for="purchaseOrder">{{labels?.purchaseON}}</label> -->
            <app-custom-input formControlName="userName" 
            [isRequired]="'UserName is Mandatory'" 
            [labelName]="labels.userName" 
            [maxLength]="labels?.validationData?.name?.maxLength"
            [type]="labels?.validationData?.name?.type"
            [isDirty]="isDirty"
            [isDisabledInp]="enableflag">
            </app-custom-input>
            </div>
        </div>

        <div class="col-4">
          <div class="form-group">
           <app-custom-input formControlName = "piNumber" 
           [isRequired] = "'PI Number is Mandatory'"
           [labelName] ="labels.proformaIN"
           [maxLength] ="labels?.validationData?.proformaIN?.maxLength"
           [type] ="labels?.validationData?.proformaIN?.type"
           [isDirty] ="isDirty"
           [isDisabledInp]="enableflag">
           </app-custom-input>
          </div>
        </div>

        <!-- <div class="col-4">
            <div class="form-group">
                <app-custom-input formControlName = "piDate"
                [isRequired] = "'Purchase Invoice Date is Mandatory'"
                [labelName] = "labels.invoiceDate"
                [maxLength] = "labels?.validationData?.invoiceDate.maxLength"
                [isDirty] = "isDirty">
                </app-custom-input>
            </div>
        </div> -->

        <div class="col-4">
          <div class="form-group">
               <label for="invoiceDate">Proforma Invoice Date</label>
            <!--  <input type="date" class="form-control" id="invoiceDate" aria-describedby="invoiceDateHelp">
              <small id="invoiceDateHelp" class="form-text text-muted"></small> -->

              <mat-form-field>
                <input matInput [disabled]="enableflag" [matDatepicker]="picker1" formControlName="invoiceDate" (keyup)="detectDateKeyAction($event,'invoiceDate')" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

              <div class="date-picker-error"  *ngIf="
                isDirty &&
                ProjectExcecutionForm.get('invoiceDate').errors?.required
              ">
                  Please select date
            </div>

            </div>
      </div>


  

        <div class="col-4">
            <div class="form-group">
                <app-custom-input formControlName = "piAmount"
                [isRequired] = "'Purchase Invoice Number is Mandatory'"
                [labelName] = "labels.piAmount"
                [maxLength] = "labels?.validationData?.piAmount.maxLength"
                [type] = "labels?.validationData?.piAmount.type"
                [isDirty] = "isDirty"
                [isDisabledInp]="enableflag">
              </app-custom-input>
            </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="modeOfPayment">{{labels.modeOfPayment}}</label>
             <app-vf-custom-select formControlName ="modeOfPayment" [values] = "modeOfPaymentList"
             [isRequired] = "'Please Select the Payment'" [isDirty] = "isDirty"
             [isDisabled]="enableflag"></app-vf-custom-select>
          </div>
      </div>
        <div class="col-4">
            <div class="form-group">
                <app-custom-input formControlName = "documentNo"
                [isRequired] = "'Document Number is Mandatory'"
                [labelName] = "labels.documentNo"
                [maxLength] = "labels?.validationData?.documentNo.maxLength"
                [type] = "labels?.validationData?.documentNo.type"
                [isDirty] = "isDirty"
                [isDisabledInp]="enableflag">
              </app-custom-input>
            </div>
        </div>

        <div class="col-4">
          <div class="form-group">
               <label for="invoiceDate">Date of Transaction</label>
            <!--  <input type="date" class="form-control" id="invoiceDate" aria-describedby="invoiceDateHelp">
              <small id="invoiceDateHelp" class="form-text text-muted"></small> -->
  
              <mat-form-field>
                <input matInput [matDatepicker]="picker2" formControlName="transactionDate" [disabled] = "enableflag" (keyup)="detectDateKeyAction($event,'transactionDate')" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
  
              <div class="date-picker-error"  *ngIf="
                isDirty &&
                ProjectExcecutionForm.get('transactionDate').errors?.required
              ">
                  Please select date
            </div>
  
            </div>
      </div>
        

        <div class="col-4">
            <div class="form-group">
              <app-custom-input formControlName = "bankName"
              [isRequired] = "'Bank Name/Branch is Mandatory'"
              [labelName] = "labels.bankName"
              [maxLength] = "labels?.validationData?.bankName.maxLength"
              [type] = "labels?.validationData?.bankName.type"
              [isDirty] = "isDirty"
              [isDisabledInp]="enableflag">
           </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input 
                formControlName = "amountReceived"
                [isRequired] = "'Amount Received is Required'"
                [labelName] = "labels.amountReceived"
                [maxLength] = "labels?.validationData?.amountReceived.maxLength"
                [type] = "labels?.validationData?.amountReceived.type"
                [isDirty] = "isDirty"
                [isDisabledInp]="enableflag">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input formControlName = "tds"
                [isRequired] = "'TDS is Required'"
                [labelName] = "labels?.tds"
                [maxLength] = "labels?.validationData?.tds.maxLength"
                [type] = "labels?.validationData?.tds.type"
                [isDirty] = "isDirty"
                [isDisabledInp]="enableflag">
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <app-custom-input formControlName = "NICSIProjectNo"
                [isRequired] = "'NICSI Project Number is Required'"
                [labelName] = "labels?.nicsiProjectNumber"
                [maxLength] = "labels?.validationData?.nicsiProjectNumber.maxLength"
                [type] = "labels?.validationData?.nicsiProjectNumber.type"
                [isDisabledInp]="enableflag"
                >
                </app-custom-input>
            </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="modeOfPayment">PI Paid</label>
             <app-vf-custom-select [isDisabled] = "enableflag" formControlName ="piPaid" [values] = "piPaidValues"
             [isRequired] = "'Please Select the PI paid'" [isDirty] = "isDirty" ></app-vf-custom-select>
          </div>
      </div>
      <div class="col-4">
        <div class="form-group">
            <app-custom-input formControlName="remark"
            [isDisabledInp]="enableflag"
            [labelName]="labels.remark" [id]="'remark'" 
            [maxLength]="labels?.validationData.userName.maxLength" 
            [isDirty]="isDirty"
            [isRequired] = "'Please enter the remark'">
            </app-custom-input>
        </div>
    </div>
        <!-- <div class="col-4">
          <div class="form-group">
              <label for="poBillable">Upload Document</label>
              <input type="file" [disabled] = "enableflag" class="form-control upload-choose-pad" id="poBillable" aria-describedby="poBillableHelp">
              <small id="poBillableHelp" class="form-text text-muted"></small>
            </div>
      </div> -->

      <div class="col-4">

        <div class="form-group">
          <label for="document">Document</label>
          <div class="pd-2">
            <span> {{'invoice.pdf'}} </span>

            <button class="btn btn-primary" style="position: absolute;
                    left: 8vw;
                    bottom: 0.5vw;" (click)="viewDoc()">View</button>
          </div>



        </div>
      </div>


      </div>

    </form>

        <div class="row pt-3 pb-3 m-0" style="padding-top: 2rem !important;">
            <button class="btn btn-primary" *ngIf="!showUpdate" (click)="OnEdit()">Edit</button>
            <button class="btn btn-primary" *ngIf="showUpdate" (click)="OnUpdate()">Update</button>
            <button mat-button (click)="closeDialog()" cdkFocusInitial>Close</button>
        </div>

    
</mat-dialog-content>



<div class="modal" id="uploadModal" [ngClass]="{ 'dis-block': showUploadModal }" *ngIf="showUploadModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Upload Document</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showUploadModal = false">&times;</button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-12">
            <div class="form-group" style="cursor: pointer;" (click)="showPDF()">

              <img [src]="imageUrl ? 'data:image/jpeg;base64,' + imageUrl : 'assets/images/upload-icon.png'"
                height="80px" width="80px" />
            </div>
          </div>
          <div class="col-12 pt-3 ">
            <div class="form-group ml-1">
              {{fileName}}
            </div>
            <div class="form-group small ml-1 pt-2 pb-3">
              {{fileSize}}
            </div>
            <div class="form-group row" style="margin-left: 5px">
              
              <div class="pt-2 pr-2 pb-3">
                <button matRipple class=" btn btn-primary" style="font-size: 10px;" (click)="download()">Download</button>
              </div>
              <div class="pt-2 pb-3">
                <button matRipple class=" btn btn-primary" style="font-size: 10px;" (click)="showDeleteModal = true">Remove</button>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 small pr-2">
            <div class="form-group">
              {{fileName}}
            </div>
            <div class="form-group">
              {{fileSize}}
            </div>
            <div class="form-group row" style="margin-left: 0.5vw">
              
              <div class="pr-2">
                <button matRipple class=" btn btn-primary" style="font-size: 10px;" (click)="download()">Download</button>
              </div>
              <div class="pr-2">
                <button matRipple class=" btn btn-primary" style="font-size: 10px;" (click)="showDeleteModal = true">Remove</button>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-12">

                <div class="form-group"> -->


          <!-- <mat-card class="col-sm-12" style="padding:4px">
                    <div style="display: flex;align-items: center;justify-content: center;"> -->
          <!-- <img [src]="selectedPdf" class="img-responsive img" /></div> -->

          <!-- <embed width="100%" height="100%" src="'data:application/pdf;base64,' + selectedPdf" type="application/pdf" /> -->

          <!-- </div>
                    </mat-card> -->


          <!-- <embed width="100%" height="100%" [src]="selectedPdf" type="application/pdf" />

                  </div>
                

              </div> -->

          <div class="col-12"style="margin-left:5px">

              <div class="pd-3 pb-3 pt-3">
                <button matRipple type="button" class="btn btn-primary" style="float: left;"
                  (click)="fileInput.click()">Choose Document</button>
              </div>

              <!-- <button type="button" class="btn btn-primary" style="float: left;">Save</button>
                  <button type="button" class="btn btn-primary" style="float: left;"  (click)="fileInput.click()"> Choose Upload</button> -->
            </div>
          </div>
          <input #fileInput type="file" style="display: none;"  (input)="onFileSelect($event)" />

        </div>

      </div>
    </div>
  </div>


  <div class="modal" id="pdfModal" [ngClass]="{ 'dis-block': showPdfModal }" *ngIf="showPdfModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:800px">
        <div class="modal-header text-center">
          <h4 class="modal-title">View PDF</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="showPdfModal = false;showUploadModal = true">&times;</button>
        </div>
        <div class="modal-body" style="height:500px">
  
        </div>
  </div>
  </div>
  </div>


  <div
class="modal"
id="deleteModal"
[ngClass]="{ 'dis-block': showDeleteModal }"
>
<div class="modal-dialog">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header text-center">
      <h4 class="modal-title"></h4>
      <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <p id="">
          Are you sure you want to remove this pdf ?
      </p>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer text-center">
      <button
        type="button"
        class="btn btn-success"
        data-dismiss="modal"
        id="ucic_lead"

      >
        <!-- (click)="checkNegativeList()" -->

        Yes
      </button>
      <button
        type="button"
        class="btn btn-danger"
        data-dismiss="modal"
        (click)="showDeleteModal = false"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
</div>

<app-remark-modal *ngIf="remarkModal" [showRemarkModal]="remarkModal" (onOkay)="remarkOkay()"></app-remark-modal>

<app-data-saved-modal *ngIf="showDataSaveModal" [showSavedModal]="showDataSaveModal" [data]="dataValue" (yes)="saveYes()" (cancel)="saveCancel()"></app-data-saved-modal>