
.save-popup{
    max-width: 500px !important;
    top: 20% !important;
    color: #0d4d92;
}

.dis-block {
    display: block;
  }

  .msg-data{
      font-size: 17px;
  }
  
  .text-color {
      font-size: 20px;
      color:  #0e4d92 ;
  }