<div class="modal">
    <div class="modal-content">
        <div class="header">
            <span class="header-title">{{screenName}} Records</span>
            <span class="close-icon" (click)="onCancel()">&times;</span>
        </div>        
        
    
        
        
        
        
        <div class="table-container">
            <table class="custom-table">
                <thead>
                    <th>No</th>
                    <ng-container *ngFor="let head of tableHeader">
                    <th *ngIf="head !== 'StatusCode' && head !== 'StatusMessage'">{{head}}</th>
                       
                    </ng-container>
                    <th>StatusMessage</th>

                </thead>
                 
                <tr *ngFor="let element of tableData; let i =index">
                    <td>{{i+1}}</td>
                    <ng-container *ngFor="let key of tableHeader">
                        <td *ngIf="key !== 'StatusMessage' &&   key !== 'StatusCode'">{{element[key]}}</td>
                    </ng-container>
                    <td [ngClass]="{'color-green': element.StatusCode === '0', 'color-red': element.StatusCode !== '0'}">{{element.StatusMessage}} </td>
                </tr>
        
        
              
            </table>
        
            
        
        
        </div>
        <div class="footer-modal">
            <!-- <div class="footer-btn">
            
            <button class="btn btn-primary btn-save" (click)="onSave()">Save valid records</button>
            <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
        </div>

            <span class="example-spacer"></span> -->
            
        
            <mat-toolbar>
                <mat-toolbar-row>
                    <div>
                        <button class="btn btn-primary btn-save" (click)="onSave()">Save valid records</button>
            <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
                    </div>
                  <!-- <mat-icon (click)="exportCsv(dataSource)" title="Export as CSV">save_alt</mat-icon> -->
                  <!-- <span class="example-spacer"></span> -->
                  <!-- <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->
                  <mat-paginator class="font-paginator" [pageSizeOptions]="[25]" showFirstLastButtons [length]="dataSource?.length" (page)="onPageChange($event)"></mat-paginator>
                </mat-toolbar-row>
              </mat-toolbar>
        
        </div>
    </div>
</div>