<h2 mat-dialog-title>User Info</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
        <!-- <div class="row pt-3 pb-3 m-0 d-flex justify-content-end">
      <button  class="btn btn-primary" type="submit"><i class="fa fa-upload pr-2"></i>Bulk Upload</button>
    </div>  -->
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <!-- <label for="invoiceNumber">Invoice Number</label>
                    <input type="email" [disabled]="enableflag" value="3434" class="form-control" id="invoiceNumber" aria-describedby="invoiceNumberHelp">
                    <small id="invoiceNumberHelp" class="form-text text-muted"></small> -->


                    <!-- <label for="Name">Name<span style="color:red">*</span></label>
                        <input type="text" class="form-control" [disabled]="enableflag" value="ajith"  id="Name" aria-describedby="nameHelp">
                        <small id="nameHelp" class="form-text text-muted"></small> -->

                    <app-custom-input formControlName="name" [labelName]="labels.name" [mandatoryField]="true" [id]="'Name'" [isRequired]="'Name is mandatory'" [maxLength]="labels?.validationData.name.maxLength" [isDisabledInp]="enableflag"></app-custom-input>



                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="department">Department<span style="color:red">*</span></label>
                    <!-- <select  id="department" class="form-control" [disabled]="enableflag" aria-describedby="emailHelp">
                  <option [value]="list.value" *ngFor = "let list of deparmentList">{{list.key}}</option> -->
                    <!-- <option>Department of Sainik Welfare</option>
                  <option>Minstry of minority affairs</option>
                  <option>Vishakhapatnam port Trust </option>
                  <option>minstry of trible affairs</option>
                  <option>Bureasu of Naviks.Mumbai</option> -->
                    <!-- </select> -->

                    <app-vf-custom-select formControlName="departmentName" [values]="deparmentList" [isRequired]="'Please Select Department'" [isDisabled]="enableflag"></app-vf-custom-select>


                    <!-- <small id="emailHelp" class="form-text text-muted"></small> -->
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <!-- <label for="designation">Designation<span style="color:red">*</span></label>
                    <input type="text" [disabled]="enableflag"  value="desigation" class="form-control" id="designation" aria-describedby="designationHelp">
                    <small id="designationHelp" class="form-text text-muted"></small> -->

                    <app-custom-input formControlName="designation" [labelName]="labels.designation" [mandatoryField]="true" [id]="'designation'" [isRequired]="'Designation is mandatory'" [maxLength]="labels?.validationData.designation.maxLength" [isDisabledInp]="enableflag">

                    </app-custom-input>


                </div>
            </div>


            <div class="col-4">
                <div class="form-group">
                    <!-- <label for="empCode">Employee Code<span style="color:red">*</span></label>
                    <input type="text" class="form-control" value='NIC004567' [disabled]="enableflag"  id="empCode" aria-describedby="empCodeHelp">
                    <small id="empCodeHelp" class="form-text text-muted"></small> -->

                    <app-custom-input formControlName="employeeCode" [labelName]="labels.employeeCode" [id]="'employeeCode'" [isRequired]="'Employee code is mandatory'" [maxLength]="labels?.validationData.employeeCode.maxLength" [mandatoryField]="true" [isDisabledInp]="enableflag">

                    </app-custom-input>


                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <!-- <label for="emailAddress">Email address<span style="color:red">*</span></label>
                    <input type="email" class="form-control" value='emailcheck@nic.in' [disabled]="enableflag"  id="emailAddress" aria-describedby="emailAddressHelp">
                    <small id="emailAddressHelp" class="form-text text-muted"></small> -->

                    <app-custom-input formControlName="email" [labelName]="labels.email" [id]="'email'" [isRequired]="'Email is mandatory'" [patternCheck]="labels?.validationData.email.patternCheck" [maxLength]="labels?.validationData.email.maxLength" [mandatoryField]="true"
                        [isDisabledInp]="enableflag">

                    </app-custom-input>


                </div>
            </div>


            <!-- <div class="col-4">
                <div class="form-group">
                   
                    <app-custom-input formControlName="mobileNo" [labelName]="labels.mobileNo" [id]="'mobileNo'" [isRequired]="'Mobile number is mandatory'" [type]="labels?.validationData.mobile.type" [patternCheck]="labels?.validationData.mobile.patternCheck" [maxLength]="labels?.validationData.mobile.maxLength"
                        [mandatoryField]="true" [isDisabledInp]="enableflag">

                    </app-custom-input>


                </div>
            </div> -->


            <div class="col-1 pr-2 mr-0">
                <div class="form-group">
                   
                    <label for="department">Code<span style="color:red">*</span></label>
                    <app-vf-custom-select formControlName="countryCode" [className]="'form-control Mandatory code-pad'" [values]="countryCodeValues"
                    [isRequired]="'Select code'" [isDisabled]="enableflag"
                    [isDirty]="isDirty">
                </app-vf-custom-select>
                </div>
            </div> 

            <div class="col-3">
                <div class="form-group">
                
                    <app-custom-input formControlName="mobileNo" 
                    [labelName]="labels.mobileNo" 
                    [id]="'mobileNo'" 
                    [isRequired]="'Mobile number is Mandatory'" 
                    [type]="labels?.validationData.mobile.type" 
                    [patternCheck]="labels?.validationData.mobile.patternCheck" 
                    [maxLength]="labels?.validationData.mobile.maxLength" 
                    [mandatoryField]="true" [isDisabledInp]="enableflag">

                    </app-custom-input>


                </div>
            </div>


            <!-- <div class="col-4">
                <div class="form-group">

                    <app-custom-input formControlName="telPhno" [labelName]="labels.teleNumber" [id]="'telPhno'" [isRequired]="'Telephone number is mandatory'" [type]="labels?.validationData.telephoneNumber.type" [patternCheck]="labels?.validationData.telephoneNumber.patternCheck"
                        [maxLength]="labels?.validationData.telephoneNumber.maxLength" [mandatoryField]="true" [isDisabledInp]="enableflag">

                    </app-custom-input>


                </div>
            </div> -->



            <div class="col-1 pr-2 mr-0">
                <div class="form-group">
                   
                    <label for="department">Code<span style="color:red">*</span></label>
                    <app-vf-custom-select formControlName="teleCode" [className]="'form-control Mandatory code-pad'" [values]="teleCodeValues"
                    [isRequired]="'Select code'" [isDisabled]="enableflag"
                    [isDirty]="isDirty">
                </app-vf-custom-select>
                </div>
            </div>
            <div class="col-3 pl-2 ml-0">
                <div class="form-group">
                    <app-custom-input formControlName="telPhno" 
                    [labelName]="labels.teleNumber" [id]="'telPhno'"
                    [isRequired]="'Telephone number is Mandatory'" 
                    [mandatoryField]="true"
                    [type]="labels?.validationData.telephoneNumber.type"
                    [patternCheck]="labels?.validationData.telephoneNumber.patternCheck"
                    [maxLength]="labels?.validationData.telephoneNumber.maxLength"
                    [isDisabledInp]="enableflag">
                    </app-custom-input>
                </div>

            </div>






            <div class="col-4">
                <div class="form-group">
                    <!-- <label for="offcAddressLine1">Official Address line 1<span style="color:red">*</span></label>
                    <input type="text" class="form-control" value='chennai' [disabled]="enableflag"  id="offcAddressLine1" aria-describedby="offcAddressLine1Help">
                    <small id="offcAddressLineHelp" class="form-text text-muted"></small> -->
                    <app-custom-input formControlName="offAddress1" [labelName]="labels.officialAdd1" [id]="'offcAddressLine1'" [isRequired]="'Office AddressLine1 is mandatory'" [maxLength]="labels?.validationData.officeAddress.maxLength" [mandatoryField]="true" [isDisabledInp]="enableflag">

                    </app-custom-input>


                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <!-- <label for="offcAddressLine2">Official Address line 2<span style="color:red">*</span></label>
                    <input type="text" class="form-control" value='trichy' [disabled]="enableflag"  id="offcAddressLine1" aria-describedby="offcAddressLine2Help">
                    <small id="offcAddressLine2Help" class="form-text text-muted"></small> -->

                    <app-custom-input formControlName="offAddress2" [labelName]="labels.officialAdd2" [id]="'offcAddressLine2'" [isRequired]="'Office AddressLine2 is mandatory'" [maxLength]="labels?.validationData.officeAddress.maxLength" [mandatoryField]="true" [isDisabledInp]="enableflag">

                    </app-custom-input>


                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <!-- <label for="offcAddressLine3">Official Address line 3<span style="color:red">*</span></label>
                    <input type="text" class="form-control" value='pondicherry' [disabled]="enableflag"    id="offcAddressLine3" aria-describedby="offcAddressLine3Help">
                    <small id="offcAddressLine3Help" class="form-text text-muted"></small> -->

                    <app-custom-input formControlName="offAddress3" [labelName]="labels.officialAdd3" [id]="'offcAddressLine3'" [isRequired]="'Office AddressLine3 is mandatory'" [maxLength]="labels?.validationData.officeAddress.maxLength" [mandatoryField]="true" [isDisabledInp]="enableflag">

                    </app-custom-input>


                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <!-- <label for="city">City<span style="color:red">*</span></label>
                    <input type="text" class="form-control" value='Chennai' [disabled]="enableflag"   id="city" aria-describedby="cityHelp">
                    <small id="cityHelp" class="form-text text-muted"></small> -->

                    <app-custom-input formControlName="city" [labelName]="labels.city" [id]="'city'" [isRequired]="'City is mandatory'" [maxLength]="labels?.validationData.city.maxLength" [mandatoryField]="true" [isDisabledInp]="enableflag">

                    </app-custom-input>


                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <!-- <label for="State">State<span style="color:red">*</span></label>
                    <input type="text" class="form-control"  value='TamilNadu' [disabled]="enableflag"  id="State" aria-describedby="StateHelp">
                    <small id="StateHelp" class="form-text text-muted"></small> -->

                    <app-custom-input formControlName="state" [labelName]="labels.state" [id]="'state'" [isRequired]="'State is mandatory'" [maxLength]="labels?.validationData.state.maxLength" [mandatoryField]="true" [isDisabledInp]="enableflag">

                    </app-custom-input>


                </div>
            </div>


            <div class="col-4">
                <div class="form-group">
                    <!-- <label for="PinCode">Pin Code<span style="color:red">*</span></label>
                    <input type="text" class="form-control" value='600026' [disabled]="enableflag" id="PinCode" aria-describedby="PinCodeHelp">
                    <small id="PinCodeHelp" class="form-text text-muted"></small> -->

                    <app-custom-input formControlName="pinCode" [labelName]="labels.pincode" [id]="'pincode'" [isRequired]="'Pincode is mandatory'" [maxLength]="labels?.validationData.pincode.maxLength" [type]="labels?.validationData.pincode.type" [mandatoryField]="true"
                        [isDisabledInp]="enableflag">

                    </app-custom-input>


                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <app-custom-input formControlName="remark" [labelName]="labels.remark" [id]="'remark'"
                        [maxLength]="labels?.validationData.remark.maxLength" 
                        [isRequired]="'Remark is mandatory'"
                        [isDisabledInp]="enableflag"
                        [isDirty]="isDirty">
                    </app-custom-input>
                </div>
            </div>


            <!-- <div class="col-4">
      <div class="form-group">
          <label for="poBillable">Upload Document</label>
          <input type="file" class="form-control" id="poBillable" aria-describedby="poBillableHelp">
          <small id="poBillableHelp" class="form-text text-muted"></small>
        </div>
  </div> -->
        </div>



        <div class="row pt-3 pb-3 m-0">
            <button class="btn btn-primary" type="submit" (click)="OnUpdate()">{{buttonName}}</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
        </div>

    </form>
</mat-dialog-content>

<app-remark-modal *ngIf="remarkModal" [showRemarkModal]="remarkModal" (onOkay)="remarkOkay()"></app-remark-modal>
