button.mat-button.mat-button-base {
    background-color: #0e4d92 !important;
    margin-left: 10px;
    color: white;
    border: 1px solid #0e4d92 !important;
    font-size: 13px;
    
}
.mat-dialog-title {
    margin: 0 0 20px;
    background-color: #0e4d92 !important;
    border: 1px solid #0e4d92 !important;
    display: block;
    padding: 10px;
    color: white;
}